{% extends "newModel/base.html" %}
{% block content %}
<h1>Finds</h1>
<table class="table table-striped">
        <tr>
                <td>Finds type</td>
                <td>{{ object.finds_type }}</td>
        </tr>
        <tr>
                <td>Material</td>
                <td>{{ object.material }}</td>
        </tr>
        <tr>
                <td>Reference</td>
                <td>{{ object.reference }}</td>
        </tr>
        <tr>
                <td>Comment</td>
                <td>{{ object.comment }}</td>
        </tr>
        <tr>
                <td>Area</td>
                <td>{{ object.area }}</td>
        </tr>
        <tr>
                <td>Research event</td>
                <td>{{ object.research_event }}</td>
        </tr>
        <tr>
                <td>
                        <a class ="btn btn-primary" href="/newModel/{{ object.get_classname }}/update/{{ object.id }}"> Edit </a>
                </td>
                <td>
                        <a class ="btn btn-danger btn-sm" href="/newModel/{{ object.get_classname }}/delete/{{ object.id }}"> Delete </a>
                </td>
            </tr>
</table>
{% endblock content %}