{% extends "newModel/base.html" %}
{% block content %}
<h1>Period</h1>
<table class="table table-striped">
        <tr>
                <td>Period name</td>
                <td>{{ object.period_name }}</td>
        </tr>
        <tr>
                <td>Start date 1 BC</td>
                <td>{{ object.start_date1_BC }}</td>
        </tr>
        <tr>
                <td>Start date 2 BC</td>
                <td>{{ object.start_date2_BC }}</td>
        </tr>
        <tr>
                <td>End date 1 BC</td>
                <td>{{ object.end_date1_BC }}</td>
        </tr>
        <tr>
                <td>End date 2 BC</td>
                <td>{{ object.end_date2_BC }}</td>
        </tr>
         <tr>
                <td>Dating method</td>
                <td>{{ object.dating_method }}</td>
        </tr>
         <tr>
                <td>Dated by</td>
                <td>{{ object.dated_by }}</td>
        </tr>
         <tr>
                <td>C14: calibrated</td>
                <td>{{ object.c14_calibrated }}</td>
        </tr>
        <tr>
                <td>Reference</td>
                <td>{{ object.reference }}</td>
        </tr>
        <tr>
                <td>Comment</td>
                <td>{{ object.comment }}</td>
        </tr>
        <tr>
                <td>
                        <a class ="btn btn-primary" href="/newModel/{{ object.get_classname }}/update/{{ object.id }}"> Edit </a>
                </td>
                <td>
                        <a class ="btn btn-danger btn-sm" href="/newModel/{{ object.get_classname }}/delete/{{ object.id }}"> Delete </a>
                </td>
            </tr>
</table>
{% endblock content %}