{% extends "newModel/base.html" %}
{% block content %}
<h1>Period</h1>
<table class="table table-striped">
        <tr>
                <td>Chronological system</td>
                <td>{{ object.chronological_system }}</td>
        </tr>
        <tr>
                <td>Name</td>
                <td>{{ object.name }}</td>
        </tr>
        <tr>
                <td>Absolute date from</td>
                <td>{{ object.absolute_date_from }}</td>
        </tr>
        <tr>
                <td>Absolute date to</td>
                <td>{{ object.absolute_date_to }}</td>
        </tr>
        <tr>
                <td>Dating method</td>
                <td>{{ object.dating_method }}</td>
        </tr>
        <tr>
                <td>Dated by</td>
                <td>{{ object.dated_by }}</td>
        </tr>
        <tr>
                <td>C14: calibrated</td>
                <td>{{ object.c14_calibrated }}</td>
        </tr>
        <tr>
                <td>C14: absolute from</td>
                <td>{{ object.c14_absolute_from }}</td>
        </tr>
        <tr>
                <td>C14: absolute to</td>
                <td>{{ object.c14_absolute_to }}</td>
        </tr>
        <tr>
                <td>Reference</td>
                <td>{{ object.reference }}</td>
        </tr>
        <tr>
                <td>Comment</td>
                <td>{{ object.comment }}</td>
        </tr>
        <tr>
                <td>
                        <a class ="btn btn-primary" href="/newModel/{{ object.get_classname }}/update/{{ object.id }}"> Edit </a>
                </td>
                <td>
                        <a class ="btn btn-danger btn-sm" href="/newModel/{{ object.get_classname }}/delete/{{ object.id }}"> Delete </a>
                </td>
            </tr>
</table>
{% endblock content %}