{% extends "newModel/base.html" %}
{% block content %}
<h1>Research Event</h1>
<table class="table table-striped">
        <tr>
                <td>Research type</td>
                <td>{{ object.research_type }}</td>
        </tr>
        <tr>
                <td>Institution</td>
                <td>{{ object.institution }}</td>
        </tr>
        <tr>
                <td>Year of activity: start year</td>
                <td>{{ object.year_of_activity_start_year }}</td>
        </tr>
        <tr>
                <td>Year of activity: end year</td>
                <td>{{ object.year_of_activity_end_year }}</td>
        </tr>
        <tr>
                <td>Project</td>
                <td>{{ object.project }}</td>
        </tr>
        <tr>
                <td>Reference</td>
                <td>{{ object.reference }}</td>
        </tr>
        <tr>
                <td>Comment</td>
                <td>{{ object.comment }}</td>
        </tr>
        <tr>
                <td>
                        <a class ="btn btn-primary" href="/newModel/{{ object.get_classname }}/update/{{ object.id }}"> Edit </a>
                </td>
                <td>
                        <a class ="btn btn-danger btn-sm" href="/newModel/{{ object.get_classname }}/delete/{{ object.id }}"> Delete </a>
                </td>
            </tr>
</table>
{% endblock content %}>