.idea
orea/settings_db.py
orea/settings/server.py
orea/settings/pandorfer_local.py
orea/settings/ksenia_local.py
orea/settings_db.pyc
orea/media/static/images/*.jpg
db.sqlite3
*.pyc
__pycache__
.ipynb_checkpoints
/.gitignore_conflict-20150924-121416
/Untitled.ipynb
/Untitled02.ipynb
/tryouts.ipynb
__try.html
/pottery
/orea/settings/ksenia_local.py
/orea/settings/pandorfer_local.py
/orea/settings/server.py
*.nxs
orea/whoosh/*
/images_metadata/templates/images_metadata/*.bak
