crispy-bootstrap3
Django
django-autocomplete-light
django-crispy-forms
django-filter
django-haystack
django-reversion
django-tables2
djangorestframework
Jinja2
jsonschema
psycopg2
python-dateutil
requests
Whoosh
xlrd
