{% extends "defcdb/listBase.html" %}
{% block Titel %}See All Objects{% endblock %}

{% block allobjects %}
<h1>Research Event records</h1>
{% endblock allobjects %}

{% block tablebody %}
<table class="table table-striped">
  <thead>  
    <tr>
      <th class="sorter-checkbox"></th>
<!--       <th>Research Event ID</th> -->
      <th>Name</th>
      <th>Institution</th>
      <th>Starting year</th>
      <th>Ending year</th>
      <th>Project name</th>
      <th>Site</th>
      <th>Finds</th>
  </thead>
  <tfoot>
    <tr>
      <th class="sorter-checkbox"></th>
<!--       <th>Research Event ID</th> -->
      <th>Name</th>
      <th>Institution</th>
      <th>Starting year</th>
      <th>Ending year</th>
      <th>Project name</th>
      <th>Site</th>
      <th>Finds</th>
    </tr>
  </tfoot>
  <tbody>
   {% for object in object_list %}
   <tr>
    <td>
    <input type="checkbox">
    </td>
<!--     <td>
      <a href="{% url 'publicrecords:researchevent_detail' pk=object.id %}">{{ object.id }}</a>
    </td> -->
    <td>
      {% for x in object.research_type.all %}
      <a href="{% url 'publicrecords:researchevent_detail' pk=object.id %}">{{ x.name }} (ID: {{ object.id }})</a><br/>
      {% endfor %}
    </td>
    <td>
      {% for x in object.institution.all %}
      {{ x.name }} <br/>
      {% endfor %} 
    </td>
    <td>
      {{ object.year_of_activity_start_year }}
    </td>
    <td>
      {{ object.year_of_activity_end_year }} 
    </td>
    <td>
      {{ object.project_name }} 
    </td>
    <td>
      {% for find in object.finds_set.all %}
        <a href="{% url 'publicrecords:site_detail' pk=find.area.site.id %}">{{ find.area.site.name }}</a><br/>
      
      {% endfor %}
    </td>
    </td>
    <td>
      {% for x in object.finds_set.all %}
      <a href="{% url 'publicrecords:finds_detail' pk=x.id %}">ID {{ x.id }} {{ x.finds_type }}</a><br/>
      {% endfor %}
    </td>
   </tr>  
    {% endfor %}
  </tbody>
</table>
{% endblock tablebody %}
