{% extends "defcdb/base_detail.html" %}
{% block scriptHeader %}
<style>
    /*#info-panel { 
    padding: 7px;
    background-color: #dbedec; 
}*/
.img {
    margin: 5px;
    border: 1px solid #ccc;
    /*float: left;*/
    width: 180px;
}

.img:hover {
    border: 1px solid #777;
}

.img img {
    width: 100%;
    height: auto;
}

.desc {
    padding: 15px;
    text-align: center;
}
</style>
{% endblock %}
{% block content %}

<div class="container">
<h1>Finds</h1>
<ol class="breadcrumb">
  <li><a href="/">DEFC</a></li>
  <li><a href="{% url 'browsing:browse_finds' %}">Data Exploration - Finds</a></li>
  <li class="active">Find {{ object.id }}</li>
</ol>
<button id="01" class="btn btn-default">Show / Hide all fields</button>
<p></p>
{% if user.is_authenticated %}
 <div>
    <a class ="btn btn-primary btn-md" href="{% url 'defcdb:finds_update' pk=object.id %}">Edit</a>
    <a class ="btn btn-danger btn-md" href="{% url 'defcdb:finds_delete' pk=object.id %}">Delete</a>
</div>  
{% endif %} 

<p></p>
<div class="panel panel-info">
  <div class="panel-header" id="info-panel"><span class="glyphicon glyphicon-info-sign"></span>
    Main Information
  </div>
</div>
<div class="panel panel-default">
<table class="table table-bordered table-striped">
        <tr>
                <td class="col-sm-2">Finds ID</td>
                <td>{{ object.id }}</td>
        </tr>
        <tr>
                <td class="col-sm-2">Site</td>
                <td>{% for area in area_list %}
                        <a href="{% url 'publicrecords:site_detail' pk=object.area.site.id %}">
                        {{ object.area.site.name }}<br/>
                        </a>
                        {% endfor %}</td>
        </tr>
        <tr>
                <td class="col-sm-2">Area</td>
                <td>{% for area in area_list %}
                        <a href="{% url 'publicrecords:area_detail' pk=area.id %}">
                        ID {{ object.area.id }} {{ object.area.area_type }}<br/>
                        </a>
                        {% endfor %}</td>
        </tr>
        <tr>
                <td class="col-sm-2">Research event</td>
                <td>{% for x in object.research_event.research_type.all %}
                <a href="{% url 'publicrecords:researchevent_detail' pk=object.research_event.id %}">{{ x }} </a>{% endfor %}{{ object.research_event.project_name }}{% if object.research_event.year_of_activity_start_year and object.research_event.year_of_activity_end_year %} {{ object.research_event.year_of_activity_start_year }} - {{ object.research_event.year_of_activity_end_year }}{% elif object.research_event.year_of_activity_start_year %} {{ object.research_event.year_of_activity_start_year }}{% elif object.research_event.year_of_activity_end_year %} {{ object.research_event.year_of_activity_end_year }}{% else %}{% endif %}</td>
        </tr>
        <tr>
                <td class="col-sm-2">Finds type</td>
                <td>{{ object.finds_type }}</td>
        </tr>
        <tr>
                <td class="col-sm-2">Small finds category</td>
                <td>{{ object.small_finds_category }}</td>
        </tr>
        <tr>
                <td class="col-sm-2">Small finds type</td>
                <td>{% for find in smallfindstype_list %}
                    {{ find.name }}<br/> <!-- find.name -->
                    {% endfor %}</td>
        </tr>
        <tr>
                <td class="col-sm-2">Botany species</td>
                <td>{% for species in botanyspecies_list %}
                    {{ species }}<br/>
                    {% endfor %}</td>
        </tr>
        <tr>
                <td class="col-sm-2">Animal remains species</td>
                <td>{% for species in animalremainsspecies_list %}
                    {{ species }}<br/>
                    {% endfor %}</td>
        </tr>
        <tr>
                <td>Animal remains completeness</td>
                <td>{{ object.animal_remains_completeness }}</td>
        </tr>
        <tr>
                <td>Animal remains part</td>
                <td>{% for part in animalremainspart_list %}
                    {{ part }}<br/>
                    {% endfor %}</td>
        </tr>
        <tr>
                <td>Lithics technology</td>
                <td>{% for lithics in lithicstechnology_list %}
                    {{ lithics }}<br/>
                    {% endfor %}</td>
        </tr>
        <tr>
                <td>Lithics industry</td>
                <td>{% for lithics in lithicsindustry_list %}
                    {{ lithics }}<br/>
                    {% endfor %}</td>
        </tr>
        <tr>
                <td>Lithics cores and preparation</td>
                <td>{% for lithics in lithicscoreshape_list %}
                    {{ lithics }}<br/>
                    {% endfor %}</td>
        </tr>
        <tr>
                <td>Lithics retouched tools</td>
                <td>{% for lithics in lithicsretouchedtools_list %}
                    {{ lithics }}<br/>
                    {% endfor %}</td>
        </tr>
        <tr>
                <td>Lithics raw material</td>
                <td>{% for lithics in lithicsrawmaterial_list %}
                    {{ lithics }}<br/>
                    {% endfor %}</td>
        </tr>
        <tr>
                <td>Obsidian</td>
                <td>{{ object.obsidian }}</td>
        </tr>
        <tr>
                <td>Obsidian amount</td>
                <td>{{ object.obsidian_amount }}</td>
        </tr>
        <tr>
                <td>Pottery form</td>
                <td>{{ object.pottery_form.name }}</td>
        </tr>
        <tr>
                <td>Pottery detail</td>
                <td>{% for detail in potterydetail_list %}
                    {{ detail.name }}<br/>
                    {% endfor %}</td>
        </tr>
        <tr>
                <td>Pottery decoration</td>
                <td>{% for decoration in potterydecoration_list %}
                    {{ decoration.name }}<br/>
                    {% endfor %}</td>
        </tr>
        <tr>
                <td>Amount</td>
                <td>{{ object.amount.name }}</td>
        </tr>
        <tr>
                <td>Material</td>
                <td>{% for material in material_list %}
                    {{ material }}<br/>
                    {% endfor %}</td>
        </tr>
        <tr>
                <td>Confidence</td>
                <td>{{ object.confidence }}</td>
        </tr>
        <tr>
                <td>Comment</td>
                <td>{{ object.comment }}</td>
        </tr>
</table>
</div>
<!-- {% if pottery_form_list or pottery_detail_list or pottery_decoration_list %}
<div class="panel panel-info">
  <div class="panel-header" id="info-panel">
    <span class="glyphicon glyphicon-camera"></span> Pottery Images
  </div>
</div>
<div class="panel panel-default">
     {% for x in pottery_form_list %}
     <div class="img">
        <a href="{% url 'image_gallery:detail' pk=x.id %}">
        <img src="https://{{ request.get_host }}/media/{{ x.image }}" width="300" height="200"/>
        </a>
        <div class="desc">
        {{ x.pottery_form.name }}
    </div>
    </div>
    {% endfor %}
    {% for x in pottery_detail_list %}
    <div class="img">
        <a href="{% url 'image_gallery:detail' pk=x.id %}">
        <img src="https://{{ request.get_host }}/media/{{ x.image }}" width="300" height="200"/>
        </a>
        <div class="desc">
        {{ x.pottery_detail.name }}
    </div>
    </div>
    {% endfor %}
    {% for x in pottery_decoration_list %}
    <div class="img">
        <a href="{% url 'image_gallery:detail' pk=x.id %}">
        <img src="https://{{ request.get_host }}/media/{{ x.image }}" width="300" height="200"/>
        </a>
        <div class="desc">
        {{ x.pottery_decoration.name }}
    </div>
    </div>
    {% endfor %}
</div>
<p></p>
{% endif %} -->

{% if reference_list %}
<div class="panel panel-info">
  <div class="panel-header" id="info-panel">
    <span class="glyphicon glyphicon-book"></span> Bibliography
  </div>
</div>
<div class="panel panel-default">
        <table class="table table-bordered table-striped">
            <tr>
                <td class="col-sm-2">Reference</td>
               <td>{% for ref in reference_list %}
                <a href="https://www.zotero.org/defc-orea-oeaw/items/itemKey/{{ ref.zoterokey }}" target="_blank">{{ ref.author }}, {{ ref.title }}, {{ ref.publication_year }}, {{ ref.place }} </a><br/>
                {% endfor %}</td>
        </tr>
    </table>
</div>
{% endif %}
{% if interpretation_list %}
<div class="panel panel-info">
  <div class="panel-header" id="info-panel"><span class="glyphicon glyphicon-list-alt"></span>
    Interpretations related to these Finds
  </div>
</div>
<div class="panel panel-default">
        <table class="table table-bordered table-striped">
        <tr>
            <td class="col-sm-2">Interpretation</td>
            <td>{% for interpretation in interpretation_list %}
            <a href="{% url 'publicrecords:interpretation_detail' interpretation.id %}">ID {{ interpretation.id }}
            <br/>
            </a>
            {% endfor %}
            </td>
        </tr>
</table>
</div>
{% endif %}
</div>
{% endblock content %}