{% extends "defcdb/base_detail.html" %}

{% block scriptHeader %}
<!--leafletjs -->
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.css" />
    
    <script src="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.js"></script>
        <style>
            #map { height: 500px; }
            #info-panel { 
                padding: 7px;
                background-color: #dbedec; 
            }
        </style>

{% endblock %}

{% block content %}

<div class="container">
<h1>Site</h1>
<ol class="breadcrumb">
  <li><a href="/">DEFC</a></li>
  <li><a href="/publicrecords/{{ object.get_classname }}/">Data Exploration - Sites</a></li>
  <li class="active">Site {{ object.name }}</li>
</ol>  

<button id="01" class="btn btn-default">Show / Hide all fields</button>
<p></p>
<div class="panel panel-info">
  <div class="panel-header" id="info-panel"><span class="glyphicon glyphicon-info-sign"></span>
    Main Information
  </div>
</div>

<!-- <div class="row col-md-7"> -->
    <div class="panel panel-default">
        <table class="table table-bordered table-striped">
            <tr>
                <td class="col-sm-2">Site ID</td>
                <td>{{ object.id }}</td>
        </tr>
        <tr>
                <td class="col-sm-2">Name of the site </td>
                <td>{{ object.name }}</td>
        </tr>
        <tr>
                <td class="col-sm-2">Alias name</td>
                <td>{% for x in aliasName_list %}{{ x.name }}<br/>{% endfor %}</td>
        </tr>
        <tr>
                <td class="col-sm-2">Alternative name</td>
                <td>{% for x in alternativeName_list %}{{ x.name }}<br/>{% endfor %}</td>
        </tr>
        <tr>
                <td class="col-sm-2">District</td>
                <td>{{ object.province.name }}</td>
        </tr>
        <tr>
                <td class="col-sm-2">Region</td>
                <td>{{ object.province.region.name }}</td>
        </tr>
        <tr>
                <td class="col-sm-2">Country</td>
                <td>{{ object.province.region.country }}</td>
        </tr>
        <tr>
            <td>Period</td>
            <td>
            {% if object.area_set.all %}
            {% for area in object.area_set.all %}
            {% for period in area.period.all %}
            {{ period.period_name }} 
                    {% if period.start_date1_BC != None and  period.end_date1_BC != None %}
                    {{ period.start_date1_BC }} - {{ period.end_date1_BC }}<br/>
                    {% else %}</br>
                    {% endif %}
            {% endfor %}
            {% endfor %}
            {% endif %}
        
            </td>
            
       </tr>
      
        <tr>
                <td class="col-sm-2">Description</td>
                <td>{{ object.description }}</td>
        </tr>
        <tr>
                <td class="col-sm-2">Topography</td>
                <td>{{ object.topography }}</td>
        </tr>
        <tr>
                <td class="col-sm-2">Geographical Coordinate Reference System</td>
                <td>{{ object.gps_data_coordinate_system }}</td>
        </tr>
        <tr>
                <td class="col-sm-2">Latitude</td>
                <td>{{ object.latitude }}</td>
        </tr>
        <tr>
                <td class="col-sm-2">Longitude</td>
                <td>{{ object.longitude }}</td>
        </tr>
        <tr>
                <td class="col-sm-2">Exact location</td>
                <td>{{ object.exact_location }}</td>
        </tr>
        <tr>
                <td class="col-sm-2">Coordinate source</td>
                <td>{{ object.coordinate_source }}</td>
        </tr>
        <tr>
                <td class="col-sm-2">Number of activity periods</td>
                <td>{{ object.number_of_activity_periods }}</td>
        </tr>
        <tr>
                <td class="col-sm-2">Comment</td>
                <td>{{ object.comment }}</td>
        </tr>
        </table>
    </div>
{% if site.latitude != None %}
<div class="panel panel-info">
  <div class="panel-header" id="info-panel">
    <span class="glyphicon glyphicon-globe"></span> Location of the Site
  </div>
</div>
<div id="map"></div><br/>
{% endif %}

{% if reference_list %}
    <div class="panel panel-info">
  <div class="panel-header" id="info-panel">
    <span class="glyphicon glyphicon-book"></span> Bibliography
  </div>
</div>
<div class="panel panel-default">
        <table class="table table-bordered table-striped">
            <tr>
                <td class="col-sm-2">Reference</td>
                <td>{% for ref in reference_list %}
                    <a href="https://www.zotero.org/defc-orea-oeaw/items/itemKey/{{ ref.zoterokey }}" target="_blank">{{ ref.author }},{{ ref.title }},{{ ref.publication_year }},{{ ref.place }}</a><br/>
                    {% endfor %}</td>
        </tr>
    </table>
</div>
{% endif %}
{% if areas_list %}
<div class="panel panel-info">
  <div class="panel-header" id="info-panel"><span class="glyphicon glyphicon-record"></span>
    Areas in this Site
  </div>
</div>
<div class="panel panel-default">
        <table class="table table-bordered table-striped">
        <tr>
            <td class="col-sm-2">Areas</td>
            <td>{% for area in areas_list %}
            <a href="/publicrecords/{{ area.get_classname }}/detail/{{ area.id }}">ID {{ area.id }} {{ area.area_type }}<br/></a>{% endfor %}
            </td>
        </tr>
</table>
</div>
{% endif %}

</div>
{% if site.latitude != None %}
<script type="text/javascript">
    var nix = "nix";
    var gps1 = {{ object.latitude|default_if_none:"nix" }} ;
    var gps2 = {{ object.longitude|default_if_none:"nix"}};
    var siteName = "{{ object.name }}";
    var map = L.map('map').setView([gps1, gps2], 6);

    L.tileLayer('http://otile1.mqcdn.com/tiles/1.0.0/map/{z}/{x}/{y}.jpg', {
        attribution: 'Data, imagery and map information provided by MapQuest, OpenStreetMap <http://www.openstreetmap.org/copyright> and contributors, ODbL <http://wiki.openstreetmap.org/wiki/Legal_FAQ#3a._I_would_like_to_use_OpenStreetMap_maps._How_should_I_credit_you.3F>',
        maxZoom: 18
    }).addTo(map);

    L.marker([{{ object.latitude|default_if_none:"nix" }}, {{ object.longitude|default_if_none:"nix"}}]).addTo(map)
    .bindPopup(siteName)
    .openPopup();

</script>
{% endif %}
<script type="text/javascript">
$(document).ready(function(){
    $("button").click(function(){
        $("tr").hide;
  //       if ($('td:even:empty',this){ 
  //       $(this).hide();
  //       } else {
  //       $(this).show();
  // }
});
    });

</script>


</div>
{% endblock content %}