{% extends "defcdb/base_detail.html" %}

{% block scriptHeader %}
<style>
    /*#info-panel {
    padding: 7px;
    background-color: #dbedec;
}*/
</style>
{% endblock %}

{% block content %}

<div class="container">
<h1>Research Event {{ object.id }}</h1>
<ol class="breadcrumb">
  <li><a href="/">DEFC</a></li>
  <li><a href="{% url 'browsing:browse_researchevents' %}">Data Exploration - Research Events</a></li>
  <li class="active">Research Event {{ object.id }}</li>
</ol>

<button id="01" class="btn btn-default">Show / Hide all fields</button>
<p></p>
{% if user.is_authenticated %}
 <div>
    <a class ="btn btn-primary btn-md" href="{% url 'defcdb:researchevent_update' pk=object.id %}">Edit</a>
    <a class ="btn btn-danger btn-md" href="{% url 'defcdb:researchevent_delete' pk=object.id %}">Delete</a>
</div>
{% endif %}
<p></p>
<div class="panel">
  <div class="panel-header info-panel"><span class="glyphicon glyphicon-info-sign"></span>
    Main Information
  </div>
</div>
<div class="panel panel-default">
<table class="table table-bordered table-striped">
        <tr>
            <td class="col-sm-2">Research Event ID</td>
            <td>{{ object.id }}</td>
        </tr>
        <tr>
            <td class="col-sm-2">Research type</td>
            <td>{% for type in researchtype_list %}
                {{ type }}</br>
                {% endfor %}</td>
        </tr>
        <tr>
            <td class="col-sm-2">Institution</td>
            <td>{% for institution in institution_list %}
                {{ institution }}</br>
                {% endfor %}</td>
        </tr>
        <tr>
            <td class="col-sm-2">Year of activity: start year</td>
            <td>{{ object.year_of_activity_start_year }}</td>
        </tr>
        <tr>
            <td class="col-sm-2">Year of activity: end year</td>
            <td>{{ object.year_of_activity_end_year }}</td>
        </tr>
        <tr>
            <td class="col-sm-2">Project name</td>
            <td>{{ object.project_name }}</td>
        </tr>
        <tr>
            <td class="col-sm-2">Project id</td>
            <td>{{ object.project_id }}</td>
        </tr>
        <tr>
            <td class="col-sm-2">Project leader</td>
            <td>{{ object.project_leader }}</td>
        </tr>
        <tr>
            <td class="col-sm-2">Special analysis</td>
            <td>{% for analysis in specialanalysis_list %}
                {{ analysis }}</br>
                {% endfor %}</td>
        </tr>
        <tr>
            <td class="col-sm-2">Comment</td>
            <td>{{ object.comment }}</td>
        </tr>
</table>
</div>
{% if reference_list %}
<div class="panel">
  <div class="panel-header info-panel">
    <span class="glyphicon glyphicon-book"></span> Bibliography
  </div>
</div>
<div class="panel panel-default">
        <table class="table table-bordered table-striped">
            <tr>
                <td class="col-sm-2">Reference</td>
               <td>{% for ref in reference_list %}
                <a href="https://www.zotero.org/defc-orea-oeaw/items/itemKey/{{ ref.zoterokey }}" target="_blank">{{ ref.author }}, {{ ref.title }}, {{ ref.publication_year }}, {{ ref.place }} </a><br/>
                {% endfor %}</td>
        </tr>
    </table>
</div>
{% endif %}
{% if finds_list %}
<div class="panel">
  <div class="panel-header info-panel"><span class="glyphicon glyphicon-flag"></span>
    Finds related to this Research Event
  </div>
</div>
<div class="panel panel-default">
        <table class="table table-bordered table-striped">
        <tr>
            <td class="col-sm-2">Finds</td>
            <td>{% for find in finds_list %}
                <a href="{% url 'publicrecords:finds_detail' pk=find.id %}">ID {{ find.id }} {{ find.finds_type }}<br/></a>
                {% endfor %}
            </td>
        </tr>
</table>
</div>
{% endif %}
</div>
{% endblock content %}>
