{% extends "defcdb/base_detail.html" %}
{% load static %}
{% block scriptHeader %}
<!--leafletjs -->
    <link rel="stylesheet" href="{% static 'webpage/libraries/leaflet/leaflet.css' %}"/></link>
    <script src="{% static 'webpage/libraries/leaflet/leaflet.js' %}"></script>
    <script src="{% static 'webpage/libraries/leaflet.markercluster/src/leaflet.markercluster-src.js' %}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>
            #map { height: 500px; }
        </style>

{% endblock %}

{% block content %}

<div class="container">
<h1>Site {{ object.name }}</h1>
<ol class="breadcrumb">
  <li><a href="/">DEFC</a></li>
  <li><a href="{% url 'browsing:browse_sites' %}">Data Exploration - Sites</a></li>
  <li class="active">Site {{ object.name }}</li>
</ol>

<button id="01" class="btn btn-default">Show / Hide all fields</button>
<p></p>
{% if user.is_authenticated %}
 <div>
    <a class ="btn btn-primary btn-md"  href="{% url 'defcdb:area_create' %}?site={{ object.name }}">Create new Area in this Site</a>
    <a class ="btn btn-primary btn-md" href="{% url 'defcdb:site_update' pk=object.id %}">Edit</a>
    <a class ="btn btn-danger btn-md" href="{% url 'defcdb:site_delete' pk=object.id %}">Delete</a>
</div>
{% endif %}

<p></p>
<div class="panel">
  <div class="panel-header info-panel"><span class="glyphicon glyphicon-info-sign"></span>
    Main Information
  </div>
</div>

<!-- <div class="row col-md-7"> -->
    <div class="panel panel-default">
        <table class="table table-bordered table-striped">
            <tr>
                <td class="col-sm-2">Site ID</td>
                <td>{{ object.id }}</td>
        </tr>
        <tr>
                <td class="col-sm-2">Name of the site </td>
                <td>{{ object.name }}</td>
        </tr>
        <tr>
                <td class="col-sm-2">Alias name</td>
                <td>{% for x in aliasName_list %}{{ x.name }}<br/>{% endfor %}</td>
        </tr>
        <tr>
                <td class="col-sm-2">Alternative name</td>
                <td>{% for x in alternativeName_list %}{{ x.name }}<br/>{% endfor %}</td>
        </tr>
        <tr>
                <td class="col-sm-2">District</td>
                <td>{{ object.province.name }}</td>
        </tr>
        <tr>
                <td class="col-sm-2">Region</td>
                <td>{{ object.province.region.name }}</td>
        </tr>
        <tr>
                <td class="col-sm-2">Country</td>
                <td>{{ object.province.region.country }}</td>
        </tr>
        <tr>
            <td>Period</td>
            <td>
            {% if object.area_set.all %}
            {% for area in object.area_set.all %}
            {% for period in area.period.all %}
            <abbr title ="Name of the chronological system">{{ period.cs_name }}</abbr>
            <abbr title ="Period name">  {{ period.period_name }}</abbr>
                    {% if period.start_date1_BC != None and  period.end_date1_BC != None %}
              <abbr title ="Period start date"> {{ period.start_date1_BC }}</abbr>
               - <abbr title ="Period end date"> {{ period.end_date1_BC }}</abbr>
               {% if period.description %} <a href="{{period.description}}" title="PeriodO permalink"><i class="fa fa-external-link"></i></a></i>{% endif %}<br/>
                {% else %}</br>
                {% endif %}
            {% endfor %}
            {% endfor %}
            {% endif %}

            </td>

       </tr>

        <tr>
                <td class="col-sm-2">Description</td>
                <td>{{ object.description }}</td>
        </tr>
        <tr>
                <td class="col-sm-2">Topography</td>
                <td>{{ object.topography }}</td>
        </tr>
        <tr>
                <td class="col-sm-2">Geographical Coordinate Reference System</td>
                <td>{{ object.geographical_coordinate_reference_system }}</td>
        </tr>
        <tr>
                <td class="col-sm-2">Latitude</td>
                <td>{{ object.latitude }}</td>
        </tr>
        <tr>
                <td class="col-sm-2">Longitude</td>
                <td>{{ object.longitude }}</td>
        </tr>
        <tr>
                <td class="col-sm-2">Elevation</td>
                <td>{{ object.elevation }}</td>
        </tr>
        <tr>
                <td class="col-sm-2">Exact location</td>
                <td>{{ object.exact_location }}</td>
        </tr>
        <tr>
                <td class="col-sm-2">Coordinate source</td>
                <td>{{ object.coordinate_source }}</td>
        </tr>
        <tr>
                <td class="col-sm-2">Number of activity periods</td>
                <td>{{ object.number_of_activity_periods }}</td>
        </tr>
        <tr>
                <td class="col-sm-2">Comment</td>
                <td>{{ object.comment }}</td>
        </tr>
        </table>
    </div>
{% if site.latitude != None %}
<div class="panel">
  <div class="panel-header info-panel">
    <span class="glyphicon glyphicon-globe"></span> Location of the Site
  </div>
</div>
<div id="map"></div><br/>
{% endif %}

{% if reference_list %}
    <div class="panel">
  <div class="panel-header info-panel">
    <span class="glyphicon glyphicon-book"></span> Bibliography
  </div>
</div>
<div class="panel panel-default">
        <table class="table table-bordered table-striped">
            <tr>
                <td class="col-sm-2">Reference</td>
                <td>{% for ref in reference_list %}
                    <a href="https://www.zotero.org/defc-orea-oeaw/items/itemKey/{{ ref.zoterokey }}" target="_blank">{{ ref.author }},{{ ref.title }},{{ ref.publication_year }},{{ ref.place }}</a><br/>
                    {% endfor %}</td>
        </tr>
    </table>
</div>
{% endif %}
{% if areas_list %}
<div class="panel">
  <div class="panel-header info-panel"><span class="glyphicon glyphicon-record"></span>
    Areas in this Site
  </div>
</div>
<div class="panel panel-default">
<table class="table table-bordered table-striped">
        <tr>
            <td class="col-sm-2">Areas</td>
            <td>
<table>
    {% for area in areas_list %}
<tr>


<td class="col-sm-4" style="padding-bottom:30px;" valign="top">
    <a href="/publicrecords/{{ area.get_classname }}/detail/{{ area.id }}">
      ID {{ area.id }} {{ area.area_type }}
    </a>
</td>

<td style="padding-bottom:30px;">
      {% for period in area.period.all %}
      <abbr title ="Name of the chronological system">{{ period.cs_name }}</abbr>
      <abbr title ="Period name">  {{ period.period_name }}</abbr>
      {% if period.start_date1_BC != None and  period.end_date1_BC != None %}
      <abbr title ="Period start date"> {{ period.start_date1_BC }}</abbr>
       - <abbr title ="Period end date"> {{ period.end_date1_BC }}</abbr><br/>
      {% else %}
      </br>
      {% endif %}
      {% endfor %}
</td>


</tr>
      {% endfor %}
</table>

            </td>
        </tr>
</table>
</div>
{% endif %}

</div>
{% if site.latitude != None %}
<script type="text/javascript">
    var nix = "nix";
    var gps1 = {{ object.latitude|default_if_none:"nix" }} ;
    var gps2 = {{ object.longitude|default_if_none:"nix"}};
    var siteName = "{{ object.name }}";
    var map = L.map('map').setView([gps1, gps2], 6);

        L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox.light',
        accessToken: 'pk.eyJ1IjoiY3NhZTgwOTIiLCJhIjoiY2lnM2FoZWpjMDJqZnY1a2gxdWl6a29kaiJ9.FQXlsKIu60WhiXLrfI59VA'
        }).addTo(map);

    L.marker([{{ object.latitude|default_if_none:"nix" }}, {{ object.longitude|default_if_none:"nix"}}]).addTo(map)
    .bindPopup(siteName)
    .openPopup();

</script>
{% endif %}
<script type="text/javascript">
$(document).ready(function(){
    $("button").click(function(){
        $("tr").hide;
  //       if ($('td:even:empty',this){
  //       $(this).hide();
  //       } else {
  //       $(this).show();
  // }
});
    });

</script>


</div>
{% endblock content %}
