{% extends "defcdb/base_detail.html" %}
{% block scriptHeader %}

{% endblock %}
{% block content %}

<div class="container">
<h1>Interpretation</h1>
<ol class="breadcrumb">
  <li><a href="/">DEFC</a></li>

  <li><a href="{% url 'browsing:browse_interpretations' %}">Data Exploration - Interpretations</a></li>
  <li class="active">Interpretation {{ object.id }}</li>
</ol>
<button id="01" class="btn btn-default">Show all fields</button><br/>
<p></p>
{% if user.is_authenticated %}
 <div>
    <a class ="btn btn-primary btn-md" href="{% url 'defcdb:interpretation_update' pk=object.id %}">Edit</a>
    <a class ="btn btn-danger btn-md" href="{% url 'defcdb:interpretation_delete' pk=object.id %}">Delete</a>
</div>  
{% endif %} 

<p></p>
<div class="panel panel-info">
  <div class="panel-header" id="info-panel"><span class="glyphicon glyphicon-info-sign"></span>
    Main Information
  </div>
</div>
<div class="panel panel-default">
<table class="table table-bordered table-striped">
        <tr>
                <td class="col-sm-2">Interpretation ID</td>
                <td>{{ object.id }}</td>
        </tr>
        <tr>
                <td>Site</td>
                <td>{% for area in areas_list|slice:":1" %}
                        <a href="{% url 'publicrecords:site_detail' pk=area.site.id %}">
                        {{ area.site.name }}</a>
                    {% endfor %}
                </td>
        </tr>
        <tr>
                <td>Area</td>
                <td>{% for area in areas_list %}
                        <a href="{% url 'publicrecords:area_detail' pk=area.id %}">
                        ID {{ area.id }} {{ area.area_type }}<br/>
                        </a>
                        {% endfor %}</td>
        </tr>
        <tr>
                <td>Finds</td>
                <td>{% for find in finds_list %}
                    <a href="{% url 'publicrecords:finds_detail' pk=find.id %}">ID {{ find.id }} {{ find.finds_type }}<br/>
                    </a>
                    {% endfor %}</td>
        </tr>
        <tr>
                <td>Description</td>
                <td>{{ object.description }}</td>
        </tr>
        <tr>
                <td>Production type</td>
                <td>{% for type in productiontype_list %}
                    {{ type }}<br/>
                    {% endfor %}</td>
        </tr>
        <tr>
                <td>Subsistence type</td>
                <td>{% for type in subsistencetype_list %}
                    {{ type }}<br/>
                    {% endfor %}</td>
        </tr>
        <tr>
                <td>Comment</td>
                <td>{{ object.comment }}</td>
        </tr>
</table>
</div>
{% if reference_list %}
<div class="panel panel-info">
  <div class="panel-header" id="info-panel">
    <span class="glyphicon glyphicon-book"></span> Bibliography
  </div>
</div>
<div class="panel panel-default">
        <table class="table table-bordered table-striped">
            <tr>
                <td class="col-sm-2">Reference</td>
               <td>{% for ref in reference_list %}
                    <a href="https://www.zotero.org/defc-orea-oeaw/items/itemKey/{{ ref.zoterokey }}" target="_blank">{{ ref.author }}, {{ ref.title }}, {{ ref.publication_year }}, {{ ref.place }} </a><br/>
                    {% endfor %}</td>
        </tr>
    </table>
</div>
{% endif %}
</div>
{% endblock content %}