{% extends "defcdb/listBase.html" %}
{% block Titel %}See All Objects{% endblock %}

{% block allobjects %}
<h1>Finds records</h1>
{% endblock allobjects %}

{% block tablebody %}
<table class="table table-striped">
  <thead>  
    <tr>
      <th class="sorter-checkbox"></th>
      <!-- <th>Finds ID</th> -->
      <th>Finds type</th>
      <th>Site</th>
      <th>Area</th>
      <th>Period</th>
      <th>Research Event</th>
      <th>View full record</th>
  </thead>
  <tfoot>
    <tr>
      <th class="sorter-checkbox"></th>
      <!-- <th>Finds ID</th> -->
      <th>Finds type</th>
      <th>Site</th>
      <th>Area</th>
      <th>Period</th>
      <th>Research Event</th>
      <th>View full record</th>
    </tr>
  </tfoot>
  <tbody>
   {% for object in object_list %}
   <tr>
    <td>
        <input type="checkbox">
    </td>
<!--     <td><a href="{% url 'publicrecords:finds_detail' pk=object.id %}">
      {{ object.id }}
      </a> 
    </td> -->
    <td>
      {% if object.finds_type.name == "pottery" %}
        {{ object.finds_type }} {{ object.pottery_form.name|default_if_none:"" }}
      {% elif object.finds_type.name == "small finds" %}
        {{ object.finds_type }} ({{ object.small_finds_category|default_if_none:"" }})
      {% else %}
        {{ object.finds_type }}
      {% endif %}
    </td>
     <td>
      <a href="{% url 'publicrecords:site_detail' pk=object.area.site.id %}">
        {{ object.area.site.name }}
      </a>
    </td>
    <td>
      <a href="{% url 'publicrecords:area_detail' pk=object.area.id %}">
        ID {{ object.area.id }} {{ object.area.area_type }}
      </a>
    </td>
    <td>
      {% for period in object.area.period.all %}
      {{ period.period_name }} ({{ period.start_date1_BC }} - {{ period.end_date1_BC }})<br/>
      {% endfor %}
    </td>
    <td>
      {% for x in object.research_event.research_type.all %}
      <a href="{%url 'publicrecords:researchevent_detail' pk=object.research_event.id %}">object.research_event.id
      {{ x }}</a><br/>
      {% endfor %}
      {{ object.research_event.project_name }}<br/>
      {% if object.research_event.year_of_activity_start_year and object.research_event.year_of_activity_end_year %}
      {{ object.research_event.year_of_activity_start_year }} - {{ object.research_event.year_of_activity_end_year }}
      {% elif object.research_event.year_of_activity_start_year %}
      {{ object.research_event.year_of_activity_start_year }}
      {% elif object.research_event.year_of_activity_end_year %}
      {{ object.research_event.year_of_activity_end_year }}
      {% else %}

      {% endif %}
    </td>
    <td>
      <a class ="btn btn-primary btn-sm"  href="{% url 'publicrecords:finds_detail' pk=object.id %}">view {{ object.id }}</a> 
    </td>
   </tr>  
  {% endfor %}
  </tbody>
</table>
{% endblock tablebody %}
