{% extends "defcdb/base_detail.html" %}
{% load static %}
{% block scriptHeader %}
<!--leafletjs -->
    <link rel="stylesheet" href="{% static 'webpage/libraries/leaflet/leaflet.css' %}"/></link>
    <script src="{% static 'webpage/libraries/leaflet/leaflet.js' %}"></script>
    <script src="{% static 'webpage/libraries/leaflet.markercluster/src/leaflet.markercluster-src.js' %}"></script>
        <style>
            #map { height: 500px; }
        </style>

{% endblock %}
{% block content %}

<div class="container">
<h1>Area {{ object.id }}</h1>
<ol class="breadcrumb">
  <li><a href="/">DEFC</a></li>
  <li><a href="{% url 'browsing:browse_areas' %}">Data Exploration - Areas</a></li>
  <li class="active">Area {{ object.id }}</li>
</ol>
<button id="01" class="btn btn-default">Show / Hide all fields</button><br/>
 <p></p>
 {% if user.is_authenticated %}
 <div>
    <a class ="btn btn-primary btn-md"  href="{% url 'defcdb:finds_create' %}?area={{ object }}">Create new Finds in this Area</a>
    <a class ="btn btn-primary btn-md" href="{% url 'defcdb:area_update' pk=object.id %}">Edit</a>
    <a class ="btn btn-danger btn-md" href="{% url 'defcdb:area_delete' pk=object.id %}">Delete</a>
</div>
{% endif %}

<p></p>
 <div class="panel">
  <div class="panel-header info-panel"><span class="glyphicon glyphicon-info-sign"></span>
    Main Information
  </div>
</div>
<div class="panel panel-default">

<table class="table table-bordered table-striped">
        <tr>
                <td class="col-sm-2">Area ID</td>
                <td>{{ object.id }}</td>
        </tr>
        <tr>
                <td class="col-sm-2">Site</td>
                <td>{% for site in sites_list %}
                <a href="{% url 'publicrecords:site_detail' pk=site.id %}"> {{ site.name }} <br/>
                </a>
                {% endfor %}</td>
        </tr>
        <tr>
                <td class="col-sm-2">Area type</td>
                <td>{{ object.area_type }}</td>
        </tr>
        <tr>
                <td class="col-sm-2">Area NR</td>
                <td>{{ object.area_nr }}</td>
        </tr>
        <tr>
                <td class="col-sm-2">Period</td>

                <td>{% for period in period_list %}{{ period.cs_name }}: {{ period.period_name }}
                    {% if period.start_date1_BC != None and  period.end_date1_BC != None %}
                    {{ period.start_date1_BC }} - {{ period.end_date1_BC }}</br>
                    {% else %}</br>
                    {% endif %}
                {% endfor %}</td>
        </tr>
        <tr>
                <td class="col-sm-2">Dating method</td>
                <td>{% for method in dating_method_list %}
                {{ method }}</br>
                {% endfor %}</td>
        </tr>
        <tr>
                <td class="col-sm-2">Radiocarbon dated</td>
                <td>{{ object.radiocarbon_dated }}</td>
        </tr>
        <tr>
                <td class="col-sm-2">Earliest date: Lab Number</td>
                <td>{{ object.earliest_date_lab_number }}</td>
        </tr>
        <tr>
                <td class="col-sm-2">Earliest date: 14C age (BP)</td>
                <td>{{ object.earliest_date_14C_age }}</td>
        </tr>
        <tr>
                <td class="col-sm-2">Earliest date: Calibration</td>
                <td>{{ object.earliest_date_calibration }}</td>
        </tr>
        <tr>
                <td class="col-sm-2">Earliest date: 14C age calibrated (BC)</td>
                <td>{{ object.earliest_date_14C_age_calibrated }}</td>
        </tr>
        <tr>
                <td class="col-sm-2">Earliest date: Date of calibration</td>
                <td>{{ object.earliest_date_date_of_calibration }}</td>
        </tr>
        <tr>
                <td class="col-sm-2">Earliest date: Standard deviation</td>
                <td>{{ object.earliest_date_standard_deviation }}</td>
        </tr>
        <tr>
                <td class="col-sm-2">Earliest date: Delta 13C</td>
                <td>{{ object.earliest_date_delta13 }}</td>
        </tr>
        <tr>
                <td class="col-sm-2">Earliest date: Dated by</td>
                <td>{% for date in datedby_list %}
                {{ date }}</br>
                {% endfor %}</td>
        </tr>
        <tr>
                <td class="col-sm-2">Latest date: Lab Number</td>
                <td>{{ object.latest_date_lab_number }}</td>
        </tr>
        <tr>
                <td class="col-sm-2">Latest date: 14C age (BP)</td>
                <td>{{ object.latest_date_14C_age }}</td>
        </tr>
        <tr>
                <td class="col-sm-2">Latest date: Calibration</td>
                <td>{{ object.latest_date_calibration }}</td>
        </tr>
        <tr>
                <td class="col-sm-2">Latest date: 14C age calibrated (BC)</td>
                <td>{{ object.latest_date_14C_age_calibrated }}</td>
        </tr>
        <tr>
                <td class="col-sm-2">Latest date: Date of calibration</td>
                <td>{{ object.latest_date_date_of_calibration }}</td>
        </tr>
        <tr>
                <td class="col-sm-2">Latest date: Standard deviation</td>
                <td>{{ object.latest_date_standard_deviation }}</td>
        </tr>
        <tr>
                <td class="col-sm-2">Latest date: Delta 13C</td>
                <td>{{ object.latest_date_delta13 }}</td>
        </tr>
        <tr>
                <td class="col-sm-2">Latest date: Dated by</td>
                <td>{% for date in datedby_list %}
                {{ date }}</br>
                {% endfor %}</td>
        </tr>
        <tr>
                <td class="col-sm-2">Period Reference</td>
                <td>{% for ref in period_reference_list %}
                    <a href="https://www.zotero.org/defc-orea-oeaw/items/itemKey/{{ ref.zoterokey }}" target="_blank">{{ ref.author }}, {{ ref.title }}, {{ ref.publication_year }}, {{ ref.place }} </a><br/>
                    {% endfor %}</td>
        </tr>
        <tr>
                <td class="col-sm-2">Comment</td>
                <td>{{ object.period_comment }}</td>
        </tr>
        <tr>
                <td class="col-sm-2">Settlement type</td>
                <td>{{ object.settlement_type }}</td>
        </tr>
        <tr>
                <td class="col-sm-2">Settlement structure</td>
                <td>{% for structure in settlementstructure_list %}
                    {{ structure }}<br/>
                    {% endfor %}</td>
        </tr>
        <tr>
                <td class="col-sm-2">Settlement building type</td>
                <td>{% for type in settlementconstructiontype_list %}
                    {{ type }}<br/>
                    {% endfor %}</td>
        </tr>
        <tr>
                <td class="col-sm-2">Settlement building shape</td>
                <td>{% for type in settlementconstructionshape_list %}
                    {{ type }}<br/>
                    {% endfor %}</td>
        </tr>
        <tr>
                <td class="col-sm-2">Settlement building technique</td>
                <td>{% for tech in settlementbuildingtechnique_list %}
                    {{ tech }}<br/>
                    {% endfor %}</td>
        </tr>
        <tr>
                <td class="col-sm-2">Settlement archaeological features</td>
                <td>{% for feature in settlementspecialfeatures_list %}
                    {{ feature }}<br/>
                    {% endfor %}</td>
        </tr>
        <tr>
                <td class="col-sm-2">Cave/rockshelters type</td>
                <td>{{ object.cave_rockshelters_type }}</td>
        </tr>
        <tr>
                <td class="col-sm-2">Cave/rockshelters: Evidence of graves/human remains</td>
                <td>{{ object.cave_rockshelters_evidence_of_graves_human_remains }}</td>
        </tr>
        <tr>
                <td class="col-sm-2">Cave/rockshelters: Evidence of occupation</td>
                <td>{% for evidence in evidenceofoccupation_list %}
                    {{ evidence }}<br/>
                    {% endfor %}</td>
        </tr>
        <tr>
                <td class="col-sm-2">Quarry exploitation type</td>
                <td>{{ object.quarry_exploitation_type }}</td>
        </tr>
        <tr>
                <td class="col-sm-2">Quarry raw material</td>
                <td>{% for material in quarryrawmaterial_list %}
                    {{ material }}<br/>
                    {% endfor %}</td>
        </tr>
        <tr>
                <td class="col-sm-2">Cemetery/graves topography</td>
                <td>{% for topography in topography_list %}
                    {{ topography }}<br/>
                    {% endfor %}</td>
        </tr>
        <tr>
                <td class="col-sm-2">Cemetery/graves mortuary features</td>
                <td>{% for feature in mortuaryfeatures_list %}
                    {{ feature }}<br/>
                    {% endfor %}</td>
        </tr>
        <tr>
                <td class="col-sm-2">Grave: number of graves</td>
                <td>{{ object.grave_number_of_graves }}</td>
        </tr>
        <tr>
                <td class="col-sm-2">Grave type</td>
                <td>{% for type in gravetype_list %}
                    {{ type }}<br/>
                    {% endfor %}</td>
        </tr>
        <tr>
                <td class="col-sm-2">Grave: type of human remains</td>
                <td>{% for type in typeofhumanremains_list %}
                    {{ type }}<br/>
                    {% endfor %}</td>
        </tr>
        <tr>
                <td class="col-sm-2">Grave: estimated number of individuals</td>
                <td>{{ object.grave_estimated_number_of_individuals }}</td>
        </tr>
        <tr>
                <td class="col-sm-2">Grave: age groups</td>
                <td>{% for age in graveagegroups_list %}
                    {{ age }}<br/>
                    {% endfor %}</td>
        </tr>
        <tr>
                <td class="col-sm-2">Grave: sexes</td>
                <td>{% for sex in gravesexes_list %}
                    {{ sex }}<br/>
                    {% endfor %}</td>
        </tr>
        <tr>
                <td class="col-sm-2">Grave: number of female sex</td>
                <td>{{ object.grave_number_of_female_sex }}</td>
        </tr>
        <tr>
                <td class="col-sm-2">Grave: number of male sex</td>
                <td>{{ object.grave_number_of_male_sex }}</td>
        </tr>
        <tr>
                <td class="col-sm-2">Grave: number of not specified sex</td>
                <td>{{ object.grave_number_of_not_specified_sex }}</td>
        </tr>
        <tr>
                <td class="col-sm-2">Grave: disturbance of graves</td>
                <td>{% for manipulation in manipulationsofgraves_list %}
                    {{ manipulation }}<br/>
                    {% endfor %}</td>
        </tr>
        <tr>
                <td class="col-sm-2">Description</td>
                <td>{{ object.description }}</td>
        </tr>
        <tr>
                <td class="col-sm-2">Comment</td>
                <td>{{ object.comment }}</td>
        </tr>
</table>
</div>
{% for site in sites_list %}
{% if site.latitude %}
<div class="panel">
  <div class="panel-header info-panel">
    <span class="glyphicon glyphicon-globe"></span> Location of the Site
  </div>
</div>
<div id="map"></div><br/>

{% endif %}
{% endfor %}

{% if reference_list %}
<div class="panel">
  <div class="panel-header info-panel">
    <span class="glyphicon glyphicon-book"></span> Bibliography
  </div>
</div>
<div class="panel panel-default">
        <table class="table table-bordered table-striped">
            <tr>
                <td class="col-sm-2">Reference</td>
               <td>{% for ref in reference_list %}
                    <a href="https://www.zotero.org/defc-orea-oeaw/items/itemKey/{{ ref.zoterokey }}" target="_blank">{{ ref.author }}, {{ ref.title }}, {{ ref.publication_year }}, {{ ref.place }} </a><br/>
                    {% endfor %}</td>
        </tr>
    </table>
</div>
{% endif %}

{% if finds_list %}
<div class="panel">
  <div class="panel-header info-panel"><span class="glyphicon glyphicon-flag"></span>
    Finds in this Area
  </div>
</div>
<div class="panel panel-default">
        <table class="table table-bordered table-striped">
        <tr>
            <td class="col-sm-2">Finds</td>
            <td>
              {% for find in finds_list %}
              {% if find.finds_type.name == 'small finds' %}
              <a href="{% url 'publicrecords:finds_detail' pk=find.id %}">ID {{ find.id }} {{ find.finds_type }} {{ find.small_finds_category }}<br/></a>
              {% elif find.finds_type.name == 'pottery' %}
              <a href="{% url 'publicrecords:finds_detail' pk=find.id %}">ID {{ find.id }} {{ find.finds_type }} {{ find.pottery_form.name }}<br/></a>
              {% else %}
              <a href="{% url 'publicrecords:finds_detail' pk=find.id %}">ID {{ find.id }} {{ find.finds_type }}<br/></a>
              {% endif %}
              {% endfor %}
            </td>
        </tr>
</table>
</div>
{% endif %}

{% if interpretations_list %}
<div class="panel">
  <div class="panel-header info-panel"><span class="glyphicon glyphicon-list-alt"></span>
    Interpretations related to this Area
  </div>
</div>
<div class="panel panel-default">
        <table class="table table-bordered table-striped">
        <tr>
            <td class="col-sm-2">Interpretation</td>
            <td>{% for interpretation in interpretations_list %}
            <a href="{% url 'publicrecords:interpretation_detail' pk=interpretation.id %}">ID {{ interpretation.id }}
                <br/>
            </a>
            {% endfor %}
        </td>
        </tr>
</table>
</div>
{% endif %}
</div>


{% endblock content %}

{% block scripts %}
<script type="text/javascript">
    {% for site in sites_list %}
    var gps1 = {{ site.latitude }};
    var gps2 = {{ site.longitude }};
    var nix = "nix";
    var map = L.map('map').setView([gps1, gps2], 6);

    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox.light',
        accessToken: 'pk.eyJ1IjoiY3NhZTgwOTIiLCJhIjoiY2lnM2FoZWpjMDJqZnY1a2gxdWl6a29kaiJ9.FQXlsKIu60WhiXLrfI59VA'
        }).addTo(map);

    L.marker([gps1 , gps2]).addTo(map)
    .bindPopup('<a href="{% url 'publicrecords:site_detail' pk=site.id %}" target="_blank">{{ site.name }}</a>')
    .openPopup();
    {% endfor %}
</script>
<script type="text/javascript">
$(document).ready(function(){
    $("td:empty").parent().hide();
    $('tr:has(td:contains("Lab Number"))').hide();
    $('tr:has(td:contains("14C age (BP)"))').hide();
    $('tr:has(td:contains("Calibration"))').hide();
    $('tr:has(td:contains("Date of calibration"))').hide();
    $('tr:has(td:contains("Delta 13C"))').hide();
    $("td").filter(function(){
      return $(this).text() === "None";
    }).parent().hide();
    $("#01").click(function(){
            var emptytd = $("td:empty");
            $(emptytd).parent().toggle("slow");
            $('tr:has(td:contains("Lab Number"))').hide();
            $('tr:has(td:contains("14C age (BP)"))').hide();
            $('tr:has(td:contains("Calibration"))').hide();
            $('tr:has(td:contains("Date of calibration"))').hide();
            $('tr:has(td:contains("Delta 13C"))').hide();
            var nonetd = $("td").filter(function(){
            return $(this).text() === "None"});
            $(nonetd).parent().toggle("slow");
            $('tr:has(td:contains("Lab Number"))').hide();
            $('tr:has(td:contains("14C age (BP)"))').hide();
            $('tr:has(td:contains("Calibration"))').hide();
            $('tr:has(td:contains("Date of calibration"))').hide();
            $('tr:has(td:contains("Delta 13C"))').hide();
});
    });

</script>
{% endblock scripts %}
