{% extends "defcdb/listBase.html" %}
{% block Titel %}See All Objects{% endblock %}

{% block allobjects %}
<h1>Site records</h1>
{% endblock allobjects %}
{% block tablebody %}
<table class="table table-striped">
  <thead> 
    <tr>
      <th class="sorter-checkbox"></th>
      <!-- <th>Site ID</th> -->
      <th>Name</th>
      <!-- <th>Alternative name</th> -->
      <th>Period</th>
      <th>Region</th>
      <th>District</th>
      <th>Topography</th>
      <th>Areas</th>
  </thead>
  <tfoot>
    <tr>
      <th class="sorter-checkbox"></th>
      <!-- <th>Site ID</th> -->
      <th>Name</th>
      <!-- <th>Alternative name</th> -->
      <th>Period</th>
      <th>Region</th>
      <th>District</th>
      <th>Topography</th>
      <th>Areas</th>
    </tr>
  </tfoot>
  <tbody>
   {% for object in object_list %}
   <tr>
    <td>
        <input type="checkbox">
        </td>
       <!--  <td><a href="/publicrecords/{{ object.get_classname }}/detail/{{ object.id }}">
        {{ object.id }}</a>
        </td> -->
    <td><a href="{% url 'publicrecords:site_detail' pk=object.id %}">
      {{ object.name }}</a>
    </td>
    <td>
      {% for area in object.area_set.all %}
        {% for period in area.period.all %}
        {{ period.period_name }} ({{ period.start_date1_BC }} - {{ period.end_date1_BC }})<br/>
        {% endfor %}
      {% endfor %}
    </td>
    <td>
      {{ object.province.region }} 
    </td>
    <td>
      {{ object.province.name }} 
    </td>
    <td>
      {{ object.topography }} 
    </td>
    <td>
      {% if object.area_set.all %}
      {% for x in object.area_set.all %}
        <a href="{% url 'publicrecords:area_detail' pk=x.id %}">
          ID {{ x.id }} {{ x.area_type }}
        </a><br/>
      {% endfor %}
      {% endif %}
    </td>
   </tr>  
    {% endfor %}
  </tbody>
</table>
{% endblock tablebody %}