{% extends "defcdb/base_detail.html" %}
{% load static %}
{% block scriptHeader %}
<style>
#info-panel {
    padding: 7px;
    background-color: #dbedec;
}
#mainimage {
    display: block;
    margin: 0 auto;

}
#mainimage {
    width: 100%;
    height: 100%;
}
#mainimage {
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}

#mainimage:hover {
    -webkit-transform:scale(1.75); /* Safari and Chrome */
    -moz-transform:scale(1.75); /* Firefox */
    -ms-transform:scale(1.75); /* IE 9 */
    -o-transform:scale(1.75); /* Opera */
     transform:scale(1.75);
}
</style>
{% endblock %}
{% block content %}

<div class="container">
<h1>Image {{ object.id }}</h1>
<ol class="breadcrumb">
  <li><a href="/">DEFC</a></li>
  <li><a href="{% url 'image_gallery:public_object_list' %}">Data Exploration - Pottery Image gallery</a></li>
  <li class="active">Image {{ object.id }}</li>
</ol>

<div class="panel panel-info">
  <div class="panel-header info-panel"><span class="glyphicon glyphicon-camera"></span>
    Image
  </div>
</div>
<div class="image">
    <a href="{% static "images_metadata/" %}{{ object.image }}">
        <img id="mainimage" src="{% static "images_metadata/" %}{{ object.image }}" style="width:40%;">
    </a><br/>
</div>
<div class="panel panel-info">
  <div class="panel-header info-panel"><span class="glyphicon glyphicon-info-sign"></span>
    Main Information
  </div>
</div>
<button id="01" class="btn btn-default">Show all fields</button><br/>
<p></p>
<div class="panel panel-default">
<table class="table table-bordered table-striped">
        <tr>
                <td class="col-sm-2">Image ID</td>
                <td>{{ object.id }}</td>
        </tr>
        {% if object.pottery_decoration != None  %}
        <tr>
                <td>Pottery decoration</td>
                <td>{{ object.pottery_decoration.name }}</td>
        </tr>
        {% elif object.pottery_detail != None %}
        <tr>
                <td>Pottery detail</td>
                <td>{{ object.pottery_detail.name }}</td>
        </tr>
        {% elif object.pottery_form != None %}
        <tr>
                <td>Pottery form</td>
                <td>{{ object.pottery_form.name }}</td>
        </tr>
        {% else %}
        <tr>
                <td>Small finds</td>
                <td>{{ object.small_finds.name }}</td>

        </tr>
        {% endif %}

        <tr>
               <td>Region</td>
                <td>{% for x in object.region.all %}
                    {{ x.name }}<br/>

                    {% endfor %}</td>
        </tr>
        <tr>
                <td>Creator</td>
                <td>{{ object.creator }}</td>
        </tr>
        <tr>
                <td>Reference</td>
                <td>
                    <a href="https://www.zotero.org/defc-orea-oeaw/items/itemKey/{{ object.literature.zoterokey }}" target="_blank"> {{object.literature }}</a>
                </td>
        </tr>
        <tr>
                <td>Page</td>
                <td>{{ object.page }}</td>
        </tr>
    </table>
</div>
<!-- {% if form_finds_list or detail_finds_list or decoration_finds_list %}
<div class="panel panel-info">
  <div class="panel-header info-panel">
    <span class="glyphicon glyphicon-flag"></span> Related Finds
  </div>
</div>
<div class="panel panel-default">
    <table class="table table-bordered table-striped">
            <tr>
                <td class="col-sm-2">Finds ID / Site name</td>
               <td>
                    {% for x in form_finds_list %}
                    <a href="{% url 'publicrecords:finds_detail' pk=x.id %}">
                    ID {{ x.id }}</a> in {{ x.area.site.name }}
                    <br/>
                    {% endfor %}
                    {% for x in detail_finds_list %}
                    <a href="{% url 'publicrecords:finds_detail' pk=x.id %}">
                    ID {{ x.id }}</a> in {{ x.area.site.name }}
                    <br/>
                    {% endfor %}
                    {% for x in decoration_finds_list %}
                    <a href="{% url 'publicrecords:finds_detail' pk=x.id %}">
                    ID {{ x.id }}</a> in {{ x.area.site.name }}
                    <br/>
                    {% endfor %}
               </td>
        </tr>
    </table>
</div>
<p></p>
{% endif %} -->
</div>
{% endblock content %}
