{% extends "defcdb/listBase.html" %} 

{% block Titel %}See All Objects{% endblock %}

{% block content %}

<div class="container">
{% if object_list %}

<hr />
<div class="panel panel-default">
  <div class="panel-heading">
    <h1> Pottery Form/Detail/Decoration</h1>
    <div>
      <a class ="btn btn-primary btn-lg"  href="{% url 'image_gallery:upload_file' %}">upload new Model</a>
    </div>
  </div>
  <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <th colspan="6" class="ts-pager form-horizontal">
                    <button type="button" class="btn first"><i class="icon-step-backward glyphicon glyphicon-step-backward"></i></button>
                    <button type="button" class="btn prev"><i class="icon-arrow-left glyphicon glyphicon-backward"></i></button>
                    <span class="pagedisplay"></span> <!-- this can be any element, including an input -->
                    <button type="button" class="btn next"><i class="icon-arrow-right glyphicon glyphicon-forward"></i></button>
                    <button type="button" class="btn last"><i class="icon-step-forward glyphicon glyphicon-step-forward"></i></button>
                    <select class="pagesize input-mini" title="Select page size">
                    <option selected="selected" value="10">10</option>
                    <option value="20">20</option>
                    <option value="30">30</option>
                    <option value="40">40</option>
                    <option value="1000">all</option>
                    </select>
                    <select class="pagenum input-mini" title="Select page number"></select>
                </th>
                <tr>
                    <th>Title</th>
                    <th>Region</th>
                    <th>Reference</th>
                    <th>Preview</th>
                    <th>view | delete </th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Title</th>
                    <th>Region</th>
                    <th>Reference</th>
                    <th>Preview</th>
                    <th>view | delete </th>
                </tr>
            </tfoot>
            <tbody>
                {% for object in object_list %}
                <tr>
                    <td> {{ object.name }} </td>
                    <td>{% for x in object.region.all %}
                        {{ x.name }}<br/>
                        {% endfor %}
                    </td>
                    <td>
                      <a href="https://www.zotero.org/defc-orea-oeaw/items/itemKey/{{ object.literature.zoterokey }}"> {{object.literature }}</a>, {{ object.page }}
                    </td>
                    <td>
                        <a href="http://{{ request.get_host }}/media/{{ object.image}}">
                            <img src="http://{{ request.get_host }}/media/{{ object.image}}" style="width:75%;">
                        </a>
                    </td>
                    <td>
                        <a class ="btn btn-danger btn-sm" href="{% url 'image_gallery:update_file' pk=object.id %}">update</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p> There is no <i>object_list</i></p>
        {% endif %}
    </div>
</div>
</div>
{% endblock %}

