{% extends "defcdb/listBase.html" %}
{% load static %}
{% block Titel %}See All Objects{% endblock %}
 {% block allobjects %}
 <h1>All Objects: Pottery collection</h1>
 {% endblock allobjects %}
{% block panelhead %}
  <div>
      <a class ="btn btn-primary btn-lg"  href="{% url 'image_gallery:upload_file' %}">upload new Model</a>
    </div>
{% endblock panelhead %}

{% block tablebody %}
<table class="table table-striped">
            <thead>
                
                <tr>
                    <th>Title</th>
                    <th>Region</th>
                    <th>Reference</th>
                    <th>Preview</th>
                    <th>view | delete </th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Title</th>
                    <th>Region</th>
                    <th>Reference</th>
                    <th>Preview</th>
                    <th>view | delete </th>
                </tr>
            </tfoot>
            <tbody>
                {% for object in object_list %}
                <tr>
                    <td> {{ object.name }} </td>
                    <td>{% for x in object.region.all %}
                        {{ x.name }}<br/>
                        {% endfor %}
                        
                    </td>
                    <td>
                      <a href="https://www.zotero.org/defc-orea-oeaw/items/itemKey/{{ object.literature.zoterokey }}"> {{object.literature }}</a>, {{ object.page }}
                    </td>
                    <td>
                        <a href="{% static "images_metadata/" %}{{ object.image }}">
                            <img src="{% static "images_metadata/" %}{{ object.image }}" style="width:75%;">
                        </a>
                    </td>
                    <td>
                    <a class ="btn btn-danger btn-sm" href="{% url 'image_gallery:update_file' pk=object.id %}">update</a>
                    <a class ="btn btn-primary btn-sm" href="{% url 'image_gallery:detail' pk=object.id %}">view</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
{% endblock tablebody %}