{% extends "defcdb/base_detail.html" %}
{% load static %}
{% block scriptHeader %}
<style>
.info-panel {
    padding: 7px;
    /*background-color: #dbedec;*/
    text-align: center;
}
.active {
  outline-color: black;
}

.img {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
    background-color: white;
    position: relative;
}
.img img {
    width: 100%;
    height: auto;
}

.img {
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}

.img:hover {
    -webkit-transform:scale(1.75); /* Safari and Chrome */
    -moz-transform:scale(1.75); /* Firefox */
    -ms-transform:scale(1.75); /* IE 9 */
    -o-transform:scale(1.75); /* Opera */
     transform:scale(1.75);
   }

.desc {
    padding: 15px;
    text-align: center;
    height: auto;
}

img {
    max-width: 100%;
    display: block;
}
</style>
<!--Mansory JS-->
<script type="text/javascript" src="https://unpkg.com/masonry-layout@4.0.0/dist/masonry.pkgd.min.js"></script>
{% endblock %}
{% block content %}

<div class="container">
<h1>Pottery Image gallery</h1>
<ol class="breadcrumb">
  <li><a href="/">DEFC</a></li>
  <li class="active">Data Exploration - Pottery Image gallery</li>
</ol>
<p></p>
<div class="panel panel-info">
    <div class="panel-header info-panel">
    <h4>Pottery form</h4>
  </div>
</div>
<div class="grid">
{% for object in object_list %}
{% if object.pottery_form %}
<div class="img">
  <a href="/image_gallery/detail/{{ object.id }}">
    <img id="smallimage" src="{% static "images_metadata/" %}{{ object.image }}" >
  </a>
  <div class="desc">
    {{ object.pottery_form.name }}
  </div>
</div><br/>
{% endif %}
{% endfor %}
</div>
<br/>
<div class="panel panel-info">
    <div class="panel-header info-panel">
    <h4>Pottery decoration</h4>
  </div>
</div>
<div class="grid">
{% for object in object_list %}
{% if object.pottery_decoration %}
<div class="img">
  <a href="/image_gallery/detail/{{ object.id }}">
    <img id="smallimage" src="{% static "images_metadata/" %}{{ object.image }}" >
  </a>
  <div class="desc">
    {{ object.pottery_decoration.name }}
  </div>
</div><br/>
{% endif %}
{% endfor %}
</div>
<br/>
<div class="panel panel-info">
    <div class="panel-header info-panel">
    <h4>Pottery detail</h4>
  </div>
</div>
<div class="grid">
{% for object in object_list %}
{% if object.pottery_detail %}
<div class="img">
  <a href="/image_gallery/detail/{{ object.id }}">
    <img id="smallimage" src="{% static "images_metadata/" %}{{ object.image }}" >
  </a>
  <div class="desc">
    {{ object.pottery_detail.name }}
  </div>
</div><br/>
{% endif %}
{% endfor %}
</div>
<br/>
</div>
{% endblock content %}

{% block scripts %}
<script type="text/javascript">

$(window).on('load resize', function (){
// $('.content .right').width( $(this).width() - 480 );
$('.grid').masonry({
  // options
  itemSelector: '.img',
  // columnWidth: 200
});
});
</script>
{% endblock %}
