{% extends "browsing/generic_list.html" %}
{% block list_title %}All Finds{% endblock %}

{% block reset_button %}
 <a class ="btn btn-default"  href="{% url 'browsing:browse_finds' %}">Reset search</a>     
{% endblock %}

{% block customScripts %}
<script>

var site_names = [{% for name in site_names %} "{{ name }}", {% endfor %}];
var cs_names = [{% for name in cs_names %} "{{ name }}", {% endfor %}];
var period_names = [{% for period in period_names %} "{{ period }}", {% endfor %}]

    $(function() {
        $("#id_area__site__name").autocomplete({
            source:site_names
        }); 
    });

    $(function() {
        $("#id_period").autocomplete({
            source:period_names
        }); 
    });
</script>
{% endblock %}