{% extends "browsing/generic_list.html" %}
{% block list_title %}All Sites{% endblock %}

{% block create_button %}
{% if user.is_authenticated %}
 <div>
    <a class ="btn btn-primary btn-md"  href="{% url 'defcdb:site_create' %}">create new Site</a>
</div>  
{% endif %}     
{% endblock %}


{% block reset_button %}
 <a class ="btn btn-default"  href="{% url 'browsing:browse_sites' %}">Reset search</a>      
{% endblock %}

{% block customScripts %}
<script>

var site_names = [{% for name in site_names %} "{{ name }}", {% endfor %}];
var cs_names = [{% for name in cs_names %} "{{ name }}", {% endfor %}];
var period_names = [{% for period in period_names %} "{{ period }}", {% endfor %}]

    $(function() {
        $("#id_name").autocomplete({
            source:site_names
        }); 
    });

    $(function() {
        $("#id_period").autocomplete({
            source:period_names
        }); 
    });

    $(function() {
        $("#id_period__cs_name").autocomplete({
            source:cs_names
        }); 
    });
</script>
{% endblock %}