{% extends "defcdb/base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block title %} SPARQL {% endblock %}
{% block content %}
<link href='//cdn.jsdelivr.net/yasqe/2.11.10/yasqe.min.css' rel='stylesheet' type='text/css'/>
<link href='//cdn.jsdelivr.net/g/yasqe@2.2(yasqe.min.css),yasr@2.4(yasr.min.css)' rel='stylesheet' type='text/css'/>
<script src='//cdn.jsdelivr.net/yasr/2.4/yasr.bundled.min.js'></script>
<script src='//cdn.jsdelivr.net/yasqe/2.11.10/yasqe.bundled.min.js'></script>
<div class="container">
    <div class="panel panel-default panel-browsing">
        <div class="panel-heading panel-browsing-heading">
        <h1>SPARQL Endpoint</h1>
               
            </div>
            <div class="panel-body panel-browsing-body">
            <div id="example-queries">
             <h2>Example-Queries</h2>
                {% for x in examples %}
                    <h4><abbr title="{{ x.description }}">{{ x.title }}</abbr></h4>
                    <code>{{ x.query }}</code>
                {% endfor %}
                <div style="width:auto; height:30px;"></div>
                <p><span class="glyphicon glyphicon-exclamation-sign"></span> See <a href="{% url 'webpage:mapping2cidoc' %}">DEFC mapping to CIDOC CRM documentation</a></p>
            </div>
            <br>
            <div id="query-editor">
            <h2>Query editor</h2>
                {% crispy form %}
                </div>
            </div>
            <div id="sparql-results">
                <h2>Results</h2>
                <hr/>
                <div id="yasr"></div>
                <br/>
                <hr/>
                
                <div class="panel panel-info">
    <div class="panel-header info-panel">
    <span class="glyphicon glyphicon-info-sign"></span>
        Credits
</div>
    </div>
    <table class="table table-bordered table-striped">
        <tr><td>SPARQL endpoint interface is built with <a href="http://about.yasgui.org/">YASGUI</a> package.</td></tr>
    </table>
    

</div>
            </div>
        </div>
</div>
<script>
var yasqe = YASQE.fromTextArea(document.getElementById('id_query'),{
    sparql: {
		showQueryButton: true,
        endpoint: "{% url 'sparql:tunnel' %}",
        requestMethod: 'GET'
	}
});

var yasr = YASR(document.getElementById("yasr"), {
	//this way, the URLs in the results are prettified using the defined prefixes in the query
	getUsedPrefixes: yasqe.getPrefixesFromQuery
});

yasqe.options.sparql.callbacks.complete = yasr.setResponse;

</script>
{% endblock %}
