{% extends "defcdb/base_detail.html" %}
{% load staticfiles %}
 {% block scriptHeader %}
 <!--STYLESHEET-->
<link type="text/css" rel="stylesheet" href="http://{{ request.get_host }}/media/static/libs/3dhop/minimal/stylesheet/3dhop.css"/>  
<!--SPIDERGL-->
<script type="text/javascript" src="http://{{ request.get_host }}/media/static/libs/3dhop/minimal/js/spidergl.js"></script>
<!--JQUERY-->
<script type="text/javascript" src="http://{{ request.get_host }}/media/static/libs/3dhop/minimal/js/jquery.js"></script>
<!--PRESENTER-->
<script type="text/javascript" src="http://{{ request.get_host }}/media/static/libs/3dhop/minimal/js/presenter.js"></script>
<!--3D MODELS LOADING AND RENDERING-->
<script type="text/javascript" src="http://{{ request.get_host }}/media/static/libs/3dhop/minimal/js/nexus.js"></script>
<script type="text/javascript" src="http://{{ request.get_host }}/media/static/libs/3dhop/minimal/js/ply.js"></script>
<!--TRACKBALLS-->
<script type="text/javascript" src="http://{{ request.get_host }}/media/static/libs/3dhop/minimal/js/trackball_sphere.js"></script>
<script type="text/javascript" src="http://{{ request.get_host }}/media/static/libs/3dhop/minimal/js/trackball_turntable.js"></script>
<script type="text/javascript" src="http://{{ request.get_host }}/media/static/libs/3dhop/minimal/js/trackball_turntable_pan.js"></script>
<script type="text/javascript" src="http://{{ request.get_host }}/media/static/libs/3dhop/minimal/js/trackball_pantilt.js"></script>
<!--UTILITY-->
<script type="text/javascript" src="http://{{ request.get_host }}/media/static/libs/3dhop/minimal/js/init.js"></script>
 {% endblock %}

{% block content %}

<div class="container">
    <h1>3D Models gallery</h1>
<ol class="breadcrumb">
  <li><a href="/">DEFC</a></li>
  <li><a href="{% url '3Dmodels:object_list' %}">Data Exploration - Browse 3D Models</a></li>
  <li class="active">3D Model {{ object.model_id }}</li>
</ol>
<p></p>
<div id="3dhop" class="tdhop" onmousedown="if (event.preventDefault) event.preventDefault()">
            <div id="toolbar">
                <img id="home"     title="Home"                  src="http://{{ request.get_host }}/media/static/libs/3dhop/minimal/skins/dark/home.png"   /><br/>
                <img id="zoomin"   title="Zoom In"               src="http://{{ request.get_host }}/media/static/libs/3dhop/minimal/skins/dark/zoomin.png" /><br/>
                <img id="zoomout"  title="Zoom Out"              src="http://{{ request.get_host }}/media/static/libs/3dhop/minimal/skins/dark/zoomout.png"/><br/>
                <img id="light_on" title="Disable Light Control" src="http://{{ request.get_host }}/media/static/libs/3dhop/minimal/skins/dark/light_on.png" style="position:absolute; visibility:hidden;"/>
                <img id="light"    title="Enable Light Control"  src="http://{{ request.get_host }}/media/static/libs/3dhop/minimal/skins/dark/light.png"/><br/>
                <img id="full_on"  title="Exit Full Screen"      src="http://{{ request.get_host }}/media/static/libs/3dhop/minimal/skins/dark/full_on.png" style="position:absolute; visibility:hidden;"/>
                <img id="full"     title="Full Screen"           src="http://{{ request.get_host }}/media/static/libs/3dhop/minimal/skins/dark/full.png"   />
            </div>
        <!-- <canvas id="draw-canvas" style="background-image: url({% static 'skins/backgrounds/light.jpg' %})"/> -->
            <canvas id="draw-canvas"/>
        </div>
        <div class="alert alert-info">
            3D models rendered with: <strong><a href="http://dx.doi.org/10.1016/j.cag.2015.07.001" style="color:#ffffff;" target="_blank">3DHOP: 3D Heritage Online Presenter</a></strong><br/>
Marco Potenziani, Marco Callieri, Matteo Dellepiane, Massimiliano Corsini, Federico Ponchio, Roberto Scopigno
Computers & Graphics, Volume 52, November 2015, Pages 129-141, ISSN 0097-8493
        </div>

<button id="01" class="btn btn-default">Show all fields</button><br/>
<p></p>
<div class="panel panel-default">

<table class="table table-bordered table-striped">
        <tr>
                <td class="col-sm-2">Model ID</td>
                <td>{{ object.model_id }}</td>
        </tr>
        <tr>
                <td>Finds</td>
                <td>
                    {% if object.finds %}
                    <a href="{% url 'publicrecords:finds_detail' pk=object.finds.id %}">ID  {{ object.finds.id }} {{ object.finds.finds_type }}</a>
                    {% endif %}
                </td>
        </tr>
        <!-- <tr>
                <td>Decoration</td>
                <td>
                    {% if object.finds %}
                    {% for decoration in pottery_decoration_list %}
                    {{ object.finds.pottery_decoration.name }}<br/>
                    {% endfor %}
                    
                    {% endif %}
                </td>
        </tr> -->
        <tr>
                <td>Form</td>
                <td>
                    {% if object.finds %}
                    {{ object.finds.pottery_form.name }}
                    {% endif %}
                </td>
        </tr>
       <!--  <tr>
                <td>Research event</td>
                <td>
                    {% if object.finds %}
                    <a href="{% url 'publicrecords:researchevent_detail' pk=object.finds.research_event.id %}"> {{ object.finds.research_event.researc_type }}</a>
                    {% endif %}
                </td>
        </tr> -->
        <tr>
                <td>Part</td>
                <td>{{ object.part }}</td>
        </tr>
        <tr>
                <td>Diameter</td>
                <td>{{ object.diameter }}</td>
        </tr>
        <tr>
                <td>Wall thickness</td>
                <td>{{ object.wall_thickness }}</td>
        </tr>
        <tr>
                <td>Surface Treatment i</td>
                <td>{{ object.surface_treatment_i }}</td>
        </tr>
        <tr>
                <td>Surface Treatment o</td>
                <td>{{ object.surface_treatment_o }}</td>
        </tr>
        <tr>
                <td>Surface Color i</td>
                <td>{{ object.surface_color_i }}</td>
        </tr>
        <tr>
                <td>Surface Color o</td>
                <td>{{ object.surface_color_o }}</td>
        </tr>
        <tr>
                <td>Decoration color</td>
                <td>{{ object.decoration_color }}</td>
        </tr>
        <tr>
                <td>Decoration description</td>
                <td>{{ object.decoration_description }}</td>
        </tr>
        <tr>
                <td>Fabric color</td>
                <td>{{ object.fabric_color }}</td>
        </tr>
        <tr>
                <td>Hardness</td>
                <td>{{ object.hardness }}</td>
        </tr>
        <tr>
                <td>Sorting</td>
                <td>{{ object.sorting }}</td>
        </tr>
        <tr>
                <td>Density</td>
                <td>{{ object.density }}</td>
        </tr>
        <tr>
                <td>Pores</td>
                <td>{{ object.pores }}</td>
        </tr>
        <tr>
                <td>Core form</td>
                <td>{{ object.core_form }}</td>
        </tr>
        <tr>
                <td>Core color</td>
                <td>{{ object.core_color }}</td>
        </tr>
        <tr>
                <td>Inclusion type</td>
            	<td>{% for x in inclusion_list %}
                {{ x.inclusion_type }}</br>
                {% endfor %}</td>
        </tr>
        <tr>
                <td>Inclusion color</td>
            	<td>{% for x in inclusion_list %}
                {{ x.inclusion_color }}</br>
                {% endfor %}</td>
        </tr>
        <tr>
                <td>Inclusion form</td>
            	<td>{% for x in inclusion_list %}
                {{ x.inclusion_form }}</br>
                {% endfor %}</td>
        </tr>
        <tr>
                <td>Inclusion particle size</td>
            	<td>{% for x in inclusion_list %}
                {{ x.inclusion_particle_size }}</br>
                {% endfor %}</td>
        </tr>
        <tr>
                <td>Inclusion frequency</td>
            	<td>{% for x in inclusion_list %}
                {{ x.inclusion_frequency }}</br>
                {% endfor %}</td>
        </tr>
        
        <tr>
                <td>Inclusion hardness</td>
            	<td>{% for x in inclusion_list %}
                {{ x.inclusion_hardness }}</br>
                {% endfor %}</td>
        </tr>
        <tr>
                <td>Inclusion (full record)</td>
            	<td>{% for x in inclusion_list %}
                {{ x.inclusion_type }} {{ x.inclusion_color }} {{ x.inclusion_form }} {{ x.inclusion_particle_size }} {{ x.inclusion_frequency }} {{ x.inclusion_hardness }}</br>
                {% endfor %}</td>
        </tr>
         <tr>
                <td>Model metadata</td>
                <td><a href="http://{{ request.get_host }}/media/{{ object.model_metadata }}">Download metadata file</a></br>
                </td>
        </tr>
        <tr>
                <td>Model parameters</td>
                <td><a href="http://{{ request.get_host }}/media/{{ object.model_parameters }}">Download parameters file</a></br>
                </td>
        </tr>
</table>

{% endblock content %}
{% block scripts %}
<script type="text/javascript">
$(document).ready(function(){
    $("td:empty").parent().hide();
    $("td").filter(function(){
      return $(this).text() === "None";
    }).parent().hide();
    $("#01").click(function(){
            var emptytd = $("td:empty");
            $(emptytd).parent().toggle("slow");
            var nonetd = $("td").filter(function(){
            return $(this).text() === "None"});
            $(nonetd).parent().toggle("slow");
});
    });
</script>
<script type="text/javascript">
    var presenter = null;
    function setup3dhop() { 
        presenter = new Presenter("draw-canvas");
        var meshUrl = "http://{{ request.get_host }}/media/{{ object.model_file }}";
        presenter.setScene({
            meshes: {
                "3dmodel" : { url: meshUrl }
            },
            modelInstances : {
                "Model1" : { mesh : "3dmodel" } 
            }
        });
    }

    function actionsToolbar(action) {
        if(action=='home') presenter.resetTrackball(); 
        else if(action=='zoomin') presenter.zoomIn();
        else if(action=='zoomout') presenter.zoomOut(); 
        else if(action=='light' || action=='light_on') { presenter.enableLightTrackball(!presenter.isLightTrackballEnabled()); lightSwitch(); } 
        else if(action=='full'  || action=='full_on') fullscreenSwitch(); 
    }

    $(document).ready(function(){
        init3dhop();
        setup3dhop();
        resizeCanvas(1200,800);
        moveToolbar(2,2);
    });
</script>

{% endblock scripts %}
