{% extends "defcdb/listBase.html" %} 
{% load static %}
{% block Titel %}Show Provinces with Sites{% endblock %}
{% load crispy_forms_tags %}

{% block scriptHeader %}<!--leafletjs -->
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.css" />
        <style>
            #map { height: 800px; }
        </style>
        <script type="text/javascript">
			$(function () {


			    // Instanciate the map
			    $('#container').highcharts('Map', {
			        chart: {
			            spacingBottom: 30,
			            borderWidth : 1
			        },
			        title : {
			            text : 'Regions in Turkey'
			        },

			        /*legend: {
			            enabled: true
			        },*/
			         legend: {
			                layout: 'horizontal',
			                borderWidth: 0,
			                backgroundColor: 'rgba(255,255,255,0.85)',
			                floating: true,
			                verticalAlign: 'bottom',
			                y: 25
			            },

			        mapNavigation: {
			                enabled: true
			            },

			        plotOptions: {
			            map: {
			                allAreas: false,
			                joinBy: ['name', 'code'],
			                dataLabels: {
			                    enabled: true,
			                    color: '#FFFFFF',
			                    formatter: function () {
			                        if (this.point.properties && this.point.properties.labelrank.toString() < 200) {
			                            return this.point.properties['name'];
			                        }
			                    },
			                    format: null,
			                    style: {
			                        fontWeight: 'bold'
			                    }
			                },
			                mapData: Highcharts.maps['countries/tr/tr-all'],
			                tooltip: {
			                    headerFormat: '',
			                    pointFormat: '{point.name}: <b>{series.name}</b>'
			                }

			            }
			        },

			        series : [{
			            name: 'Turkish Thrace',
			            data: $.map(['Edirne', 'Kirklareli', 'Tekirdag'], function (code) {
			                return { code: code };
			            })
			        }, {
			            name: 'Western, Anatolia',
			            data: $.map(['Antalya','Burdur' ,'Isparta' ,'Afyon' ,'Aydin' ,'Denizli' ,'Izmir' ,'Kutahya' ,'Manisa' ,'Mugla' ,'Usak' ,'Balikesir' ,'Bilecik' ,'Bursa' ,'Canakkale' ,'Yalova' ,'Kocaeli' ,'Sakarya' ,'Istanbul'], function (code) {
			                return { code: code };
			            })
			        }, {
			            name: 'Southeastern Anatolia',
			            data: $.map(['Adiyaman', 'Batman','Diyarbakir','Gaziantep','Kilis','Mardin','Sanliurfa','Siirt','Sirnak'], function (code) {
			                return { code: code };
			            })
			        }, {
			            name: 'Eastern Anatolia',
			            data: $.map(['Agri','Ardahan','Bingol','Bitlis','Elazig','Erzincan','Erzurum','Hakkari','Igdir','Kars','Malatya','Mus','Tunceli','Van','Artvin','Rize','Bayburt','Trabzon','Gumushane',], function (code) {
			                return { code: code };
			            })
			        },{
			            name: 'Central Anatolia',
			            data: $.map(['Aksaray','Ankara','Cankiri','Eskisehir','Karaman','Kayseri','Kirikkale','Kirsehir','Konya','Nevsehir','Nigde','Sivas','Yozgat','Hatay','Kahramanmaras','Osmaniye','Mersin','Adana','Amasya','Bartin','Bolu','Corum','Duzce','Giresun','Karabuk','Kastamonu','Ordu','Samsun','Sinop','Tokat','Zonguldak'], function (code) {
			                return { code: code };
			            })
			        }]
			        
			    });

			});


		</script>

{% endblock %}

{% block content %}
<div class="fluid" style="padding:50px;">
<div class="panel panel-default">
	<div class="panel-heading">
		<h1>Regions and Districts</h1>
	</div>
	<div class="panel-body">
		<div id="parentMap"></div>
		<div id="container"></div>
	</div>
</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.3.6/proj4.js"></script>
<script src="https://code.highcharts.com/maps/highmaps.js"></script>
<script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
<script src="https://code.highcharts.com/maps/modules/data.js"></script>
<script src="http://code.highcharts.com/mapdata/countries/tr/tr-all.js"></script>
{% endblock content %}