{% extends "defcdb/base.html" %}
{% load static %}
{% block Titel %}Ask GeoNames{% endblock %}

{% block scriptHeader %}<!--leafletjs -->
   <link rel="stylesheet" href="{% static 'webpage/libraries/leaflet/leaflet.css' %}"/></link>
    <script src="{% static 'webpage/libraries/leaflet/leaflet.js' %}"></script>
        <style>
            #map { height: 500px; }
        </style>
{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container" style="padding:20px">
<div class="row">
	<div class="col-md-4" style="padding:20px">
		<h1>Edit: {{ object.name }}</h1>
		<form action="" method="post">{% csrf_token %}
           
                 {% crispy form %}

            <a class="btn btn-default btn-block" target="_blank">Check<span id="currentID"></span></a>
            <input class="btn btn-primary btn-block" type="submit" value="Save" />
		</form>
	</div>
    <div class ="col-md-1"></div>
	<div class ="col-md-7">
		<form class="form-group">
		<select class="form-control" id="geonamesSELECT">
			{% for dict in responseJSON %}
			<option id="geonamesOption" value="{{ dict.countryName }}_{{ dict.name }}_{{ dict.lat }}_{{ dict.lng }}_{{ dict.geonameId }}"> {{ dict.countryName }} | {{ dict.name }} | {{ dict.lat }} | {{ dict.lng }} | {{ dict.geonameId }}</option>
			{% endfor %}
		</select>
		</form>
	   <div id="parentMap"></div>
    </div>
</div>
</div>
<script type="text/javascript">
	$( document ).ready(function() {
 		$("#map").remove()
    	$("#parentMap").append("<div id='map'></div>");
    	var placeName = $("#geonamesSELECT option:selected").text();
    	var gps1 = placeName.split(/\|/)[2];
    	var gps2 = placeName.split(/\|/)[3];
    	var map = L.map('map').setView([gps1, gps2], 10);

    	L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox.light',
        accessToken: 'pk.eyJ1IjoiY3NhZTgwOTIiLCJhIjoiY2lnM2FoZWpjMDJqZnY1a2gxdWl6a29kaiJ9.FQXlsKIu60WhiXLrfI59VA'
        }).addTo(map);

    	L.marker([gps1, gps2]).addTo(map)
    	.bindPopup(placeName)
    	.openPopup();
		});
</script>

<script type="text/javascript">
	$( document ).ready(function(){
		var placeName = $("#geonamesSELECT option:selected").text();
		var gps1 = placeName.split(/\|/)[2];
    	var gps2 = placeName.split(/\|/)[3];
    	var geonameId = placeName.split(/\|/)[4];
    	$('#id_lat').val(parseFloat(gps1));
    	$('#id_lng').val(parseFloat(gps2));
    	$('#id_authorityfile_id').val(parseInt(geonameId));
        var gndURL = "http://www.geonames.org/"+geonameId.trim();
        var lookupButton = $("#currentID");
        $(lookupButton).text(gndURL);
        $(lookupButton).parent().attr("href",gndURL);

	});
</script>


<script type="text/javascript">
    $("#geonamesSELECT").change(function(){
        $("#map").remove()
        $("#parentMap").append("<div id='map'></div>");
	   var placeName = $("#geonamesSELECT option:selected").text();
        var gps1 = placeName.split(/\|/)[2];
        var gps2 = placeName.split(/\|/)[3];
        var map = L.map('map').setView([gps1, gps2], 15);
        var geonameId = placeName.split(/\|/)[4];
        $('#id_lat').val(parseFloat(gps1));
        $('#id_lng').val(parseFloat(gps2));
        $('#id_authorityfile_id').val(parseInt(geonameId));
       var gndURL = "http://www.geonames.org/"+geonameId.trim();
        var lookupButton = $("#currentID");
        $(lookupButton).text(gndURL);
        $(lookupButton).parent().attr("href",gndURL);

        L.tileLayer('http://otile1.mqcdn.com/tiles/1.0.0/map/{z}/{x}/{y}.jpg', {
        attribution: 'Data, imagery and map information provided by MapQuest, OpenStreetMap <http://www.openstreetmap.org/copyright> and contributors, ODbL <http://wiki.openstreetmap.org/wiki/Legal_FAQ#3a._I_would_like_to_use_OpenStreetMap_maps._How_should_I_credit_you.3F>',
        maxZoom: 18
        }).addTo(map);
        L.marker([gps1, gps2]).addTo(map)
            .bindPopup(placeName)
            .openPopup();
});
</script>
</div>
</div>

{% endblock %}