{% extends "defcdb/listBase.html" %} 

{% block Titel %}All Districts{% endblock %}

{% block allobjects %}
<h1> All Districts</h1>
{% endblock allobjects %}

{% block tablebody %}
<table class="table table-striped">
<thead>   
    <tr>
      <th class="sorter-checkbox"></th>
      <th>Name (original name)</th>
      <th>Region (County)</th>
      <th>Geonames ID</th>
      <th>Coordinates (lat/long)</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th class="sorter-checkbox"></th>
      <th>Name (original name)</th>
      <th>Region (County)</th>
      <th>Geonames ID</th>
      <th>Coordinates (lat/long)</th>
    </tr>
  </tfoot>
  <tbody>
	 {% for object in  object_list %}
	 <tr>
	 	<td>
        <input type="checkbox">
        </td>
	 	<td>
	 		<a href="{% url 'geolocation:edit_province' object.id %}">{{ object.name }} ({{ object.original_name }})</a> 
	 	</td>
	 	<td>
	 		{{ object.region.name }} ({{ object.region.country.name }})
	 	</td>
	 	<td>
	 		<a href="http://www.geonames.org/{{ object.authorityfile_id }}">{{ object.authorityfile_id }}</a>
	 	</td>
	 	<td>
	 		{{ object.lat }}/{{ object.lng }}
	 	</td>
	 </tr>	
    {% endfor %}
	</tbody>
	</table>
{% endblock tablebody %}