{% extends "defcdb/listBase.html" %} 
{% load static %}
{% block Titel %}Show Sites{% endblock %}
{% load crispy_forms_tags %}

{% block scriptHeader %}<!--leafletjs -->
    <link rel="stylesheet" href="{% static 'webpage/libraries/leaflet/leaflet.css' %}"/></link>
    <script src="{% static 'webpage/libraries/leaflet/leaflet.js' %}"></script>
        <style>
            #map { height: 600px; }
        </style>
{% endblock %}

{% block content %}
<div class="fluid" style="padding:50px;">
<div class="panel panel-default">
    <div class="panel-heading">
        <h1>Geolocation of Sites</h1>
    </div>
    <div class="panel-body">
 
        <div id="parentMap"></div>

    </div>
    </div>
</div>
</div>
<script src="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.js"></script>
<script src="http://kartena.github.io/Proj4Leaflet/lib/proj4-compressed.js"></script>
<script src="http://kartena.github.io/Proj4Leaflet/src/proj4leaflet.js"></script>
<script type="text/javascript">
    $( document ).ready(function() {
        $("#map").remove();
        $("#parentMap").append("<div id='map'></div>");
        var map = L.map('map').setView([38.901338, 30.434664], 6);

        L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox.light',
        accessToken: 'pk.eyJ1IjoiY3NhZTgwOTIiLCJhIjoiY2lnM2FoZWpjMDJqZnY1a2gxdWl6a29kaiJ9.FQXlsKIu60WhiXLrfI59VA'
        }).addTo(map);
       /* var imageUrl = "{% static 'webpage/turkey_regions_borders.png' %}";
        imageBounds = [[42.097404, 25.658806], [35.800831, 44.736830]];

        L.imageOverlay(imageUrl, imageBounds).addTo(map);*/

        {% for site in site_list %}
            L.marker([{{ site.latitude }}, {{ site.longitude }}])
            .addTo(map)
            .bindPopup("<h1>{{ site.name }}</h1> <table class='table table-striped'> <tr> <td>Name: </td> <td>{{ site.name }}</td> </tr> <tr> <td>District: </td> <td>{{ site.province.name }}</td> </tr><tr> <td>Region: </td> <td>{{ site.province.region }}</td> </tr> <tr> <td>Country: </td> <td>{{ site.province.region.country.name }}</td> </tr> <tr> <td>Areas</td> <td> {% for x in site.area_set.all %} {%if x.public == 1 %}<a href='{% url "publicrecords:area_detail" pk=x.id %}'> {{ x }} </a><br/>{% endif %} {% endfor %} </td> </table>");
        {% endfor %}



        });
</script>
{% endblock content %}