{% extends "defcdb/base.html" %}
{% load staticfiles %}
{% block scriptHeader %}<!--leafletjs -->
   <link rel="stylesheet" href="{% static 'webpage/libraries/leaflet/leaflet.css' %}"/></link>
   <link rel="stylesheet" href="{% static 'webpage/libraries/leaflet.markercluster/dist/MarkerCluster.css' %}"/></link>
   <link rel="stylesheet" href="{% static 'webpage/libraries/leaflet.markercluster/dist/MarkerCluster.Default.css' %}"/></link>

    <script src="{% static 'webpage/libraries/leaflet/leaflet.js' %}"></script>
    <script src="{% static 'webpage/libraries/leaflet.markercluster/src/leaflet.markercluster-src.js' %}"></script>
        <style>
            #map {
              height: 800px;
              margin-bottom: 40px;
            }
            .btn.btn-default.map-search {
              margin-bottom: 10px;
              width: 50%;
              white-space: normal;
            }
            .btn-crispy-search {
              width: 50%;
            }
        </style>
{% endblock %}
{% block content %}
<div class="panel panel-fixed" style="padding:2%; text-align:center;">
<div class="panel-heading info-panel">
    <h2> MAP OF THE ARCHAELOGICAL SITES </h2>
</div>
<div class="panel-body">
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default panel-fixed" >
            <div class="panel-heading">
                <h3>Search</h3>
            </div>
            <div class="panel-body">
            {% load django_tables2 crispy_forms_tags %}
            {% crispy filter.form filter.form.helper %}
            <a class ="btn btn-default map-search"  id="area-search-options">Show/Hide Area search options</a></br>
            <a class ="btn btn-default map-search"  id="finds-search-options">Show/Hide Finds search options</a></br>
             <a class ="btn btn-default map-search"  href="{% url 'geolocation:filter_sites' %}">Reset search</a></br>
            <!-- <hr/>
            Results:  <br/>
            {% for obj in filter %}
                <a href="{% url 'publicrecords:site_detail' pk=obj.id %}">{{ obj.name }}</a><br />
            {% endfor %} -->
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="panel panel-default panel-fixed" >
            <div class="panel-heading">
                <h3>GeoVisualize</h3>
            </div>
            <div class="panel-body">
                <div id="map"></div>

            </div>
        </div>
        <div class="panel panel-default panel-fixed" >
            <div class="panel-heading">
                <h3>All results</h3>
            </div>
            <div class="panel-body">

                <div>
                  {% for obj in filter %}
                      <a href="{% url 'publicrecords:site_detail' pk=obj.id %}">{{ obj.name }}</a><br />
                  {% endfor %}
                </div>
                <div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>

<script>
     function filterSet(e, filter) {
        if (e.className === 'btn btn-success') {
        e.className = 'btn btn-default';
        var lg = mapLayerGroups[filter];
        markers.removeLayer(lg);
        } else {
           e.className = 'btn btn-success';
           var lg = mapLayerGroups[filter];
            markers.addLayer(lg);
            mymap.fitBounds(lg.getBounds(), {'maxZoom': 12});
        } };
        var mapLayerGroups = [];
        var markers = L.markerClusterGroup({
        });

    function onEachFeature(feature, layer) {
            var lg = mapLayerGroups[feature.relation_type];
            if (lg === undefined) {
                lg = new L.layerGroup();
                mapLayerGroups[feature.relation_type] = lg;
                $('#filter-menu').append('<a class="btn btn-success" href="#" role="button" onclick="filterSet(this, \''+feature.relation_type+'\')">'+feature.relation_type+'</a>')
            }


            //add the feature to the layer
            lg.addLayer(layer);
            //mymap.fitBounds(lg.getBounds(), {'maxZoom': 12});

            if (feature.properties && feature.properties.popupContent) {
                popupContent = feature.properties.popupContent;
            }

            layer.bindPopup(feature.properties.popupContent);

        };
        $('#map')
        var mymap = L.map('map', {
          fullscreenControl: true,
          }).setView([47.394167, 13.689167], 8);

        L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox.light',
        accessToken: 'pk.eyJ1IjoiY3NhZTgwOTIiLCJhIjoiY2lnM2FoZWpjMDJqZnY1a2gxdWl6a29kaiJ9.FQXlsKIu60WhiXLrfI59VA'
        }).addTo(mymap);



        var build_data =  [{% for obj in filter %}{"geometry": {"type": "Point", "coordinates": [ {{ obj.longitude }}, {{ obj.latitude }} ]}, "type": "Feature", "properties": {"popupContent": "<strong><a href='{%url 'publicrecords:site_detail' pk=obj.id %}''>{{ obj.name }}</a></strong>" }, "id": "{{ obj.id }}" }{% if forloop.last %}] {% else %},{% endif %}{% empty %}]{% endfor %}
        var geoJsonLayer = L.geoJson( build_data, {onEachFeature: onEachFeature});
        markers.addLayer(geoJsonLayer);
        mymap.addLayer(markers);
        mymap.fitBounds(markers.getBounds(), {'maxZoom': 12});

</script>
<script type="text/javascript">
$(document).ready(function(){
    $("#area_search_fields").hide();
    $("#area-search-options").click(function(){
        $("#area_search_fields").toggle();
    });
});
</script>
<script type="text/javascript">
$(document).ready(function(){
    $("#finds_search_fields").hide();
    $("#finds-search-options").click(function(){
        $("#finds_search_fields").toggle();
    });
});
</script>
{% endblock %}
