{% extends "webapp/base.html" %} 

{% block Titel %}See Settlements{% endblock %}

{% block content %}

<h1>All Settlements</h1> 
{% if object_list %}
<table class="table table-striped">

	    {% for object in  object_list %}
	 <tr>
	 	<td>
	 		{{ object }} 
	 	</td>
	 	<td>
	 		<a class ="btn btn-primary" href="/webapp/settlement/detail/{{ object.id_settlements }}"> See Details </a>
	 	</td>
	 	<td>
	 		<a class ="btn btn-primary" href="/webapp/settlement/update/{{ object.id_settlements }}"> Edit </a> 
	 	</td>	
	 	<td>
	 		<a class ="btn btn-danger btn-sm" href="/webapp/settlement/delete/{{ object.id_settlements }}"> Delete </a> 
	 	</td>
	 </tr>	
    {% endfor %}
</table>
{% else %}
<p> There is no <i>object_list</i></p>
{% endif %} 
{% endblock content %}