{% extends "webapp/base.html" %} 

{% block Titel %}See Sites{% endblock %}

{% block content %}

<h1>Site Descriptions</h1> 
{% if site_list %}
<table class="table table-striped">
<!--	<tr>
		<th>Site´s Name</th>
		<th>See Details</th>
		<th>Edit</th>
		<th>Delete</th>
	</tr>	-->
	    {% for site in  site_list %}
	 <tr>
	 	<td>
	 		{{ site.name }} 
	 	</td>
	 	<td>
	 		<a class ="btn btn-primary" href="/webapp/sites/detail/{{ site.id_site }}"> See Details </a>
	 	</td>
	 	<td>
	 		<a class ="btn btn-primary" href="/webapp/sites/update/{{ site.id_site }}"> Edit </a> 
	 	</td>	
	 	<td>
	 		<a class ="btn btn-danger btn-sm" href="/webapp/sites/delete/{{ site.id_site }}"> Delete </a> 
	 	</td>
	 </tr>	
    {% endfor %}
</table>
{% else %}
<p> Es gibt keine <i>collection_list</i></p>
{% endif %} 
{% endblock content %}