{% extends "webapp/base.html" %} 

{% block Titel %}See Sites{% endblock %}

{% block content %}

<h1>All Sites</h1> 
{% if object_list %}
<table class="table table-striped">

	    {% for object in  object_list %}
	 <tr>
	 	<td>
	 		{{ object.name }} 
	 	</td>
	 	<td>
	 		<a class ="btn btn-primary" href="/webapp/sites/detail/{{ object.id_site }}"> See Details </a>
	 	</td>
	 	<td>
	 		<a class ="btn btn-primary" href="/webapp/sites/update/{{ object.id_site }}"> Edit </a> 
	 	</td>	
	 	<td>
	 		<a class ="btn btn-danger btn-sm" href="/webapp/sites/delete/{{ object.id_site }}"> Delete </a> 
	 	</td>
	 </tr>	
    {% endfor %}
</table>
{% else %}
<p> There is no <i>object_list</i></p>
{% endif %} 
{% endblock content %}