{% extends "defcdb/listBase.html" %}
{% block Titel %}See All Objects{% endblock %}

{% block panelhead %}
  <div>
    <a class ="btn btn-primary btn-lg"  href="{% url 'defcdb:area_create' %}">create new Area</a>
  </div>
{% endblock panelhead %}

{% block tablebody %}
<table class="table table-striped">
  <thead>
        
    <tr>
      <th class="sorter-checkbox"></th>
      <th>Site</th>
      <th>District</th>
      <th>Area type</th>
      <th>Finds type</th>
      <th>view | modify | delete</th>
  </thead>
  <tfoot>
    <tr>
      <th class="sorter-checkbox"></th>
      <th>Site</th>
      <th>District</th>
      <th>Area type</th>
      <th>Finds type</th>
      <th>view | modify | delete</th>
    </tr>
  </tfoot>
  <tbody>
   {% for object in object_list %}
   <tr>
    <td>
        <input type="checkbox">
        </td>
    <td>
        {% if object.site.id %}
            <a href="{% url 'defcdb:site_detail' pk=object.site.id %}"> {{ object.site.name }}</a>
        {% else %}
         no Site related to this Area 
        {% endif %}
    </td>
    <td>
      {{ object.site.province }} 
    </td>
    <td>
      {{ object.area_type }} 
    </td>
    <td>
      {% if object.finds_set.all %}
      {% for x in object.finds_set.all %}
          <a href="{% url 'defcdb:finds_detail' pk=x.id %}">
              {{ x.finds_type }}
          </a> 
       <br />
      {% endfor %}
      <a class ="btn btn-primary btn-sm"  href="{% url 'defcdb:finds_create' %}?area={{ object }}">
        create another find
      </a>
      {% else %}
      <a class ="btn btn-primary btn-sm"  href="{% url 'defcdb:finds_create' %}?area={{ object }}">
        create a new find
      </a>
      {% endif %}
    </td>
    <td>
      <a class ="btn btn-primary btn-sm"  href="{% url 'defcdb:area_detail' pk=object.id %}">view</a> 
      <a class ="btn btn-primary btn-sm" href="{% url 'defcdb:area_update' pk=object.id %}">edit</a>
      <a class ="btn btn-danger btn-sm" href="{% url 'defcdb:area_delete' pk=object.id %}">delete</a>
    </td>
   </tr>  
    {% endfor %}
  </tbody>
</table>
{% endblock tablebody %}
