{% extends "defcdb/base.html" %}

{% block scripts %}
<script type="text/javascript">
// $(document).ready(function(){
//     $("td:empty").parent().hide();
//     $("td:contains('None')").parent().hide();
//     $("#01").click(function(){
//         // var testv = $("td:odd").text();
//         //  // alert(testv);
//         // if (testv == ""
//             var emptytd = $("td:empty");
//             // alert(emptytd.length);
//             $(emptytd).parent().toggle("slow");
//             var nonetd = $("td:contains('None')");
//             $(nonetd).parent().toggle("slow");
//         /*testv.hide();*/
//   //       if ($('td:even:empty',this){ 
//   //       $(this).hide();
//   //       } else {
//   //       $(this).show();
//   // }
// });
//     });

// // </script>
<script type="text/javascript">
$(document).ready(function(){
    $("td:empty").parent().hide();
    $("td").filter(function(){
      return $(this).text() === "None";
    }).parent().hide();
    $("#01").click(function(){
        // var testv = $("td:odd").text();
        //  // alert(testv);
        // if (testv == ""
            var emptytd = $("td:empty");
            // alert(emptytd.length);
            $(emptytd).parent().toggle("slow");
            var nonetd = $("td").filter(function(){
            return $(this).text() === "None"});
            $(nonetd).parent().toggle("slow");
});
    });

</script>

{% endblock scripts %}




