{% extends "defcdb/base.html" %}
{% block content %}

<div class="container">
    <div class="panel panel-default panel-browsing">
            <div class="panel-heading panel-browsing-heading">
                <h1>DEFC Bibliography</h1>
            </div>
            <div class="panel-body panel-browsing-body">
                <p>Explore Zotero collaborative group library of the Digitizing Early Farming Cultures project.<br>
                It is based on bibliographic collections of the OREA research group <a href="http://www.orea.oeaw.ac.at/anatolian-aegean.html" target="_blank"> Anatolian Aegean Prehistoric Phenomena (AAPP)</a>.</p>
                <p><a href="https://www.zotero.org/defc-orea-oeaw" target="_blank"> <span class="glyphicon glyphicon-link"></span> DEFC Zotero Bibliography </a></p>
                <p>Feel free to contact us if you have any bibliographies to integrate!</p>
            </div>
    </div>
</div>
{% endblock content %}
