{% extends "defcdb/base.html" %} 
{% block content %}
{% load crispy_forms_tags %}

<div class="container">
<div class="panel panel-default">
    <div class="panel-heading">
        <h1>Create new Site</h1>
        <p class="text-muted">In case you are creating a Site which is located in Turkey please take a look at <a href="{% url 'defcdb:turkey_map' %}" target="_blank" class="navlink">the Map of Turkish regions and districts</a></p>
     </div>
    <div class="panel-body">
         {% crispy form %}
    </div>
</div>
</div>


{% endblock content %}
{% block scripts %}

<script type="text/javascript">
	function popupCreateName() {
		var url = "{% url 'defcdb:name_create' %}";
		var MyWindow = window.open(url,"","width=300, height=500");
	}
</script>
<script type="text/javascript">
	$(document).ready(function(){
		$("#id_alias_name-autocomplete").after('<button id="add_aliasName" type="button" class="btn btn-sm btn-success" onclick="popupCreateName()"><span class="glyphicon glyphicon-plus" /></button>');
	});
	$(document).ready(function(){
		$("#id_alternative_name-autocomplete").after('<button id="add_alternativeName" type="button" class="btn btn-sm btn-success" onclick="popupCreateName()"><span class="glyphicon glyphicon-plus"/></button>');
	});
</script>



{% endblock %}
