{% extends "defcdb/base.html" %} 
{% block content %}
{% load crispy_forms_tags %}

<div class="container">
<div class="panel panel-default">
    <div class="panel-heading">
        <h1>Create new Name</h1>
            </div>
    <div class="panel-body">
         {% crispy form %}
    </div>
</div>
</div>
<script>
    // Script to parse the autocomplete input and to subsitute the entered string (fetched via autocomplete) through this part of the fetched string, which should be stored in the db. 
    $( "#submit-id-submit" ).click(function() {
        var dataToChange = $( "#id_language").val().split("|");
        console.log(dataToChange.length);
        console.log(dataToChange);
        if(dataToChange.length === 2){
            console.log("dataToChange");
            $( "#id_language").val(dataToChange[1]);
        }             
});
</script>
{% endblock content %}
