{% extends "defcdb/base.html" %} 
{% block content %}
{% load crispy_forms_tags %}


<div class="container">
<div class="panel panel-default">
            <div class="panel-heading">
                <h1>Create new Area
                </h1>
            </div>
            <div class="panel-body">
                {% crispy form %}
            </div>
        </div>
    </div>
{% endblock content %}
{% block scripts %}

<script type="text/javascript">
$(document).ready(function(){
    var fetchedParameter = "{{ request.GET.site }}";
    // alert(decodeURI(fetchedParameter));
   $("#id_site option").each(function() {
        if($(this).text() == fetchedParameter) {
            $(this).attr('selected', 'selected');
        }                        
    });
});
</script>

<script type="text/javascript">
    $(document).ready(function(){
        $('div[id*="quarry"]').hide();
        $('div[id*="settlement"]').hide();
        $('div[id*="cave"]').hide();
        $('div[id*="cemetery"]').hide();
        $('div[id*="grave"]').hide();
    })
    $('#id_area_type').change(function(){
    var selected_option =  $('#id_area_type option:selected').text();
    if(selected_option =="quarry"){
        $('div[id*="quarry"]').show("slow");
        $('div[id*="settlement"]').hide();
        $('div[id*="cave"]').hide();
        $('div[id*="cemetery"]').hide();
        $('div[id*="grave"]').hide();
    }
    else if(selected_option == "settlement"){
        $('div[id*="quarry"]').hide();
        $('div[id*="settlement"]').show("slow");
        $('div[id*="cave"]').hide();
        $('div[id*="grave"]').show("slow");
        $('#div_id_cemetery_or_grave').hide();
        $('#div_id_cemetery_or_graves_topography').hide();
        $('#div_id_cemetery_or_graves_mortuary_features').hide();
        
    }
    else if(selected_option == "cave or rockshelter"){
        $('div[id*="quarry"]').hide();
        $('div[id*="settlement"]').hide();
        $('div[id*="cave"]').show("slow");
        $('div[id*="cemetery"]').hide();
        $('div[id*="grave"]').show("slow");
        $('#div_id_cemetery_or_grave').hide();
        $('#div_id_cemetery_or_graves_topography').hide();
        $('#div_id_cemetery_or_graves_mortuary_features').hide();
    }
    else if(selected_option == "cemetery or grave"){
        $('div[id*="quarry"]').hide();
        $('div[id*="settlement"]').hide();
        $('div[id*="cave"]').hide();
        $('div[id*="cemetery"]').show("slow");
        $('div[id*="grave"]').show("slow");
    }
    else if(selected_option == "---------"){
        $('div[id*="quarry"]').hide();
        $('div[id*="settlement"]').hide();
        $('div[id*="cave"]').hide();
        $('div[id*="cemetery"]').hide();
        $('div[id*="grave"]').hide();
    }
    });        
</script>
<script type="text/javascript">
    $(document).ready(function(){
        $('div[id*="earliest"]').hide();
        $('div[id*="latest"]').hide();
    });
    $('#id_radiocarbon_dated').change(function(){
    var selected_option =  $('#id_radiocarbon_dated option:selected').text();
    if(selected_option =="yes"){
        $('div[id*="earliest"]').show("slow");
        $('div[id*="latest"]').show("slow");
        $('#div_id_earliest_date_14C_age_calibrated').hide();
        $('#div_id_earliest_date_date_of_calibration').hide();
        $('#div_id_latest_date_14C_age_calibrated').hide();
        $('#div_id_latest_date_date_of_calibration').hide();
    }
    else if(selected_option =="no"){
        $('div[id*="earliest"]').hide();
        $('div[id*="latest"]').hide();
    }
    else if(selected_option =="---------"){
        $('div[id*="earliest"]').hide();
        $('div[id*="latest"]').hide();
    }

    });
</script>
<script type="text/javascript">
    $('#id_earliest_date_calibration').change(function(){
    var selected_option = $('#id_earliest_date_calibration option:selected').text();
    if(selected_option =="yes"){
        $('#div_id_earliest_date_14C_age_calibrated').show("slow");
        $('#div_id_earliest_date_date_of_calibration').show("slow");
    }
    else if(selected_option =="no"){
        $('#div_id_earliest_date_14C_age_calibrated').hide();
        $('#div_id_earliest_date_date_of_calibration').hide();
    }
    else if(selected_option == "---------"){
        $('#div_id_earliest_date_14C_age_calibrated').hide();
        $('#div_id_earliest_date_date_of_calibration').hide();
    }
});

</script>
<script type="text/javascript">
    $('#id_latest_date_calibration').change(function(){
    var selected_option = $('#id_latest_date_calibration option:selected').text();
    if(selected_option =="yes"){
        $('#div_id_latest_date_14C_age_calibrated').show("slow");
        $('#div_id_latest_date_date_of_calibration').show("slow");
    }
    else if(selected_option =="no"){
        $('#div_id_latest_date_14C_age_calibrated').hide();
        $('#div_id_latest_date_date_of_calibration').hide();
    }
    else if(selected_option == "---------"){
        $('#div_id_latest_date_14C_age_calibrated').hide();
        $('#div_id_latest_date_date_of_calibration').hide();
    }
});

</script>

<script type="text/javascript">
//     $(document).ready(function(){
//         $('tr:has(th:contains("Earliest"))').hide();
//         $('tr:has(th:contains("Latest"))').hide();
//     });
//     $('#id_radiocarbon_dated').change(function(){
//     var selected_option =  $('#id_radiocarbon_dated option:selected').text();
//     if(selected_option =="yes"){
//         $('tr:has(th:contains("Earliest"))').show();
//         $('tr:has(th:contains("Latest"))').show();
//         $('tr:has(th:contains("Earliest date: 14C age calibrated"))').hide();
//         $('tr:has(th:contains("Earliest date: Date of calibration"))').hide();
//         $('tr:has(th:contains("Latest date: 14C age calibrated"))').hide();
//         $('tr:has(th:contains("Latest date: Date of calibration"))').hide();
//     }
//     else if(selected_option =="no"){
//         $('tr:has(th:contains("Earliest"))').hide();
//         $('tr:has(th:contains("Latest"))').hide();
//     }
//     else if(selected_option =="---------"){
//         $('tr:has(th:contains("Earliest"))').hide();
//         $('tr:has(th:contains("Latest"))').hide();
//     }
//     });
// </script>

<script type ="text/javascript">
//     // $(document).ready(function(){
//     //     $('tr:has(th:contains("Earliest date: 14C age calibrated"))').hide();
//     //     $('tr:has(th:contains("Earliest date: Date of calibration"))').hide();
//     // });
//     $('#id_earliest_date_calibration').change(function(){
//     var selected_option = $('#id_earliest_date_calibration option:selected').text();
//     if(selected_option =="no"){
//         $('tr:has(th:contains("Earliest date: 14C age calibrated"))').hide();
//         $('tr:has(th:contains("Earliest date: Date of calibration"))').hide();
//     }
//     else if(selected_option =="yes"){
//         $('tr:has(th:contains("Earliest date: 14C age calibrated"))').show();
//         $('tr:has(th:contains("Earliest date: Date of calibration"))').show();

//     }
//     else if(selected_option =="---------"){
//         $('tr:has(th:contains("Earliest date: 14C age calibrated"))').hide();
//         $('tr:has(th:contains("Earliest date: Date of calibration"))').hide();

//     }
// });
// </script> 

<script type ="text/javascript">
//     $('#id_latest_date_calibration').change(function(){
//     var selected_option = $('#id_latest_date_calibration option:selected').text();
//     if(selected_option =="no"){
//         $('tr:has(th:contains("Latest date: 14C age calibrated"))').hide();
//         $('tr:has(th:contains("Latest date: Date of calibration"))').hide();
//     }
//     else if(selected_option =="yes"){
//         $('tr:has(th:contains("Latest date: 14C age calibrated"))').show();
//         $('tr:has(th:contains("Latest date: Date of calibration"))').show();

//     }
//     else if(selected_option =="---------"){
//         $('tr:has(th:contains("Latest date: 14C age calibrated"))').show();
//         $('tr:has(th:contains("Latest date: Date of calibration"))').show();

//     }
// });
// </script> 

<script type="text/javascript"> 
// // script managing the visibility of Area-Fields
// $(document).ready(function(){
//     $('tr:has(th:contains("Quarry"))').hide();
//         $('tr:has(th:contains("Settlement"))').hide();
//         $('tr:has(th:contains("Cave"))').hide();
//         $('tr:has(th:contains("Cemetery"))').hide();
//         $('tr:has(th:contains("Grave"))').hide();
// })
// $('#id_area_type').change(function(){
//     var selected_option =  $('#id_area_type option:selected').text();
//     if(selected_option =="quarry"){
//         $('tr:has(th:contains("Quarry"))').show();
//         $('tr:has(th:contains("Settlement"))').hide();
//         $('tr:has(th:contains("Cave"))').hide();
//         $('tr:has(th:contains("Cemetery"))').hide();
//         $('tr:has(th:contains("Grave"))').hide();
//     }
//     else if(selected_option =="settlement"){
//         $('tr:has(th:contains("Quarry"))').hide();
//         $('tr:has(th:contains("Settlement"))').show("slow");
//         $('tr:has(th:contains("Cave"))').hide();
//         $('tr:has(th:contains("Cemetery"))').hide();
//         $('tr:has(th:contains("Grave"))').show("slow");   // new added!
//     }
//     else if(selected_option =="cave or rockshelter"){
//         $('tr:has(th:contains("Quarry"))').hide();
//         $('tr:has(th:contains("Settlement"))').hide();
//         $('tr:has(th:contains("Cave"))').show("slow");
//         $('tr:has(th:contains("Cemetery"))').hide();
//         $('tr:has(th:contains("Grave"))').show("slow");   //new added
//     }
//     else if(selected_option =="cemetery or grave"){
//         $('tr:has(th:contains("Quarry"))').hide();
//         $('tr:has(th:contains("Settlement"))').hide();
//         $('tr:has(th:contains("Cave"))').hide();
//         $('tr:has(th:contains("Cemetery"))').show("slow");
//         $('tr:has(th:contains("Grave"))').show("slow"); //new added
//     }
//      else if(selected_option =="---------"){
//         $('tr:has(th:contains("Quarry"))').hide();
//         $('tr:has(th:contains("Settlement"))').hide();
//         $('tr:has(th:contains("Cave"))').hide();
//         $('tr:has(th:contains("Cemetery"))').hide();
//         $('tr:has(th:contains("Grave"))').hide(); //new added
//     }
// });
// </script>
    <script>
    $(function() {
    $('#id_pottery_form').resizable();
});
  </script>
</div>
{% endblock scripts %}