{% extends "defcdb/listBase.html" %}
{% block Titel %}See All Objects{% endblock %}

{% block panelhead %}
  <div>
    <a class ="btn btn-primary btn-lg"  href="{% url 'defcdb:finds_create' %}">create new Find</a>
  </div>
{% endblock panelhead %}

{% block tablebody %}
<table class="table table-striped">
  <thead>  
    <tr>
      <th class="sorter-checkbox"></th>
      <th>Area</th>
      <th>Area type</th>
      <th>Research Event</th>
      <th>Finds type</th>
      <th>Interpretation</th>
      <th>view | modify | delete</th>
  </thead>
  <tfoot>
    <tr>
      <th class="sorter-checkbox"></th>
      <th>Area</th>
      <th>Area type</th>
      <th>Research Event</th>
      <th>Finds type</th>
      <th>Interpretation</th>
      <th>view | modify | delete</th>
    </tr>
  </tfoot>
  <tbody>
   {% for object in object_list %}
   <tr>
    <td>
        <input type="checkbox">
    </td>
    <td>
      <a href="{% url 'defcdb:area_detail' pk=object.area.id %}"> {{ object.area.site }} </a> 
    </td>
    <td>
      {{ object.area.area_type }}
    </td>
    <td>
      {{ object.research_event }} 
    </td>
    <td>
      {% if object.finds_type.name == "pottery" %}
        {{ object.finds_type }} ({{ object.pottery_form|default_if_none:"" }})
      {% elif object.finds_type.name == "small finds" %}
        {{ object.finds_type }} ({{ object.small_finds_category }})
      {% else %}
        {{ object.finds_type }}
      {% endif %}
    </td>
    <td>
      {% for y in object.interpretation_set.all %}
      <a href="{% url 'defcdb:interpretation_detail' pk=y.id %}">{{ y }}</a> <br/>
      {% endfor %}
    </td>
    <td>
      <a class ="btn btn-primary btn-sm"  href="{% url 'defcdb:finds_detail' pk=object.id %}">view</a> 
      <a class ="btn btn-primary btn-sm" href="{% url 'defcdb:finds_update' pk=object.id %}">edit</a>
      <a class ="btn btn-danger btn-sm" href="{% url 'defcdb:finds_delete' pk=object.id %}">delete</a>
    </td>
   </tr>  
    {% endfor %}
  </tbody>
</table>
{% endblock tablebody %}
