{% extends "defcdb/base.html" %}
{% load static %}
{% block content %}

<div class="container">
<div class="panel panel-default map_panel panel-browsing">
            <div class="panel-heading panel-browsing-heading">
                <h1>MAP OF REGIONS AND DISTRICTS IN GREECE</h1>
                <p>This work, “Archaeological regions of Greece” is a derivative of the <a href="https://commons.wikimedia.org/wiki/File:Greece_prefectures_map.png">Greece prefectures map</a> by <a href="https://commons.wikimedia.org/wiki/User:ChrisO">ChrisO</a> in the public domain. The present map of regions and districts in Greece was created by the AAPP research group on the basis of division used by the British School at Athens.</p>
            </div>
            <div class="panel-body panel-browsing-body">
               <a href="{% static "defcdb/greece_map.jpg" %}"><img src="{% static "defcdb/greece_map.jpg" %}" class="img-responsive center-block"  alt="greece_map"></a> <!-- style="height: 900px; width: 1200px;" -->
            </div>
        </div>
    </div>
{% endblock content %}
