{% extends "defcdb/listBase.html" %}
{% block Titel %}See All Objects{% endblock %}

{% block panelhead %}
  <div>
    <a class ="btn btn-primary btn-lg"  href="{% url 'defcdb:interpretation_create' %}">create new Interpretation</a>
  </div>
{% endblock panelhead %}

{% block tablebody %}
<table class="table table-striped">
  <thead>
        
    <tr>
      <th class="sorter-checkbox"></th>
      <th>Area</th>
      <th>Area type</th>
      <th>Finds</th>
      <th>Production type</th>
      <th>Subsistence type</th>
      <th>view | modify | delete</th>
  </thead>
  <tfoot>
    <tr>
      <th class="sorter-checkbox"></th>
      <th>Area</th>
      <th>Area type</th>
      <th>Finds</th>
      <th>Production type</th>
      <th>Subsistence type</th>
      <th>view | modify | delete</th>
    </tr>
  </tfoot>
  <tbody>
   {% for object in object_list %}
   <tr>
    <td>
        <input type="checkbox">
    </td>
    <td>
      {% for x in object.area.all %}
      {{ x.site }} <br/>
      {% endfor %}
    </td>
    <td>
      {% for x in object.area.all %}
      {{ x.area_type }} <br/>
      {% endfor %}
    </td>
    <td>
      {% for x in object.finds.all %}
      {{ x.finds_type }} <br/>
      {% endfor %} 
    </td>
    <td>
      {% for x in object.production_type.all %}
      {{ x }} <br/>
      {% endfor %} 
    </td>
    <td>
      {% for x in object.subsistence_type.all %}
      {{ x }} <br/>
      {% endfor %} 
    </td>
    <td>
      <a class ="btn btn-primary btn-sm"  href="/defcdb/{{ object.get_classname }}/detail/{{ object.id }}">view</a> 
      <a class ="btn btn-primary btn-sm" href="/defcdb/{{ object.get_classname }}/update/{{ object.id }}">edit</a>
      <a class ="btn btn-danger btn-sm" href="/defcdb/{{ object.get_classname }}/delete/{{ object.id }}">delete</a>
    </td>
   </tr>  
    {% endfor %}
  </tbody>
</table>
{% endblock tablebody %}
