{% extends "defcdb/base.html" %}
{% block content %}
<table class="table table-striped">
        <tr>
                <td>Name of the Project </td>
                <td>{{ object.name }}</td>
        </tr>
        <tr>
                <td>Project ID</td>
                <td>{{ object.project_id }}</td>
        </tr>
        <tr>
                <td>Project Leader</td>
                <td>{{ object.project_leader }}</td>
        </tr>
        <tr>
                <td>Research Event</td>
                <td>{% for researchevent in researchevent_list %}
                        <a href="/defcdb/{{ researchevent.get_classname }}/detail/{{ researchevent.id }}"> See research event: {{ researchevent }} <br/>
                        </a>
                        {% endfor %}
                </td>
        </tr>
        <tr>
                <td>
                        <a class ="btn btn-primary" href="/defcdb/{{ object.get_classname }}/update/{{ object.id }}"> Edit </a>
                </td>
                <td>
                        <a class ="btn btn-danger btn-sm" href="/defcdb/{{ object.get_classname }}/delete/{{ object.id }}"> Delete </a>
                </td>
        </tr>
</table>
{% endblock content %}
