{% extends "defcdb/base_detail.html" %}

{% block scriptHeader %}
{% endblock %}

{% block content %}

<div class="container">
<h1>Research Event</h1>

<button id="01" class="btn btn-default">Show all fields</button><br/>

<table class="table table-striped">
    <ul>
    </ul>
        <tr>
            <td>Research type</td>
            <td>{% for type in researchtype_list %}
                {{ type }}</br>
                {% endfor %}</td>
        </tr>
        <tr>
            <td>Institution</td>
            <td>{% for institution in institution_list %}
                {{ institution }}</br>
                {% endfor %}</td>
        </tr>
        <tr>
            <td>Year of activity: start year</td>
            <td>{{ object.year_of_activity_start_year }}</td>
        </tr>
        <tr>
            <td>Year of activity: end year</td>
            <td>{{ object.year_of_activity_end_year }}</td>
        </tr>
        <tr>
            <td>Project name</td>
            <td>{{ object.project_name }}</td>
        </tr>
        <tr>
            <td>Project id</td>
            <td>{{ object.project_id }}</td>
        </tr>
        <tr>
            <td>Project leader</td>
            <td>{{ object.project_leader }}</td>
        </tr>
        <tr>
            <td>Special analysis</td>
            <td>{% for analysis in specialanalysis_list %}
                {{ analysis }}</br>
                {% endfor %}</td>
        </tr>
        <!-- <tr>
                <td>Reference</td>
                <td>{% for ref in reference_list %}
                    {{ ref }}<br/>
                    {% endfor %}
                </td>
        </tr> -->
        <tr>
            <td>Reference</td>
            <td>{% for ref in reference_list %}
                <a href="https://www.zotero.org/defc-orea-oeaw/items/itemKey/{{ ref.zoterokey }}" target="_blank">{{ ref.author }}, {{ ref.title }}, {{ ref.publication_year }}, {{ ref.place }} </a><br/>
                {% endfor %}</td>
        </tr>
        <tr>
            <td>Comment</td>
            <td>{{ object.comment }}</td>
        </tr>
        <tr>
            <td>
                <a class ="btn btn-primary" href="/defcdb/{{ object.get_classname }}/update/{{ object.id }}"> Edit </a>
            </td>
            <td>
                <a class ="btn btn-danger btn-sm" href="/defcdb/{{ object.get_classname }}/delete/{{ object.id }}"> Delete </a>
            </td>
        </tr>
</table>
</div>
{% endblock content %}>