{% extends "defcdb/listBase.html" %}
{% block Titel %}See All Objects{% endblock %}

{% block panelhead %}
  <div>
    <a class ="btn btn-primary btn-lg"  href="{% url 'defcdb:site_create' %}">create new Site</a>
  </div>
{% endblock panelhead %}

{% block tablebody %}
<table class="table table-striped">
  <thead>
        
    <tr>
      <th class="sorter-checkbox"></th>
      <th>Name</th>
      <th>Alternative name</th>
      <th>Region</th>
      <th>District</th>
      <th>Topography</th>
      <th>Areas (area type)</th>
      <th>view | modify | delete</th>
  </thead>
  <tfoot>
    <tr>
      <th class="sorter-checkbox"></th>
      <th>Name</th>
      <th>Alternative name</th>
      <th>Region</th>
      <th>District</th>
      <th>Topography</th>
          <th>Areas (area type)</th>
      <th>view | modify | delete</th>
      <!-- <th>description</th> -->
    </tr>
  </tfoot>
  <tbody>
   {% for object in object_list %}
   <tr>
    <td>
        <input type="checkbox">
        </td>
    <td>
      {{ object.name }}
    </td>
    <td>
      {% for x in object.alias_name.all %}
        {{ x.name }}<br/>
      {% endfor %}
    </td>
    <td>
      {{ object.province.region }} 
    </td>
    <td>
      {{ object.province.name }} 
    </td>
    <td>
      {{ object.topography }} 
    </td>
    <td>
      {% if object.area_set.all %}
      {% for x in object.area_set.all %}
        <a href="/defcdb/area/detail/{{ x.id }}">
          {{ x.area_type }}
        </a><br/>
      {% endfor %}
      <a class ="btn btn-primary btn-sm"  href="/defcdb/area/create/?site={{ object }}">
                create another area </a>
      {% else %}
      <a class ="btn btn-primary btn-sm"  href="/defcdb/area/create/?site={{ object }}">
        create a new area
      </a>
      {% endif %}
    </td>
    <td>
      <a class ="btn btn-primary btn-sm"  href="/defcdb/{{ object.get_classname }}/detail/{{ object.id }}">view</a> 
      <a class ="btn btn-primary btn-sm" href="/defcdb/{{ object.get_classname }}/update/{{ object.id }}">edit</a>
      <a class ="btn btn-danger btn-sm" href="/defcdb/{{ object.get_classname }}/delete/{{ object.id }}">delete</a>
    </td>
   </tr>  
    {% endfor %}
  </tbody>
</table>
{% endblock tablebody %}
