{% extends "defcdb/download_list.html" %} 

{% block Titel %}See All Objects{% endblock %}

{% block content %}


<div class="container">

<div class="panel panel-default">
<div class="panel-heading">
    <h1> All Objects: 
    {% with object_list|first as first_doc %}
      {{ first_doc.get_classname|title }} 
    {% endwith %}
    </h1>
    <div>
      <a class ="btn btn-primary btn-lg"  href="{% url 'defcdb:site_create' %}">create new Site</a>
    </div>
</div>
<div class="panel-body">
  <div class="group1">
    {% if object_list %}
  <div class="btn-group">
    <button type="button" class="btn btn-default reset">Reset</button> <!-- targeted by the "filter_reset" option -->

    <!-- Split button -->
    <div class="btn-group">
      <button type="button" class="btn btn-default download">Download</button>
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><h5 style="text-align:left"><strong>Output options</strong></h5></li>
        <li>
          <label>Separator: <input class="output-separator-input btn btn-default btn-xs" type="text" size="2" value=","/></label>
          <button type="button" class="output-separator btn btn-default btn-xs active" title="comma">,</button>
          <button type="button" class="output-separator btn btn-default btn-xs" title="semi-colon">;</button>
          <button type="button" class="output-separator btn btn-default btn-xs" title="tab">  </button>
          <button type="button" class="output-separator btn btn-default btn-xs" title="space"> </button>
          <button type="button" class="output-separator btn btn-default btn-xs" title="output JSON">json</button>
          <button type="button" class="output-separator btn btn-default btn-xs" title="output Array">array</button>
        </li>
        <li>
          <div class="btn-group output-download-popup" data-toggle="buttons" title="Download file or open in Popup window">
            <form>
            <label>
              <input type="radio" name="delivery1" class="output-download" checked=""> Download
            </label>
            <label>
              <input type="radio" name="delivery1" class="output-popup"> Popup
            </label>
          </form>
          </div>
        </li>
        <li>
          <div class="btn-group output-filter-all" data-toggle="buttons" title="Output only filtered, visible, selected, selected+visible or all rows">
            <form>
            <label>
              <input type="radio" name="getrows1" class="output-all" checked="checked"> All
            </label>
            <label>
              <input type="radio" name="getrows1" class="output-filter"> Filtered
            </label>
            <label>
              <input type="radio" name="getrows1" class="output-visible"> Visible
            </label>
            <label>
              <input type="radio" name="getrows1" class="output-selected"> Selected
            </label>
            <label>
              <input type="radio" name="getrows1" class="output-sel-vis"> Sel+Vis
            </label>
          </form>
          </div>
        </li>
        <li class="divider"></li>
        <li>
          <label>Replace quotes: <input class="output-replacequotes btn btn-default btn-xs" type="text" size="2" value="'"/>
          </label>
          <button type="button" class="output-quotes btn btn-default btn-xs active" title="single quote">'</button>
          <button type="button" class="output-quotes btn btn-default btn-xs" title="left double quote">“</button>
          <button type="button" class="output-quotes btn btn-default btn-xs" title="escaped quote">\"</button>
        </li>
        <li><label title="Remove extra white space from each cell">Trim spaces: <input class="output-trim" type="checkbox" checked=""></label></li>
        <li><label title="Include HTML from cells in output">Include HTML: <input class="output-html" type="checkbox"></label></li>
        <li><label title="Wrap all values in quotes">Wrap in Quotes: <input class="output-wrap" type="checkbox"></label></li>
        <li><label title="Choose a download filename">Filename: <input class="output-filename btn btn-default btn-xs" type="text" size="15" value="mytable.csv"></label></li>
      </ul>
    </div>
  </div>
  <div class="ts-pager form-horizontal">
    <button type="button" class="btn btn-default btn-sm first"><i class="icon-step-backward glyphicon glyphicon-step-backward"></i></button>
    <button type="button" class="btn btn-default btn-sm prev"><i class="icon-arrow-left glyphicon glyphicon-backward"></i></button>
    <span class="pagedisplay"></span> <!-- this can be any element, including an input -->
    <button type="button" class="btn btn-default btn-sm next"><i class="icon-arrow-right glyphicon glyphicon-forward"></i></button>
    <button type="button" class="btn btn-default btn-sm last"><i class="icon-step-forward glyphicon glyphicon-step-forward"></i></button>
    <select class="pagesize form-control btn-sm input-mini" title="Select page size">
            <option selected="selected" value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
            <option value="40">40</option>
            <option value="1000">all</option>
    </select>
    <select class="gotoPage form-control btn-sm" title="Select page number"></select>
  </div>
  <table id="table" class="tablesorter">
  <thead>
    <tr>
      <th class="sorter-checkbox"></th>
      <th>Name</th>
      <th>Alternative name</th>
      <th>Region</th>
      <th>District</th>
      <th>Topography</th>
      <th>Areas (area type)</th>
      <th>view | modify | delete</th>
  </thead>
  <tfoot>
    <tr>
      <th class="sorter-checkbox"></th>
      <th>Name</th>
      <th>Alternative name</th>
      <th>Region</th>
      <th>District</th>
      <th>Topography</th>
      <th>Areas (area type)</th>
      <th>view | modify | delete</th>
      <!-- <th>description</th> -->
    </tr>
  </tfoot>
  <tbody>
   {% for object in object_list %}
   <tr>
    <td>
            <input type="checkbox">
        </td>
    <td>
      {{ object.name }}
    </td>
    <td>
      {% for x in object.alias_name.all %}
        {{ x.name }}<br/>
      {% endfor %}
    </td>
    <td>
      {{ object.province.region }} 
    </td>
    <td>
      {{ object.province.name }} 
    </td>
    <td>
      {{ object.topography }} 
    </td>
    <td>
      {% if object.area_set.all %}
      {% for x in object.area_set.all %}
        <a href="/defcdb/area/detail/{{ x.id }}">
          {{ x.area_type }}
        </a><br/>
      {% endfor %}
      <a class ="btn btn-primary btn-sm"  href="/defcdb/area/create/?site={{ object }}">
                create another area </a>
      {% else %}
      <a class ="btn btn-primary btn-sm"  href="/defcdb/area/create/?site={{ object }}">
        create a new area
      </a>
      {% endif %}
    </td>
    <td>
      <a class ="btn btn-primary btn-sm"  href="/defcdb/{{ object.get_classname }}/detail/{{ object.id }}">view</a> 
      <a class ="btn btn-primary btn-sm" href="/defcdb/{{ object.get_classname }}/update/{{ object.id }}">edit</a>
      <a class ="btn btn-danger btn-sm" href="/defcdb/{{ object.get_classname }}/delete/{{ object.id }}">delete</a>
    </td>
   </tr>  
    {% endfor %}
  </tbody>
    </table>
  </div>
</div>
</div>
</div>
{% else %}
<p> There is no <i>object_list</i></p>
{% endif %} 
{% endblock content %}