{% extends "defcdb/base.html" %} 
{% block content %}
{% load crispy_forms_tags %}

<div class="container">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h1> Edit {{ classname }} {{ object.get_classname }}</h1>
			</div>
			<div class="panel-body">
				{% crispy form %}
			</div>
		</div>
	</div>
</div>
{% endblock content %}
{% block scripts %}

<script type="text/javascript">
	function popupCreateName() {
		var url = "{% url 'defcdb:name_create' %}";
		var MyWindow = window.open(url,"","width=300, height=500");
	}
</script>
<script type="text/javascript">
	$(document).ready(function(){
		$("#id_alias_name-autocomplete").after('<button id="add_aliasName" type="button" class="btn btn-sm btn-success" onclick="popupCreateName()"><span class="glyphicon glyphicon-plus" /></button>');
	});
	$(document).ready(function(){
		$("#id_alternative_name-autocomplete").after('<button id="add_alternativeName" type="button" class="btn btn-sm btn-success" onclick="popupCreateName()"><span class="glyphicon glyphicon-plus"/></button>');
	});
</script>

<!--condition for Period field visibility-->
<script type="text/javascript">
    $('#id_site').change(function(){
         var selected_option = $('#id_site option:selected').text();

        if(selected_option == "---------"){
            $('#div_id_period option').show();
        }
        else{
            var selected_site = $('#id_site option:selected').text().substring(0, $('#id_site option:selected').text().indexOf('_'));
            $('#div_id_period option:contains('+selected_site+')').show();
            $('#div_id_period option:not(:contains('+selected_site+'))').hide();
            
        }
    });
</script>

{% endblock %}