{% extends "defcdb/base.html" %}
{% load static %}
{% block content %}

<div class="container text-center">
      <h2 class="bs-docs-featurette-title">Digitizing Early Farming Cultures (DEFC)</h2><br>
      <ul class="nav nav-tabs nav-justified" id="myTab">
          <li class="active"><a data-toggle="tab" href="#project" style="color:#686868 ">Project</a></li>
          <!-- <li><a data-toggle="pill" href="#partners" style="color:#686868 ">Partners</a></li> -->
          <li><a data-toggle="tab" href="#team" style="color:#484848">Team</a></li>
          <li><a data-toggle="tab" href="#events" style="color:#484848">Events</a></li>
          <li><a data-toggle="tab" href="#contact" style="color:#484848">Contact</a></li>
    </ul>
    <div class="tab-content" style="text-align:justify">
    <div id="project" class="tab-pane fade in active row">
      <div class="col-sm-8">
        <h3>About DEFC project</h3>
        <p>Digitizing Early Farming Cultures aims to create standardized and integrated research data of Neolithic and Chalcolithic sites and finds of Greece and Anatolia (c. 7000–3000 BC according to Greek terminology). The bases for the project are non-digital and digital sources from a series of research projects from the new ÖAW research group Anatolian Aegean Prehistoric Phenomena (AAPP) at the OREA Institute. AAPP studies archaeological sites and finds from the Neolithic to the Bronze Age in Greece and Western Anatolia, two neighbouring and archaeologically closely related regions usually studied in isolation of each other. The group focusses on research questions concerning technological and social changes, settlement patterns, exchange and sourcing of raw materials.
        </p>
        <p>Research across the area currently suffers from fragmented data organized according to differing knowledge schemes, which developed independently in the two different research traditions. Independent terminologies and chronologies have developed, hindering collaborative research. To provide a basis for studying archaeological phenomena collaboratively across the whole region, standardization of research data is required.
        </p>
        <p>The aim of this project is to harmonize existing datasets, digitize analogue data from publications and integrate metadata for easy access and data reuse. The data will be made available in an open access archaeological data management system, which complies with standards of data sharing and interoperability with related initiatives. Digitizing Early Farming Cultures, for the first time, will enable research across several, so far unlinked projects to answer research questions and it will foster active collaboration between researchers in OREA.
        </p>
        <p>Project duration: 01.11.2014 - 31.10.2017</p>
        <h3>Publications</h3>

        <p>Štuhec, Seta; Aspöck, Edeltraud; Masur, Anja; Andorfer, Peter; Zaytseva, Ksenia, (2016).
           Putting 3D models into context - the Schachermeyr pottery collection and the DEFC app.
            Proceedings of the 8th International Congress on Archaeology, Computer Graphics, Cultural Heritage and Innovation ‘ARQUEOLÓGICA 2.0’,
             5. – 7. Sept. 2016, Valencia, Spain. URL:
           </p>
           <p><a href="http://ocs.editorial.upv.es/index.php/arqueologica20/arqueologica8/paper/viewFile/4155/2288">
             http://ocs.editorial.upv.es/index.php/arqueologica20/arqueologica8/paper/viewFile/4155/2288
           </a></p>
         </br>
        <p>Andorfer, P., Aspöck, E., Ďurčo, M., Masur, A., Zaytseva, K. (2016).
           The DEFC-App: A Web-based Archaeological Data Management System for ‘Digitizing Early Farming Cultures’.
            In Digital Humanities 2016: Conference Abstracts. Jagiellonian University & Pedagogical University, Kraków, pp. 726-728.
             URL:</p>
             <p><a href="http://dh2016.adho.org/abstracts/27">
               http://dh2016.adho.org/abstracts/27
             </a></p>
           </br>
        <p>Aspöck, Edeltraud; Masur, Anja (2015). Digitizing Early Farming Cultures.
           Customizing the Arches Heritage Inventory and Management System.
            Proceedings of Digital Heritage International Congress 2015, 28. Sept. - 2. Oct., Granada, Spain.
          </p>
          <br>
      </div>
      <div class="col-sm-4" style="text-align:center">
        <div class="thumbnail">
        <img class="img-responsive" id="defclogo" src="{% static "webpage/logo_defc_03.jpg" %}" alt="defc">
        </div>
        <h3>Funded by</h3><br>
        <a href="http://www.oeaw.ac.at/en/fellowship-funding/foerderprogramme/godigital/" class="navlink" target="_blank">
        <div>
          <p><strong>Austrian Academy of Sciences Initiative GO!DIGITAL (ACDH 2014/22)</strong></p>
        </div><br>
        <div class="thumbnail">
          <img class="img-responsive" id="oeawlogo" src="{% static "webpage/OEAW_en_Logo_cmyk_text.jpg" %}" alt="OEAW">
        </div>
        </a><br>
        <a href="http://www.ariadne-infrastructure.eu/" class="navlink" target="_blank">
        <div>
          <p><strong>ARIADNE EU-funded project (FP7-313193)</strong></p>
        </div><br>
        <div class="thumbnail">
          <img class="img-responsive" id="ariadnelogo" src="{% static "webpage/Ariadne_logo.jpg" %}" alt="ARIADNE">
        </div>
        </a>
      </div>
    </div>
  <div id="team" class="tab-pane fade">
      <h3>Digital Archaeology Research Group, Institute for Oriental and European Archaeology</h3><br>
      <p>Project leader: Edeltraud Aspöck</p>
      <p>Research assistants: Anja Masur, Seta Štuhec, Irene Petschko</p>
      <p>Data entry: Marina Brzakovic, Theresa Rinner, Dominik Bochatz, Sheba Schilk, Eleonora Semilidou</p>
      <h3>Austrian Centre for Digital Humanities</h3><br>
      <p>Developers: <a href="http://www.oeaw.ac.at/acdh/en/andorfer" target="_blank">Peter Andorfer</a>, Ksenia Zaytseva</p>
    </div>
    <div id="events" class="tab-pane fade">
        <h3></h3>
    {% if event_list %}
    <div class="panel panel-default">
    <table class="table table-bordered table-hover">
      <thead>
        <tr style="background-color:#F8F8F8">
          <th>Dates</th>
          <th>Event</th>
          <th>Place</th>
        </tr>
      </thead>
      <tbody>
      {% for object in  event_list %}
      <tr>
        <td>
          {% if object.end_date != None %}
            {{ object.start_date }} - {{ object.end_date }}
          {% else %}
            {{ object.start_date }}
          {% endif %}
        </td>
        <td>
          {% if object.webpage != "" %}
            <a href="{{ object.webpage }}" target="_blank" class="navlink">
            {{ object.name }}</a>
          {% else %}
            {{ object.name }}
          {% endif %}
        </td>
        <td>
          {{ object.place }}
        </td>
      </tr>
      {% endfor %}
    </tbody>
    </table>
    </div>
    {% endif %}
    <br>
    </div>
    <div id="contact" class="tab-pane fade">
  <address>
  <h3>Digital Archaeology Research Group, Institute for Oriental and European Archaeology</h3>
  Hollandstrasse 11-13<br>
  A-1020 Vienna, Austria<br>
  <abbr title="Phone">P:</abbr> +43 1 51581-6101<br>
  <a href="mailto:Edeltraud.Aspoeck@oeaw.ac.at" style="color:black">Edeltraud.Aspoeck@oeaw.ac.at</a>
</address>
<address>
  <h3>Austrian Center for Digital Humanities (ACDH)</h3>
  Sonnenfelsgasse 19<br>
  A-1010 Vienna, Austria<br>
  <abbr title="Phone">P:</abbr> +43 1 51581-2200<br>
  <a href="mailto:acdh@oeaw.ac.at" style="color:black">acdh@oeaw.ac.at</a>
</address>
    </div>
  </div>

  </div>

<!--Keep active tab on page refresh-->
<script>
 $(document).ready(function() {
    if(location.hash) {
        $('a[href=' + location.hash + ']').tab('show');
    }
    $(document.body).on("click", "a[data-toggle]", function(event) {
        location.hash = this.getAttribute("href");
    });
});
$(window).on('popstate', function() {
    var anchor = location.hash || $("a[data-toggle=tab]").first().attr("href");
    $('a[href=' + anchor + ']').tab('show');
});

</script>


<!-- Place this tag right after the last button or just before your close body tag. -->

<script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
{% endblock %}
