{% extends "webpage/ada_tepe_movie_content.html" %}
{% load static %}
{% block video_container %}
<div class="container">
	<div class="movie-header">
		<h2>Ada Tepe: Das erste Gold</h2>
</div>
	<div class="video-container">
		<iframe width="560" height="315" src="https://www.youtube.com/embed/ciyE1LLDA9o" frameborder="0" allowfullscreen></iframe>
	</div>
  <div class="switch_language">
    <a href="{% url 'webpage:ada_tepe_movie_content' %}" class="btn btn-default movie-btn" role="button">Switch to English version</a>
  </div>
{% endblock video_container %}
{% block intro %}
<div id="introduction" class="tab-pane fade in active tabs-content">
  <h3 class="tabs-title">Introduction</h3>
  <p>Das Forschungsprojekt zum bronzezeitlichen Goldbergwerk auf dem Ada Tepe in den Ostrhodopen
     Bulgariens ist eine Kooperation zwischen dem Institut für Orientalische und Ägäische Archäologie (OREA)
     der Österreichischen Akademie der Wissenschaften
     und dem Nationalen Institut für Archäologie mit Museum (NAIM) der Bulgarischen Akademie der Wissenschaften
     sowie zahlreichen weiteren nationalen und internationalen Kooperationspartnern.</p>
   <p>Beim Ada Tepe handelt es sich um das älteste bislang in Europa identifizierte und wissenschaftlich
     erforschte Goldbergwerk, das im zweiten Jahrtausend v.u.Z. – genauer ab ca. 1500 – in Betrieb war.
     Auf dem Gipfel des Hügels und an seinen Hängen wurde mit der Methode des Feuersetzens goldhaltiges Quarzgestein abgebaut.
     Dieses wurde anschließend zermahlen, so dass im letzten Schritt schließlich Gold ausgewaschen werden konnte.
     Auf dem Hügel konnte aber auch eine Siedlung der ehemals im Bergbau tätigen Menschen ausgegraben werden.
     Beides – die Prozesse des Goldabbaus und der Goldgewinnung sowie die Siedlungsaktivitäten –
     zeigt dieses von der Firma 7 Reasons in Zusammenarbeit mit den Archäologinnen und Archäologen des Ada-Tepe-Teams erstellte Video.</p>
   <p>Der Film zu den Forschungsergebnissen wurde unter anderem auch für die Ausstellung „Das erste Gold“ im Kunsthistorischen Museum Wien (KHM) (7. 3. - 25. 6. 2017) produziert.
     Die Ausstellung wurde gemeinsam von KHM, NAIM und OREA konzipiert und von H. Popov, B. Horejs, G. Plattner und St. Alexandrov kuratiert.</p>
</div>
{% endblock intro %}
{% block credits %}

<div id="credits" class="tab-pane fade tabs-content">
	<h3 class="tabs-title">Credits</h3>
	<p><b>Das Projekt wird durch den Fonds zu Förderung der Wissenschaftlichen Forschung finanziert (Projekt 28451-G25) (Projektleiterin Barbara Horejs).</b></p>
	<div class="row">
	<div class="col-md-6">
		 <img class="img-responsive movie_logo center-block" id="fwf_logo" src="{% static "webpage/fwf_logo.jpg" %}" style="width:50%">
	</div>
	</div>
	<p>Projektpartner:</p>
	<ul>
	<li>Institut für Orientalische und Ägäische Archäologie (OREA) der Österreichischen Akademie der Wissenschaften</li>
	<li>Nationales Institut für Archäologie mit Museum (NAIM) der Bulgarischen Akademie der Wissenschaften</li>
	</ul>
	<p>Ausgrabung:</p>
	<ul>
		<li>Der Ada Tepe wurde von einem Team von NAIM (Bulgarische Akademie der Wissenschaften) unter der Leitung von Hristo Popov ausgegraben.</li>
	</ul>

	<p>Visualisierung:</p>
	<ul>
		<li>M. Klein/7 Reasons Media GmbH im Kooperation mit B. Horejs, H. Popov und Ada Tepe Team</li>
	</ul>
	<p>Entwiklung:</p>
	<ul>
		<li>P. Andorfer</li>
		<li>K. Zaytseva</li>
	</ul>
	<p><b>
	 Der Inhalt dieser Seite ist unter <a href="https://creativecommons.org/licenses/by-nc-nd/3.0/">cc by-nc-nd</a> Lizenz lizenziert.
	</b></p>

	<br/>
	<!-- <a href="#howtocite" class="btn btn-default movie-btn" role="button" data-toggle="collapse" data-target="#howtocite" id="testhowto">How to cite</a> -->
	 <button  type="button" class="btn btn-default" data-toggle="collapse" data-target="#howtocite" id="howtocite-btn">Zitieren</button>

	<div id="howtocite" class="collapse">
	<p>7 Reasons – OREA – NAIM, Das erste Gold. Ada Tepe: Das älteste Goldbergwerk Europas.  < https://defc.acdh.oeaw.ac.at/ada-tepe-movie-de/ > (last access {% now "jS F Y H:i" %}).</p>
	<br/>
	</div>

</div>

{% endblock credits %}
