{% extends "defcdb/base.html" %} 
{% load static %}
{% block Titel %} Building the defc app {% endblock %}
{% block content %}

<div class="jumbotron text-center" id="blogjumbo">
  <h1 class="blog-name">Building the defc app</h1>
  <p>a blog where we share our research practices</p>
</div>
<div class="container text-center">
 <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="post-preview">
            <a href="{% url 'webpage:blog_post_05' %}">
                <h2 class="post-title">
                    DEFC chronology and PeriodO
                </h2>
                <h3 class="post-subtitle">
                    Defining and linking archaeological periods
                </h3>
            </a>
            <p class="post-meta">Posted by Seta Štuhec on May 22, 2019
            </p>
        </div>
        <hr>
        <div class="post-preview">
            <a href="{% url 'webpage:blog_post_04' %}">
                <h2 class="post-title">
                    CIDOC CRM mapping
                </h2>
                <h3 class="post-subtitle">
                    Adding semantics to data
                </h3>
            </a>
            <p class="post-meta">Posted by Seta Štuhec, Ksenia Zaytseva, <a href="http://www.orea.oeaw.ac.at/das-institut/team/aspoeck-edeltraud/">Edeltraud Aspöck</a> on October 12, 2017
            </p>
        </div>
        <hr>
        <div class="post-preview">
            <a href="{% url 'webpage:blog_post_03' %}">
                <h2 class="post-title">
                    Building the defc thesaurus
                </h2>
                <h3 class="post-subtitle">
                    Knowledge organization
                </h3>
            </a>
            <p class="post-meta">Posted by Seta Štuhec, Ksenia Zaytseva, <a href="http://www.orea.oeaw.ac.at/das-institut/team/aspoeck-edeltraud/">Edeltraud Aspöck</a> on October 11, 2017
            </p>
        </div>
        <hr>
        <div class="post-preview">
            <a href="{% url 'webpage:blog_post_02' %}">
                <h2 class="post-title">
                    Implementation and future plans
                </h2>
                <h3 class="post-subtitle">
                    Opening and linking data
                </h3>
            </a>
            <p class="post-meta">Posted by <a href="http://www.orea.oeaw.ac.at/das-institut/team/aspoeck-edeltraud/">Edeltraud Aspöck</a>, Anja Masur, Seta Štuhec on August 2, 2016
            </p>
        </div>
        <hr>
        <div class="post-preview">
            <a href="{% url 'webpage:blog_post_01' %}">
                <h2 class="post-title">
                    Resources, user requirements and data modeling
                </h2>
                <h3 class="post-subtitle">
                    Pooling data together
                </h3>
            </a>
            <p class="post-meta">Posted by <a href="http://www.orea.oeaw.ac.at/das-institut/team/aspoeck-edeltraud/">Edeltraud Aspöck</a>, Anja Masur, Seta Štuhec on July 31, 2016
            </p>
        </div>
        <br>
    </div>
 </div>
 </div>
 	
{% endblock content %}