{% extends "webpage/movie_content_generic.html" %}
{% load static %}


{% block movie %}
<div class="container">
	<div class="movie-header">
		<h2>Çukuriçi Höyük - The World Heritage Site through Time</h2>
</div>

{% block video_container %}
	<div class="video-container">
		<iframe width="560" height="315" src="https://www.youtube.com/embed/_LvaGrLjGuA" frameborder="0" allowfullscreen></iframe>
	</div>
  <div class="switch_language">
    <a href="{% url 'webpage:cukurici_movie_german_version' %}" class="btn btn-default movie-btn" role="button">Switch to German version</a>
  </div>
{% endblock video_container %}

<div id="movie-description">

<ul class="nav nav-pills nav-justified" id="myList">

    <li class="active">
    <a data-toggle="pill" href="#introduction">Introduction</a>
    </li>
    <li>
    	<a data-toggle="pill" href="#neolithic_period">
    		Neolithic Period (6700-5900 BC)
    	</a>
    </li>
    <li>
    	<a data-toggle="pill" href="#late_chalcolithic_period">
    		Late Chalcolithic Period (3300-3000 BC)
    	</a>
    </li>
    <li>
    	<a data-toggle="pill" href="#early_bronze_age">
    		Early Bronze Age (3000-2750 BC)
    	</a>
    </li>
    <li>
    	<a data-toggle="pill" href="#visualization_process">
    		Visualization process
    	</a>
    </li>
    <li>
    	<a data-toggle="pill" href="#further_reading">
    		Further Reading
    	</a>
    </li>
    <li>
    	<a data-toggle="pill" href="#credits">
    		Credits
    	</a>
    </li>
 </ul>
 <div class="tab-content">
 	<div id="introduction" class="tab-pane fade in active tabs-content">
      <h3 class="tabs-title">Introduction</h3>
      <a href="{% static "webpage/movie_images/cukurici_10_12_2015_18-35-49_Figure15.jpg" %}">
        <img src="{% static "webpage/movie_images/cukurici_10_12_2015_18-35-49_Figure15.jpg" %}" class="standard-image img-responsive center-block"  alt="Map of the neolithisation of Western Anatolia with supposed routes of colonization from the Neolithic core zone of the Fertile Crescent" title="Map by Horejs et al. 2015">
      </a>
      <p>Neolithisation of Western Anatolia with supposed routes of colonization from the Neolithic core zone of the Fertile Crescent. A model of maritime colonization is based on different material studies of pioneer sites in Western Anatolia (i.e. Çukuriçi Höyük and Ulucak Höyük).
      </p>
      <a href="{% static "webpage/movie_images/cukurici_10_12_2015_18-35-49_g.jpg" %}">
        <img src="{% static "webpage/movie_images/cukurici_10_12_2015_18-35-49_g.jpg" %}" class="standard-image img-responsive center-block"  alt="The prehistoric site Çukuriçi Höyük in modern surroundings" title="Image by N. Lužnik Jancsary/LBI ArchPro/7reasons Medien GmbH">
      </a>
      <p>Nowadays, the prehistoric site Çukuriçi Höyük is situated in the southern vicinity of the ancient city of Ephesos and is surrounded by fertile fields.
      </p>
      <a href="{% static "webpage/movie_images/cukurici_10_12_2015_18-36-33.jpg" %}">
        <img src="{% static "webpage/movie_images/cukurici_10_12_2015_18-36-33.jpg" %}" class="standard-image img-responsive center-block"  alt="Çukuriçi Höyük excavation area in September 2014" title="Image by N. Lužnik Jancsary/LBI ArchPro/7reasons Medien GmbH">
      </a>
      <a href="{% static "webpage/movie_images/cukurici_10_12_2015_18-36-40.jpg" %}">
        <img src="{% static "webpage/movie_images/cukurici_10_12_2015_18-36-40.jpg" %}" class="standard-image img-responsive center-block"  alt="Çukuriçi Höyük excavation trenches in September 2014" title="Image by N. Lužnik Jancsary/LBI ArchPro/7reasons Medien GmbH">
      </a>
      <p>
        Systematic archaeological investigations of the tell site were started by the excavator Prof. Dr. Barbara Horejs in 2006. The model with the different trenches was created at the end of the excavation season 2014.
      </p>
      <a href="{% static "webpage/movie_images/018_01.jpg" %}">
        <img src="{% static "webpage/movie_images/018_01.jpg" %}" class="standard-image img-responsive center-block"  alt="Çukuriçi Höyük"
        title="Photo 1 by N. Lužnik Jancsary/LBI ArchPro/7reasons Medien GmbH; Photo 2 by Ch. Schwall/ERC Prehistoric Anatolia; Photo 3 by F. Ostmann/ERC Prehistoric Anatolia; Photo 4 by M. Börner/ERC Prehistoric Anatolia; Photos 5, 6, 7, 8 by N. Gail/ÖAI">
      </a>
      <p>
        [1] Overview of the settlement Çukuriçi Höyük from the western mountain (Bülbüldağ) taken in 2014 (photo by N. Lužnik Jancsary/LBI ArchPro/7reasons Medien GmbH).
      </p>
    </p>
        [2] Trench M1 upon the mound before starting the excavation in 2012 (photo by Ch. Schwall/ERC Prehistoric Anatolia).
    </p>
    <p>
        [3] Trench N6 located in the fields before starting the excavation in 2011 (photo by F. Ostmann/ERC Prehistoric Anatolia).
    </p>
    <p>
        [4] Overview of trench N6 after removing the first soil in 2011 (photo by M. Börner/ERC Prehistoric Anatolia).
    </p>
    <p>
        [5] The excavated Early Bronze Age remains of the southern trenches S1–2 at the end of the excavation season 2008 (photo by N. Gail/ÖAI).
    </p>
    <p>
        [6] Overview of the Early Bronze Age excavation of trenches S1–4 at the end of the excavation season 2009 (photo by N. Gail/ÖAI).
    </p>
    <p>
        [7] Trench N6 showing Neolithic settlement remains after excavation in 2011 (photo by N. Gail/ÖAI).
    </p>
    <p>
        [8] Overview of the Neolithic and Chalcolithic settlement remains of trenches N6–7 after the excavation in 2011 (photo by N. Gail/ÖAI).
    </p>


    </div>



    <div id="neolithic_period" class="tab-pane fade tabs-content">
      <h3 class="tabs-title">Neolithic Period (6700-5900 BC)</h3>
     <a href="{% static "webpage/movie_images/cukurici_10_12_2015_18-39-16_1.jpg" %}">
        <img src="{% static "webpage/movie_images/cukurici_10_12_2015_18-39-16_1.jpg" %}" class="standard-image img-responsive center-block"  alt="Profile at the northern part of Çukuriçi Höyük" title="Photo by F. Ostmann/ERC Prehistoric Anatolia">
      </a>
      <p>
        Profile at the northern part of Çukuriçi Höyük showing the different settlement phases. The settlement phase ÇuHö X is being presented exemplarily for the Neolithic period.
      </p>
      <a href="{% static "webpage/movie_images/cukurici_10_12_2015_18-39-30.jpg" %}">
        <img src="{% static "webpage/movie_images/cukurici_10_12_2015_18-39-30.jpg" %}" class="standard-image img-responsive center-block"  alt="The palaeogeographic reconstruction of the wider area around the tell of Çukuriçi Höyük" title="Image by M. Klein/7reasons Medien GmbH">
      </a>
      <p>
        The palaeogeographic reconstruction shows that the Neolithic settlement of Çukuriçi Höyük is situated in a fertile basin close to the seashore. Another Neolithic settlement, Arvalya Höyük, was detected in the western neighbouring valley.
      </p>
      <a href="{% static "webpage/movie_images/cukurici_10_12_2015_18-11-53.jpg" %}">
        <img src="{% static "webpage/movie_images/cukurici_10_12_2015_18-11-53.jpg" %}" class="standard-image img-responsive center-block"  alt="Visualization of the coastline near Çukuriçi Höyük" title="Image by N. Lužnik Jancsary/LBI ArchPro/7reasons Medien GmbH">
      </a>
      <p>
        Exotic goods like obsidian from the Aegean island Melos as well as a high amount of maritime nutrition revealed that seafaring must have been an important sector of the inhabitants of Çukuriçi Höyük.
      </p>
      <a href="{% static "webpage/movie_images/cukurici_10_12_2015_18-13-00_1.jpg" %}">
        <img src="{% static "webpage/movie_images/cukurici_10_12_2015_18-13-00_1.jpg" %}" class="standard-image img-responsive center-block"  alt="Visualization of the paleo-environment of Çukuriçi Höyük area" title="Image by N. Lužnik Jancsary/LBI ArchPro/7reasons Medien GmbH; M. Klein/7reasons Medien GmbH">
      </a>
      <p>
        The reconstruction of the paleo-environment attests that the landscape of the Neolithic settlement was mainly dominated by oak trees and small rivers. This formed the perfect basis for early farmers and herders.
      </p>
      <a href="{% static "webpage/movie_images/cukurici_10_12_2015_18-13-00_1Cuk13.jpg" %}">
        <img src="{% static "webpage/movie_images/cukurici_10_12_2015_18-13-00_1Cuk13.jpg" %}" class="standard-image img-responsive center-block"  alt="Plan of the excavated Neolithic settlement phase ÇuHö X" title="Plan by M. Börner/ERC Prehistoric Anatolia">
      </a>
      <p>
        The plan of the excavated Neolithic settlement phase ÇuHö X in trench N6 shows different free standing rectangular buildings and associated activity zones on the court in the south of the houses, which are called complexes.
      </p>
      <a href="{% static "webpage/movie_images/cukurici_10_12_2015_18-13-20.jpg" %}">
        <img src="{% static "webpage/movie_images/cukurici_10_12_2015_18-13-20.jpg" %}" class="standard-image img-responsive center-block"  alt="Visualization of the Neolithic houses of Çukuriçi Höyük" title="Image by N. Lužnik Jancsary/LBI ArchPro/7reasons Medien GmbH">
      </a>
      <p>
       The Neolithic houses were built on stone socles with a superstructure of pisé walls. Beams in between the walls were supporting the roof construction.
      </p>
      <a href="{% static "webpage/movie_images/cukurici_10_12_2015_18-13-00_circle.jpg" %}">
        <img src="{% static "webpage/movie_images/cukurici_10_12_2015_18-13-00_circle.jpg" %}" class="standard-image img-responsive center-block"  alt="Plan with the remains of the excavated Neolithic settlement phase ÇuHö X" title="Plan by M. Börner/ERC Prehistoric Anatolia">
      </a>
      <p>
        Several activities in the Neolithic settlement are attested by different find categories. A closer look will be taken at the finds of the marked area.
      </p>
      <a href="{% static "webpage/movie_images/cukurici_10_12_2015_18-13-33.jpg" %}">
        <img src="{% static "webpage/movie_images/cukurici_10_12_2015_18-13-33.jpg" %}" class="standard-image img-responsive center-block"  alt="Small finds of Complex 10,  Çukuriçi Höyük" title="Photo by F. Ostmann/ERC Prehistoric Anatolia">
      </a>
      <p>
       In Complex 10 various finds were uncovered, which provide us with important information of the everyday life of the Neolithic inhabitants. Beside ceramic vessels and different tools also weapons like sling missiles made of stone and clay were found.
      </p>
       <a href="{% static "webpage/movie_images/cukurici_10_12_2015_18-16-34.jpg" %}">
        <img src="{% static "webpage/movie_images/cukurici_10_12_2015_18-16-34.jpg" %}" class="standard-image img-responsive center-block"  alt="A Neolithic sling missile depot" title="SfM by M. Börner/ERC Prehistoric Anatolia">
      </a>
      <p>
       A sling missile depot containing numerous projectiles was stored inside the settlement.
      </p>
       <a href="{% static "webpage/movie_images/cukurici_10_12_2015_18-18-50.jpg" %}">
        <img src="{% static "webpage/movie_images/cukurici_10_12_2015_18-18-50.jpg" %}" class="standard-image img-responsive center-block"  alt="A Neolithic depot of long obsidian blades and a shaft straightener" title="SfM by M. Börner/ERC Prehistoric Anatolia">
      </a>
      <p>
       An extraordinary depot of long obsidian blades and a shaft straightener were found inside a building.
      </p>
      <a href="{% static "webpage/movie_images/cukurici_10_12_2015_18-18-50_122.jpg" %}">
        <img src="{% static "webpage/movie_images/cukurici_10_12_2015_18-18-50_122.jpg" %}" class="standard-image img-responsive center-block"  alt="A Neolithic depot of long obsidian blades and a shaft straightener" title="Photo by N. Gail/ÖAI">
      </a>
      <p>
       These so far unique finds of a cache of long obsidian blades show impressively the supra-regional connections of the settlement inhabitants. The raw material originates from the Aegean island Melos.
      </p>
      <a href="{% static "webpage/movie_images/cukurici_10_12_2015_18-19-26.jpg" %}">
        <img src="{% static "webpage/movie_images/cukurici_10_12_2015_18-19-26.jpg" %}" class="standard-image img-responsive center-block"  alt="An example of Neolithic thin-walled high quality pottery at Çukuriçi Höyük" title="Photo by H. Natho/ERC Prehistoric Anatolia">
      </a>
      <p>
       The Neolithic period is characterized by thin-walled high quality pottery made mainly for consumption and storage of food.
      </p>
       <a href="{% static "webpage/movie_images/1700_image.jpg" %}">
        <img src="{% static "webpage/movie_images/1700_image.jpg" %}" class="standard-image img-responsive center-block"  alt="Remains of a tuna filet on the floor of Çukuriçi Höyük Neolithic settlement" title="Photo by H. Natho/ERC Prehistoric Anatolia">
      </a>
      <p>
       Maritime resources were an important part of the subsistence strategy of the Neolithic community. This is demonstrated by several fish bones like the remains of a tuna filet on a floor.
      </p>
      <a href="{% static "webpage/movie_images/1766-3-1.jpg" %}">
        <img src="{% static "webpage/movie_images/1766-3-1.jpg" %}" class="standard-image img-responsive center-block"  alt="An anthropomorphic depiction" title="Scan by scan: M. Börner/ERC Prehistoric Anatolia">
      </a>
      <p>
       Rare depictions of human beings, animals and enigmatical creatures give an insight into transcendent and ritual practices of the Neolithic inhabitants.
      </p>
      <a href="{% static "webpage/movie_images/cukurici_10_12_2015_18-21-11.jpg" %}">
        <img src="{% static "webpage/movie_images/cukurici_10_12_2015_18-21-11.jpg" %}" class="standard-image img-responsive center-block"  alt="visualization of everyday life of the Neolithic inhabitants" title="Image by N. Lužnik Jancsary/LBI ArchPro/7reasons Medien GmbH">
      </a>
      <p>
      Everyday life of the Neolithic inhabitants took place outside the house in open courtyards and was characterized by farming, herding, processing crafts and the procurement of raw materials.
      </p>
    </div>



   <div id="late_chalcolithic_period" class="tab-pane fade tabs-content">
      <h3 class="tabs-title">Late Chalcolithic Period (3300-3000 BC)</h3>
      <a href="{% static "webpage/movie_images/cukurici_10_12_2015_18-22-03_Cuk14_M1_chalk.jpg" %}">
        <img src="{% static "webpage/movie_images/cukurici_10_12_2015_18-22-03_Cuk14_M1_chalk.jpg" %}" class="standard-image img-responsive center-block"  alt="Plan of the Late Chalcolithic Period remains" title="Plan by M. Börner/ERC Prehistoric Anatolia">
      </a>
      <p>
      After a hiatus of more than 2500 years Çukuriçi Höyük was resettled in the Late Chalcolithic Period. The plan including the excavated remains and the results of the geophysical prospection show a settlement structure of free standing buildings. Additionally, the earliest Late Chalcolithic settlement phase ÇuHö VII was surrounded by a large ditch.
      </p>
      <div class="row">
      <div class="col-md-6">
        <a href="{% static "webpage/movie_images/cukurici_10_12_2015_18-22-54.jpg" %}">
        <img src="{% static "webpage/movie_images/cukurici_10_12_2015_18-22-54.jpg" %}" class="row-image img-responsive center-block"  alt="Reconstruction of the ditch section" title="Plan by M. Börner/ERC Prehistoric Anatolia" id="img-plan-cross-section">
      </a>
    </div>
    <div class="col-md-6">
      <a href="{% static "webpage/movie_images/cukurici_10_12_2015_18-22-54_graben2.jpg" %}">
        <img src="{% static "webpage/movie_images/cukurici_10_12_2015_18-22-54_graben2.jpg" %}" class="row-image img-responsive center-block"  alt="Photo of the ditch" title="Photo by F. Ostmann/ERC Prehistoric Anatolia">
      </a>
      </div>
    </div>
    <p>
      The impressive ditch was excavated in trench N7. The certainly collectively built construction is measuring 6 m in width and 2.5 m in depth and was backfilled with numerous stones due to the extension of the settlement area in the next settlement phase.
    </p>
    <a href="{% static "webpage/movie_images/M1_Chalk_ohne_FBZ_Mauern.jpg" %}">
        <img src="{% static "webpage/movie_images/M1_Chalk_ohne_FBZ_Mauern.jpg" %}" class="standard-image img-responsive center-block"  alt="Architectural remains of the settlement phase ÇuHö VI and V in trench M1" title="Plan by M. Börner/ERC Prehistoric Anatolia">
      </a>
      <p>
      Several architectural remains of the following settlement phase ÇuHö VI and V were detected in trench M1 upon the mound directly underneath the Early Bronze Age architecture of ÇuHö IV.
      </p>
    <a href="{% static "webpage/movie_images/figurine.jpg" %}">
        <img src="{% static "webpage/movie_images/figurine.jpg" %}" class="standard-image img-responsive center-block"  alt="marble figurine" title="Photo by N. Gail/ÖAI">
      </a>
    <p>
      A special marble figurine found at Çukuriçi Höyük attests that the inhabitants of the late 4th millennium BC were integrated in broad communication and exchange networks.
      </p>
       <a href="{% static "webpage/movie_images/5533-5-1.jpg" %}">
        <img src="{% static "webpage/movie_images/5533-5-1.jpg" %}" class="standard-image img-responsive center-block"  alt="chisel made of arsenic copper" title="Scan by M. Börner/ERC Prehistoric Anatolia">
      </a>
      <p>
      Beside objects related to textile production, several metallurgical products like a chisel made of arsenic copper attest that specialized craft activities were conducted in the Late Chalcolithic settlements.
      </p>
      <a href="{% static "webpage/movie_images/cukurici_10_12_2015_18-24-57.jpg" %}">
        <img src="{% static "webpage/movie_images/cukurici_10_12_2015_18-24-57.jpg" %}" class="standard-image img-responsive center-block"  alt="Visualization of different domestic architecture-conical roof" title="Image by N. Lužnik Jancsary/LBI ArchPro/7reasons Medien GmbH; M. Klein/7reasons Medien GmbH">
      </a>
      <a href="{% static "webpage/movie_images/cukurici_10_12_2015_18-25-10.jpg" %}">
        <img src="{% static "webpage/movie_images/cukurici_10_12_2015_18-25-10.jpg" %}" class="standard-image img-responsive center-block"  alt="Visualization of different domestic architecture-flat roof" title="Image by N. Lužnik Jancsary/LBI ArchPro/7reasons Medien GmbH; M. Klein/7reasons Medien GmbH">
      </a>
      <p>
      Different domestic architecture like dwellings, storage buildings and ‘stone row structures’, which were used for drying fruits, point to intensive agricultural activities in the settlement. The question of the shape of the roof construction, whether conical or flat, remains open.
      </p>
    </div>



     <div id="early_bronze_age" class="tab-pane fade tabs-content">
      <h3 class="tabs-title">Early Bronze Age (3000-2750 BC)</h3>
        <a href="{% static "webpage/movie_images/cukurici_10_12_2015_18-25-32_1.jpg" %}">
        <img src="{% static "webpage/movie_images/cukurici_10_12_2015_18-25-32_1.jpg" %}" class="standard-image img-responsive center-block"  alt="Extensive excavations and geophysical prospections of the Early Bronze Age settlement phases ÇuHö IV and III" title="Plan by M. Börner/ERC Prehistoric Anatolia">
      </a>
      <p>
      Extensive excavations and geophysical prospections of the Early Bronze Age settlement phases ÇuHö IV and III revealed that the settlement mound was densely settled.
      </p>
      <a href="{% static "webpage/movie_images/cukurici_10_12_2015_18-25-34.jpg" %}">
        <img src="{% static "webpage/movie_images/cukurici_10_12_2015_18-25-34.jpg" %}" class="standard-image img-responsive center-block"  alt="Extensive excavations and geophysical prospections of the Early Bronze Age settlement phases ÇuHö IV and III" title="Plan by M. Börner/ERC Prehistoric Anatolia">
      </a>
      <p>
      In contrast to the previous periods the agglutinating architecture is represented by north-south aligned multi-roomed buildings, which are separated by ways and open courtyards.
      </p>
      <a href="{% static "webpage/movie_images/cukurici_10_12_2015_18-25-34_Schema.jpg" %}">
        <img src="{% static "webpage/movie_images/cukurici_10_12_2015_18-25-34_Schema.jpg" %}" class="standard-image img-responsive center-block"  alt="Distribution of metallurgy connected finds" title="Plan by M. Börner/ERC Prehistoric Anatolia">
      </a>
      <p>
      About 50 ovens and numerous metallurgical finds proof that Çukuriçi Höyük was an important metallurgical center at the beginning of the Early Bronze Age 1 period.
      </p>
      <a href="{% static "webpage/movie_images/Raum_18.jpg" %}">
        <img src="{% static "webpage/movie_images/Raum_18.jpg" %}" class="standard-image img-responsive center-block"  alt="Plan of room 18 with metallurgical ovens, installations and finds" title="Plan by M. Börner/ERC Prehistoric Anatolia" id="img-raum-18">
      </a>
      <p>
      Plan of the room 18 with metallurgical ovens, installations and finds found on a using horizon. The objects give an insight into the everyday life of the specialized craftsmen.
      </p>
      <a href="{% static "webpage/movie_images/012_992_Dama.jpg" %}">
        <img src="{% static "webpage/movie_images/012_992_Dama.jpg" %}" class="standard-image img-responsive center-block"  alt="Stag antlers" title="Photo by A. Galik/ERC Prehistoric Anatolia">
      </a>
      <p>
      Stag antlers found in the houses are indicating prestige hunting of huge deer, probably as special social activity.
      </p>

      <div class="row">
      <div class="col-md-4 imgWrapper">
        <a href="{% static "webpage/movie_images/Stamnos.jpg" %}">
        <img src="{% static "webpage/movie_images/Stamnos.jpg" %}" class="row-image center-block"  alt="Stamnos from Early Bronze Age" title="Image by Th. Urban/ERC Prehistoric Anatolia" id="img-pottery-01">
      </a>
      </div>
      <div class="col-md-4 imgWrapper">
        <a href="{% static "webpage/movie_images/pottery_02_v02.jpg" %}">
        <img src="{% static "webpage/movie_images/pottery_02_v02.jpg" %}" class="row-image center-block"  alt="A beak-spouted jug from Early Bronze Age" title="Photo by A. Galik/ERC Prehistoric Anatolia" id="img-pottery-02">
      </a>
      </div>
      <div class="col-md-4 imgWrapper">
        <a href="{% static "webpage/movie_images/5304-1-2.jpg" %}">
        <img src="{% static "webpage/movie_images/5304-1-2.jpg" %}" class="row-image center-block"  alt="A beak-spouted jug from Early Bronze Age" title="Scan by M. Börner/ERC Prehistoric Anatolia" id="img-pottery-03">
      </a>
      </div>
    </div>
    <p>
      Pottery like beak-spouted jugs or storage vessels were used for consumption and storing of food.
      </p>
      <a href="{% static "webpage/movie_images/5184-5-6_01.jpg" %}">
        <img src="{% static "webpage/movie_images/5184-5-6_01.jpg" %}" class="standard-image img-responsive center-block"  alt="A copper dagger from Early Bronze Age" title="Scan by M. Börner/ERC Prehistoric Anatolia">
      </a>
      <p>
      Moreover, a copper dagger indicate impressively the high production quality of the metallurgical workshops of the Early Bronze Age settlements.
      </p>
      <a href="{% static "webpage/movie_images/5606-3-2.jpg" %}">
        <img src="{% static "webpage/movie_images/5606-3-2.jpg" %}" class="standard-image img-responsive center-block"  alt="A crucible from Early Bronze Age" title="Scan by M. Börner/ERC Prehistoric Anatolia">
      </a>
      <p>
      Several tools related to metallurgical activities, like a crucible, clarify the way of metal production in Early Bronze Age Çukuriçi Höyük.
      </p>
      <a href="{% static "webpage/movie_images/cukurici_10_12_2015_18-29-06.jpg" %}">
        <img src="{% static "webpage/movie_images/cukurici_10_12_2015_18-29-06.jpg" %}" class="standard-image img-responsive center-block"  alt="Metallurgical objects from Early Bronze Age" title="Photo by N. Gail/ÖAI">
      </a>
      <p>
      The equipment of metallurgical objects demonstrates that products for local as well as for external trade (rod ingots) were produced.
      </p>
      <a href="{% static "webpage/movie_images/cukurici_10_12_2015_18-29-21.jpg" %}">
        <img src="{% static "webpage/movie_images/cukurici_10_12_2015_18-29-21.jpg" %}" class="standard-image img-responsive center-block"  alt="Room 18 with metallurgical ovens, installations and finds" title="Image by N. Lužnik Jancsary/LBI ArchPro/7reasons Medien GmbH">
      </a>
      <p>
      The ovens and hearths were used for metallurgy as well as partially also for cooking activities.
      </p>
      <a href="{% static "webpage/movie_images/test01.jpg" %}">
        <img src="{% static "webpage/movie_images/test01.jpg" %}" class="standard-image img-responsive center-block"  alt="An example of leather processing in the Early Bronze Age" title="Image by N. Lužnik Jancsary/LBI ArchPro/7reasons Medien GmbH">
      </a>
      <p>
      Installations and remains of other different crafts like bone tool production and leather processing indicate the multifunctional craftsmanship.
      </p>
      <a href="{% static "webpage/movie_images/cukurici_10_12_2015_18-29-59_1.jpg" %}">
        <img src="{% static "webpage/movie_images/cukurici_10_12_2015_18-29-59_1.jpg" %}" class="standard-image img-responsive center-block"  alt="Craftsmen sitting around an oven and processing metal" title="Image by N. Lužnik Jancsary/LBI ArchPro/7reasons Medien GmbH">
      </a>
      <p>
      Craftsmen sitting around an oven and processing metal. A mould is lying in the ember.
      </p>
      <a href="{% static "webpage/movie_images/cukurici_10_12_2015_18-30-21.jpg" %}">
        <img src="{% static "webpage/movie_images/cukurici_10_12_2015_18-30-21.jpg" %}" class="standard-image img-responsive center-block"  alt="Plan with Early Bronze Age ovens and hearths excavated in trench M1" title="Plan by M. Börner/ERC Prehistoric Anatolia">
      </a>
      <p>
      Plan with Early Bronze Age ovens and hearths excavated in trench M1 representing metallurgical workshops. Their high number supports the assumption of intensive metal working in the entire Early Bronze Age settlement.
      </p>
      <a href="{% static "webpage/movie_images/cukurici_10_12_2015_18-30-21_d.jpg" %}">
        <img src="{% static "webpage/movie_images/cukurici_10_12_2015_18-30-21_d.jpg" %}" class="standard-image img-responsive center-block"  alt="A perforated ceramic disc" title="Image by N. Lužnik Jancsary/LBI ArchPro/7reasons Medien GmbH">
      </a>
      <p>
      Maritime resources were still an important part of the subsistence strategy of the Early Bronze Age inhabitants. Various perforated ceramic discs, interpreted as net-sinkers, indicate the use of nets for fishing.
      </p>
      <a href="{% static "webpage/movie_images/cukurici_10_12_2015_18-30-35.jpg" %}">
        <img src="{% static "webpage/movie_images/cukurici_10_12_2015_18-30-35.jpg" %}" class="standard-image img-responsive center-block"  alt="A pit filled with shells" title="SfM by J. Schlegel/ERC Prehistoric Anatolia; Image by N. Lužnik Jancsary/LBI ArchPro/7reasons Medien GmbH">
      </a>
      <p>
      Besides fishing, the collection and consumption of mussels is demonstrated by accumulations of shells in the direct vicinity of hearths.
      </p>
      <a href="{% static "webpage/movie_images/cukurici_10_12_2015_18-30-50.jpg" %}">
        <img src="{% static "webpage/movie_images/cukurici_10_12_2015_18-30-50.jpg" %}" class="standard-image img-responsive center-block"  alt="Visualization of faunal remains" title="Image by N. Lužnik Jancsary/LBI ArchPro/7reasons Medien GmbH">
      </a>
      <p>
      The faunal remains confirm that seafood like fish, cuttlefish and especially edible cockles were found in high numbers in the Early Bronze Age.
      </p>
      <div class="row">
        <div class="col-md-6">
        <a href="{% static "webpage/movie_images/cukurici_10_12_2015_18-31-28_closeup04.png" %}">
        <img src="{% static "webpage/movie_images/cukurici_10_12_2015_18-31-28_closeup04.png" %}" class="row-image img-responsive center-block"  alt="Visualization of room 41" title="Image by N. Lužnik Jancsary/LBI ArchPro/7reasons Medien GmbH" id="image-room41">
      </a>
    </div>
    <div class="col-md-6">
      <a href="{% static "webpage/movie_images/cukurici_10_12_2015_18-31-28_Sketch_v02.png" %}">
        <img src="{% static "webpage/movie_images/cukurici_10_12_2015_18-31-28_Sketch_v02.png" %}" class="row-image img-responsive center-block"  alt="Plan of room 41" title="Plan by St. Grasböck/ERC Prehistoric Anatolia, M. Börner/ERC Prehistoric Anatolia">
      </a>
    </div>
      </div>
      <p>
      A further important economic sector is represented by textile production. Several finds of loom weights were excavated in room 41 in trench M1.
      </p>
      <a href="{% static "webpage/movie_images/cukurici_10_12_2015_18-31-45_Loom_Weights.jpg" %}">
        <img src="{% static "webpage/movie_images/cukurici_10_12_2015_18-31-45_Loom_Weights.jpg" %}" class="standard-image img-responsive center-block"  alt="Different types of loom weights from Early Bronze Age" title="Plate by Ch. Britsch/ERC Prehistoric Anatolia">
      </a>
      <p>
      Different types of loom weights, oval or cylindrical-shaped were found in high numbers in the Early Bronze Age.
      </p>
      <a href="{% static "webpage/movie_images/363-3-401.jpg" %}">
        <img src="{% static "webpage/movie_images/363-3-401.jpg" %}" class="standard-image img-responsive center-block"  alt="A spindle whorl from Early Bronze Age" title="Scan by M. Börner/ERC Prehistoric Anatolia">
      </a>
      <p>
      Beside loom weights also numerous spindle whorls of different sizes indicated a specialized degree of textile production.
      </p>
      <a href="{% static "webpage/movie_images/cukurici_10_12_2015_18-32-14.jpg" %}">
        <img src="{% static "webpage/movie_images/cukurici_10_12_2015_18-32-14.jpg" %}" class="standard-image img-responsive center-block"  alt="A reconstruction of the loom in room 41" title="Image by N. Lužnik Jancsary/LBI ArchPro/7reasons Medien GmbH, M. Klein/7reasons Medien GmbH">
      </a>
      <p>
      The installation of a loom can be reconstructed in room 41 based on post-holes and the high number of loom weights found on the floor.
      </p>
      <a href="{% static "webpage/movie_images/cukurici_10_12_2015_18-32-31.jpg" %}">
        <img src="{% static "webpage/movie_images/cukurici_10_12_2015_18-32-31.jpg" %}" class="standard-image img-responsive center-block"  alt="A reconstruction of the loom in room 41" title="Image by N. Lužnik Jancsary/LBI ArchPro/7reasons Medien GmbH, M. Klein/7reasons Medien GmbH">
      </a>
      <p>
      Reconstruction of the loom situated inside room 41 and other inventory of everyday life.
      </p>
      <a href="{% static "webpage/movie_images/vlcsnap-8957-04-21-20h22m20s807.png" %}">
        <img src="{% static "webpage/movie_images/vlcsnap-8957-04-21-20h22m20s807.png" %}" class="standard-image img-responsive center-block"  alt="A visualization of the small way in trench M1" title="Image by N. Lužnik Jancsary/LBI ArchPro/7reasons Medien GmbH">
      </a>
      <p>
      Two multi-roomed buildings excavated in trench M1 were separated by a small way.
      </p>
      <a href="{% static "webpage/movie_images/test02.jpg" %}">
        <img src="{% static "webpage/movie_images/test02.jpg" %}" class="standard-image img-responsive center-block"  alt="A visualization of the Early Bronze Age settlement at Çukuriçi Höyük" title="Image by N. Lužnik Jancsary/LBI ArchPro/7reasons Medien GmbH, M. Klein/7reasons Medien GmbH">
      </a>
      <p>
      A visualization of the Early Bronze Age settlement based on the excavation results, geophysical prospections and paleo-geographic drillings. The early proto-urban structure of the settlement with a distinct spatial organization is visible. Specialized craft activities are attested inside the settlement. Farming and herding took place outside in the wider surrounding of the settlement.
      </p>
    </div>


    <div id="visualization_process" class="tab-pane fade tabs-content">
      <h3 class="tabs-title">Visualization process</h3>
      <a href="{% static "webpage/movie_images/collage01.jpg" %}">
        <img src="{% static "webpage/movie_images/collage01.jpg" %}" class="standard-image img-responsive center-block"  alt="wider lanscape area" title="Image 1, 2, 4 by N. Lužnik Jancsary/LBI ArchPro/7reasons Medien GmbH; Plan 3 by A. Buhlke/ERC Prehistoric Anatolia" >
      </a>
      <p>
        The wider landscape area is obtained from publicly available Digital Elevation Model (DEM) and the tell area from the DEM made by the OREA team.
        <p>
          [1] The color shaded relief of the wider landscape area surrounding Çukuriçi Höyük.
        </p>
        <p>
          [2] 3D model of the wider landscape area surrounding Çukuriçi Höyük.
          </p>
          <p>
          [3] Topographical map of the tell Çukuriçi Höyük tell.
          </p>
          <p>
          [4] Gradient shader applied to the 3d model of the Çukuriçi Höyük tell.
        </p>
      </p>
      <a href="{% static "webpage/movie_images/collage02.jpg" %}">
        <img src="{% static "webpage/movie_images/collage02.jpg" %}" class="standard-image img-responsive center-block"  alt="Processing of the Çukuriçi Höyük excavation area SfM model" title="Images by N. Lužnik Jancsary/LBI ArchPro/7reasons Medien GmbH" >
      </a>
      <p>
        In September 2014 around 1500 pictures were collected on the site in order to create an image-based 3D model of the excavation area.
      </p>
      <a href="{% static "webpage/movie_images/collage03.jpg" %}">
        <img src="{% static "webpage/movie_images/collage03.jpg" %}" class="standard-image img-responsive center-block"  alt="combined terrain models" title="Images by N. Lužnik Jancsary/LBI ArchPro/7reasons Medien GmbH" >
      </a>
      <p>
        The models of the wider and the excavation area were combined to a joint terrain mesh.
      </p>
      <a href="{% static "webpage/movie_images/collage06.jpg" %}">
        <img src="{% static "webpage/movie_images/collage06.jpg" %}" class="standard-image img-responsive center-block"  alt="paleo terrain visualization" title="Plan 1 by M. Börner/ERC Prehistoric Anatolia; Image 2 by N. Lužnik Jancsary/LBI ArchPro/7reasons Medien GmbH; Image 3 by M. Klein/7reasons Medien GmbH">
      </a>
      <p>
        For paleo terrain visualization natural processes filters (e.g. erosion; image [2]) were added to the existing terrain model and sea was raised to the former water levels.
      </p>
      <a href="{% static "webpage/movie_images/collage07.jpg" %}">
        <img src="{% static "webpage/movie_images/collage07.jpg" %}" class="standard-image img-responsive center-block"  alt="CAD model of an Early Bronze Age building and texture" title="Images by N. Lužnik Jancsary/LBI ArchPro/7reasons Medien GmbH">
      </a>
      <p>
        For ancient architecture CAD models were created first based on excavation results and analogies. Later an appropriate uniquely designed texture was applied.
      </p>
      <a href="{% static "webpage/movie_images/screen01.jpg" %}">
        <img src="{% static "webpage/movie_images/screen01.jpg" %}" class="standard-image img-responsive center-block"  alt="assessment of the distribution of the tell houses" title="Image by N. Lužnik Jancsary/LBI ArchPro/7reasons Medien GmbH">
      </a>
      <p>
       The assessment of the distribution of the tell houses was extrapolated from the known excavated and/or prospected area. The pink area is known and the green area is extrapolated.
      </p>
      <a href="{% static "webpage/movie_images/collage04.png" %}">
        <img src="{% static "webpage/movie_images/collage04.png" %}" class="standard-image img-responsive center-block"  alt="Visualization of a loom weight" title="Images 1, 2 by N. Lužnik Jancsary/LBI ArchPro/7reasons Medien GmbH; Image 3 by by N. Lužnik Jancsary/LBI ArchPro/7reasons Medien GmbH, M. Klein/7reasons Medien GmbH">
      </a>
      <p>
       Selected finds were scanned for documentation with a Breuckmann structured-light 3D scanner or SfM models were created or they were recreated from the excavation documentation. Afterwards they were implemented in the scene; often as a part of a reconstructed tool or weapon. Here an example of a loom weight, prototypes of a suggested loom (with dummy loom weights) and implementation of the loom in the scene.
      </p>
      <a href="{% static "webpage/movie_images/collage05.jpg" %}">
        <img src="{% static "webpage/movie_images/collage05.jpg" %}" class="standard-image img-responsive center-block"  alt="Visualization of a loom weight" title="Images 1 by N. Lužnik Jancsary/LBI ArchPro/7reasons Medien GmbH; Image 2 by by N. Lužnik Jancsary/LBI ArchPro/7reasons Medien GmbH, M. Klein/7reasons Medien GmbH">
      </a>
      <p>
       In absence of knowledge of the ancient clothing and appearance of the inhabitants, the animals (e.g. goats and sheep) and people are depicted as shadowy figures.
      </p>
    </div>

    <div id="further_reading" class="tab-pane fade tabs-content">
      <h3 class="tabs-title">Further Reading</h3>
       <p>
  Selected bibliography (for further literature and information see <a href="http://www.orea.oeaw.ac.at/prehistoric-anatolia.html">ERC Prehistoric Anatolia</a>).
</p>


<p>
  B. Horejs – A. Galik – U. Thanheiser – S. Wiesinger, Aktivitäten und Subsistenz in den Siedlungen des Çukuriçi Höyük. Der Forschungsstand nach den Ausgrabungen 2006–2009, Prähistorische Zeitschrift 86, 2011, 1, 31–66.
</p>

<p>
  B. Horejs, Çukuriçi Höyük. A Neolithic and Bronze Age Settlement in the Region of Ephesos, in: M. Özdoğan et al. (eds.), The Neolithic in Turkey. New Excavations & New Research. Western Turkey (Istanbul 2012) 117–131.
</p>
<p>
B. Horejs, Proto-Urbanisation without Urban Centres? A Model of Transformation for the Izmir Region in the 4th Millennium BC, in: B. Horejs – M. Mehofer (eds.), Western Anatolia before Troy. Proto-Urbanisation in 4th Millennium BC? Proceedings of the International Symposium held at the Kunsthistorisches Museum Wien, Vienna, Austria, 21th-24th November 2012, OREA 1 (Vienna 2014) 15–41.
</p>
<p>
M. Mehofer, Metallurgy during the Chalcolithic and the Beginning of the Early Bronze Age in Western Anatolia, in: B. Horejs – M. Mehofer (eds.), Western Anatolia before Troy. Proto-Urbanisation in 4th Millennium BC? Proceedings of the International Symposium held at the Kunsthistorisches Museum Wien, Vienna, Austria, 21th-24th November 2012, OREA 1 (Vienna 2014) 463–489.
</p>
<p>
Ch. Britsch – B. Horejs, The Role of Textile Production and Fishing in the EBA Metallurgical Centre of Çukuriçi Höyük, Egypt and Levant 24, 2014, 229–242.
</p>
<p>
B. Horejs – M. Mehofer, Early Bronze Age Metal Workshops at Çukuriçi Höyük. Production of arsenical copper at the beginning of the 3rd mill. BC., in: A. Hauptmann – D. Modarressi-Tehrani (eds.), Archaeometallurgy in Europe III. Proceedings of the 3rd International Conference, Deutsches Bergbau-Museum Bochum, 29th of June – 1st of July 2011, Der Anschnitt Beih. 26 (Bochum 2015) 165–176.
</p>
<p>
B. Horejs – Ch. Schwall, New Light on a Nebulous Period – Western Anatolia in the 4th Millennium BC: Architecture and Settlement Structures as Cultural Patterns?, in: S. Hansen – P. Raczky – A. Anders – A. Reingruber (eds.), Neolithic and Copper Age between the Carpathians and the Aegean Sea. Chronologies and Technologies from the 6th to the 4th Millennium BCE, Archäologie in Eurasien 31 (Bonn 2015) 457–474.
</p>
<p>
B. Horejs – B. Milić – F. Ostmann – U. Thanheiser – B. Weninger – A. Galik, The Aegean in the Early 7th Millennium BC: Maritime Networks and Colonization, Journal of World Prehistory 28, 4, 289–230.
</p>
<p>
B. Horejs, Aspects of Connectivity on the Centre of the Anatolian Aegean Coast in 7th Millennium BC, in: B. P.C. Molloy (eds.), Of Odysseys and Oddities. Scales and modes of interaction between prehistoric Aegean societies and their neighbours (Oxford 2016) 143–167.
</p>
<p>
B. Horejs, Neue Gewichtssysteme und metallurgischer Aufschwung im frühen 3. Jahrtausend – ein Zufall?, in: M. Bartelheim – B. Horejs – R. Krauß (eds.), Von Baden bis Troia. Ressourcennutzung, Metallurgie und Wissenstransfer. Eine Jubiläumsschrift für Ernst Pernicka, OREA 3 (Rahden/Westf. 2016) 251–272.
</p>
<p>
N. Lužnik and M. Klein, Interdisciplinary workflow for Virtual Archaeology, 2015 Digital Heritage, Granada, 2015, 177-180.
</p>
<p>
M. Mehofer, Çukuriçi Höyük – Ein Metallurgiezentrum des frühen 3. Jts. V. Chr. in der Westtürkei in: M. Bartelheim – B. Horejs – R. Krauß (eds.), Von Baden bis Troia. Ressourcennutzung, Metallurgie und Wissenstransfer. Eine Jubiläumsschrift für Ernst Pernicka, OREA 3 (Rahden/Westf. 2016) 359–373.
</p>
    </div>


    <div id="credits" class="tab-pane fade tabs-content">
      <h3 class="tabs-title">Credits</h3>
      <p>
  B. Horejs, F. Ostmann, Ch. Schwall & the team of the ERC Project Prehistoric Anatolia; Institute for Oriental and European Archaeology (OREA); Austrian Academy of Sciences (AAS).
</p>
<p>
  Cooperation partners: </p>
<ul>
<li>Vienna Institute for Archaeological Sciences (VIAS)</li>
<li>Veterinärmedizinische Universität Wien, Institut für Anatomie</li>
<li>Österreichisches Archäologisches Institut (ÖAI), Ausgrabung Ephesos</li>
</ul>

<p>Visualization: </p>
<ul>
  <li>N. Lužnik Jancsary/ The Ludwig Boltzmann Institute for Archaeological Prospection and Virtual Archaeology – LBI ArchPro/7reasons Medien GmbH</li>
  <li>M. Klein/7reasons Medien GmbH</li>
</ul>
<p>Developers:</p>
<ul>
  <li>P. Andorfer</li>
  <li>K. Zaytseva</li>
</ul>
<p><b>
	The content of this page is licensed under <a href="https://creativecommons.org/licenses/by-nc-nd/3.0/">cc by-nc-nd</a> license.
</b></p>

<br/>
<!-- <a href="#howtocite" class="btn btn-default movie-btn" role="button" data-toggle="collapse" data-target="#howtocite" id="testhowto">How to cite</a> -->
 <button  type="button" class="btn btn-default" data-toggle="collapse" data-target="#howtocite" id="howtocite-btn">How to cite</button>


<div id="howtocite" class="collapse">
<p><b>
Movie:
</b></p>
<p>OREA – 7Reasons, Çukuriçi Höyük. The World Heritage Site Through Time. < http://defc.digital-humanities.at/movie/ > (last access {% now "jS F Y H:i" %}).</p>
<p>
<b>
Documentation:
</b>
</p>
<p>N. Lužnik Jancsary – B. Horejs – F. Ostmann – Ch. Schwall – M. Klein, Documentation of the movie ‘Çukuriçi Höyük. The World Heritage Site Through Time’.  < http://defc.digital-humanities.at/movie/ > (last access {% now "jS F Y H:i" %}).
</p>
<br/>
</div>


  <p><b>The research leading to these results has received funding from the European Research Council under the European Union's Seventh Framework Programme (FP7/2007-2013) / ERC grant agreement n° 263339.</b></p>
  <div class="col-md-6">
     <img class="img-responsive movie_logo center-block" id="h2020_logo" src="{% static "webpage/EC-H2020.jpg" %}" style="width:70%">
  </div>
  <div class="col-md-6">
     <img class="img-responsive movie_logo center-block" id="erc_logo" src="{% static "webpage/erc.jpg" %}" style="width:32%">
  </div>

    </div>
 </div>
</div>
</div>



{% endblock %}
