{% extends "defcdb/base.html" %}
{% load static %}

{% block content %}
<div class="container">
	<div class="alert alert-warning">
    <strong><h3>Warning!</h3> <h4>This is work in progress. The endpoint might be not working, or cause your browser to crash.</h4></strong> 
  </div>
<h1>DEFC2RDF demo page</h1>
<br/>
<p>
	This is a demo page for providing access to an experimental SPARQL endpoint for querying (parts of) the DEFC database.
</p>
<p>A partial mapping from DEFC's internal database schema to CIDOC-CRM was done with <a href="http://usc-isi-i2.github.io/karma/">Karma</a>, and with <a href="http://ontop.inf.unibz.it/">-ontop-</a>.
</p>
<p>Therefore <a href="http://ontop4obda.eos.arz.oeaw.ac.at/openrdf-workbench/repositories/defc/repositories">OpenRDF Workbench</a> contains two repositories:
	<ul>
		<li>defc</li>
		<li>karma export</li>
	</ul>
</p>
<p>Choose the one you want to query.</p>
<P>
	Go to Explore > Saved Queries and execute examples of SPARQL queries. <a href="http://ontop4obda.eos.arz.oeaw.ac.at/openrdf-workbench/repositories/defc/saved-queries">[go to -ontop- SPARQL queries]</a> <a href="http://ontop4obda.eos.arz.oeaw.ac.at/openrdf-workbench/repositories/karma_export/saved-queries">[go to Karma SPARQL queries]</a>
</p>
<P>
	If you want to write your own query go to Explore > Query.
</p> 
<p>
	<strong>Note </strong>Google Chrome is more likely to crash when executing the query so we suggest to use Mozilla Firefox for this.
</p>
</div>



{% endblock %}
