{% extends "webpage/about.html" %} 

{% block content %}

<div class="container">
{% if object_list %}
<div class="container">
<h1> Events </h1>
	<table class="table-responsive">

	 	{% for object in  object_list %}
	 	<tr>
	 		<td>
	 			{{ object }} 
	 		</td>
	 		<td>
	 			<a class ="btn btn-danger btn-sm" href="{% url 'webpage:event_delete' pk=object.id %}">  Delete </a> 
	 		</td>
	 	</tr>	
    	{% endfor %}
	</table>
{% endif %}
</div>
  
{% endblock %}
<!-- 2016-04-24 - 2016-04-29 10th ICAANE Conference Vienna, Austria http://www.orea.oeaw.ac.at/10icaane.html  -->