{% extends "webpage/about.html" %} 

{% block content %}

<div class="container">
<h1> Events </h1>
<div>
    <a class ="btn btn-default btn-md"  href="{% url 'webpage:event_create' %}">create new Event</a>
</div>
</br>
{% if object_list %}
	<table class="table-bordered responsive" >
		<thead>
			<th style="padding:5px;">Dates</th>
      		<th>Name</th>
      		<th>Place</th>
      		<th>Webpage</th>
      		<th>Update</th>
      		<th>Delete</th>
		</thead>
		<tbody>

	 	{% for object in  object_list %}
	 	<tr>
	 		<td style="padding:5px;">
	 			{{ object.start_date }} - {{ object.end_date }}
	 		</td>
	 		<td>
	 			{{ object.name }} 
	 		</td>
	 		<td>
	 			{{ object.place }} 
	 		</td>
	 		<td>
	 			{{ object.webpage }} 
	 		</td>
	 		<td>
	 			<a class ="btn btn-primary btn-sm" href="{% url 'webpage:event_update' pk=object.id %}">Update</a>
	 		</td>
	 		<td>
	 			<a class ="btn btn-danger btn-sm" href="{% url 'webpage:event_delete' pk=object.id %}">  Delete </a>
	 		</td>
	 	</tr>	
    	{% endfor %}
    </tbody>
	</table>
{% endif %}
</div>
  
{% endblock %}
<!-- 2016-04-24 - 2016-04-29 10th ICAANE Conference Vienna, Austria http://www.orea.oeaw.ac.at/10icaane.html  -->