{% extends "defcdb/base.html" %} 
{% load static %}
{% block content %}
<div class="imprint container">
    <h1>Impressum | imprint</h1>
    <div class="publishers">
        <h3>Publishers</h3>
        <h4>Institute for European and Oriental Archaeology (OREA), Austrian Academy of Sciences (ÖAW)</h4>
        <h5>Digital Archaeology Research Group</h5>
        <ul>
            <li>Edeltraud Aspöck</li>
            <li>Seta Štuhec</li>
            <li>Anja Masur</li>
            <li>Irene Petschko</li>
        </ul>
        <h5>Anatolian Aegean Prehistoric Phenomena Research Group (AAPP)</h5>
        <ul>
            <li>Barbara Horejs</li>
            <li>Eva Alram-Stern</li>
            <li>Christoph Schwall</li>
        </ul>
    </div>
    <div class="technical">
        <h3>Technical Implementation and Design</h3>
        <h4>Austrian Center for Digital Humanities (ACDH), Austrian Academy of Sciences (ÖAW)</h4>
        <ul>
            <li>Matej Ďurčo</li>
            <li>Peter Andorfer</li>
            <li>Ksenia Zaytseva</li>
        </ul>
    </div>
    <div class="disclaimer">
        All content and services on this website are provided by: <br/>
        Österreichische Akademie der Wissenschaften<br/>
        Juristische Person öffentlichen Rechts (BGBl 569/1921 idF BGBl I 130/2003)<br/>
        Dr. Ignaz Seipel-Platz 2, 1010 Wien, Österreich<br/>
        E-Mail: <a href="mailto:orea@oeaw.ac.at">orea@oeaw.ac.at</a> | <a href="mailto:acdh-tech@oeaw.ac.at">acdh-tech@oeaw.ac.at</a>
    </div>
</div>
{% endblock %}