{% extends "defcdb/base.html" %}
{% load static %}
{% block content %}
<style>
p {
   text-align:justify;
}
.movie-header {
	padding-top: 10px;
	padding-bottom: 20px;
}
.video-container {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	margin-bottom: 30px;

}
.video-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.standard-image {
  width:50%;
  height: auto;
  padding: 30px;
}
.row-image {
  max-width:100%;
  height: auto;
  width: auto;
  padding: 30px;

}
#img-plan-cross-section {
  padding-top: 80px;
}
#img-figurine_v02 {
  padding-top: 40px;
  max-width:65%;
}
#img-raum-18 {

  max-width: 40%;
}

#img-pottery-02 {
  max-width:80%;

}

.imgWrapper {
  display: block;
    margin-left: auto;
    margin-right: auto;
}
#image-room41 {
  padding-top: 150px;
}
/*.nav-pills.nav-justified > li {
 width: calc(94%/7);
}*/

.nav-pills >li > a {
	padding-left: 6px;
	padding-right: 6px;
	font-weight: bold;
}
.nav-pills li  a {
	color: black;

}
.nav-pills > li > a:hover,
.nav-pills > li > a:focus {
background-color: white;
}


.nav-pills >li.active,
.nav-pills > li.active >a,
.nav-pills > li.hover > a,
.nav-pills > li.focus > a  {
	background-color:#009688;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus {
	background-color:#009688;
}

#myList {
	padding-top: 70px;
	border-bottom: 3px solid #009688;

}
.tabs-title {
	font-weight: bold;
	padding-top: 30px;
	padding-bottom: 20px;
}
.tabs-content {
	padding-bottom: 40px;
}
.tabs-content a {
  color: black;
  border-bottom: 1px solid black;
}
.tabs-content a:hover {
  color: #0085A1;
  text-decoration: none;
  border-bottom: 1px solid #0085A1;
}

.movie-header h2 {
	font-weight: bold;

}

#howtocite-btn {
  outline: 0 !important;
  margin-bottom: 30px;
}

.movie_logo {
  padding: 20px;
}
#h2020_logo  {
  margin-top: 30px;
}
#fwf_logo {
  margin-top: 30px;
  margin-bottom: 30px;
}

</style>
{% block movie %}
<!--movie-->
{% endblock movie %}
<!--Keep active tab on page refresh-->
<script>
 $(document).ready(function() {
    if(location.hash) {
        $('a[href=' + location.hash + ']').tab('show');
    }
    $(document.body).on("click", "a[data-toggle]", function(event) {
        location.hash = this.getAttribute("href");
    });
});
$(window).on('popstate', function() {
    var anchor = location.hash || $("a[data-toggle=tab]").first().attr("href");
    $('a[href=' + anchor + ']').tab('show');
});

</script>
{% endblock content %}
