{% extends "defcdb/base.html" %}

{% load static %}

{% block content %}

<div class="imprint container">

   <h1>Using and Citing DEFC App</h1>

   <p>
      Unless stated otherwise, all DEFC App online data is licensed by OREA ÖAW under the <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a> license. As such, you are free to share, use and remix DEFC App data, as long as you attribute the source data accordingly.
   </p>
   <p>
      When citing DEFC App records please refer to the URL of the site and the date accessed. <br/>
Example of citation: <br/>
      <cite>DEFC App, https://defc.acdh.oeaw.ac.at/publicrecords/finds/detail/3, accessed {% now "F d, Y" %}.</cite>
   </p>

</div>

{% endblock %}
